[2016-01-13 22:13] robes opened #5 "Refactor the internal uri variables"
Our table and entity classes have a uri member variable. What we probably need to do is turn this into a path variable. Which is a component of the overall uri:

`[https] :// [service uri enpoint ending in /ermrest] [interface] [path] [other params]`

The reason for this change is so we can form URIs that will access different interfaces of the ermrest service (e.g., `schema`, `entity`, `attribute

[2016-01-13 22:15] robes opened #6 "Catalog.instrospect needs to return errors"
Currently the code only passes a function for the success case.

[2016-01-19 21:39] shinyichen opened #7 "Throw/Catch undefined schema/table exceptions"

[2016-01-19 21:39] shinyichen opened #8 "Encode URI"

[2016-01-21 14:56] #6 closed

[2016-01-21 14:56] #8 closed

[2016-01-21 14:56] #7 closed

[2016-01-21 15:06] robes opened #10 "Setup continuous integration"
We need to add CI to this project too.
- [ ] add configuration to run CI
- [ ] add a framework for automated tests
- [ ] convert tests in `ngtest.js` to new framework

Note: I assume we would use travis for the CI, jasmine for the framework, and maybe even protractor to test the example applications.

[2016-03-01 20:15] howdyjessie opened #12 "Get a related table from a Related Table"
Provide a way to get a related table from a related table.

For example, I'd like to be able to get all comments from each annotation that belongs to an image, as demonstrated by this url: https://dev.rebuildingakidney.org/ermrest/catalog/1/entity/rbk:image/id=11/rbk:annotation/rbk:annotation_comment

[2016-03-02 19:42] howdyjessie commented on #12
It works for me, thanks!

[2016-03-02 19:43] #12 closed

[2016-03-05 01:22] hongsudt opened #15 "functionality to support form data entry app"
1. Whatever ermrest API functions are needed to support introspection, data validation, and row insertion for informatics-isi-edu/division#35
2. Whatever ID generator library routines and/or dispatch logic to compute derived ID values from partial content for a new row.

Please consult with @robes and @karlcz on the needs.

[2016-03-05 01:25] hongsudt opened #16 "Datapath API"
@robes Can you please fill in the scope of this task?

[2016-03-08 01:30] howdyjessie opened #17 "Expose column type in Columns"
Is it possible to find the type of a column from ERMrest? Right now, Columns have `displayName`, `hidden`, and `name`, but it'd be nice to have `type` as well for the data entry app.

[2016-03-08 01:32] karlcz commented on #16
I think this assignment is backwards from what has been discussed in meetings, so flipping it around...

[2016-03-08 01:36] karlcz commented on #17
+1 I think you'd need this in most other apps to choose type-specific presentations too, right?

[2016-03-08 01:37] howdyjessie commented on #17
@karlcz Yeah definitely.

[2016-03-08 02:41] robes commented on #17
This is probably already in the revised ermrestjs api. We just need to get that in Jessie's hands.

[2016-03-08 02:47] #10 closed

[2016-03-08 02:48] robes commented on #5
we won't need this task with the revised api

[2016-03-08 02:48] #5 closed

[2016-03-08 02:50] robes commented on #16
The Datapath API could be a large and complex piece of work. I think I/we need to review this with jennifer and jessie (for her inputs on what we need for downstream apps that use it) so that we can break this into units that can be complted in ~week time units.

[2016-03-15 00:04] robes opened #18 "Initial set of automated tests for ermrestjs refactor branch"
We should develop an initial set of tests for the refactor branch.

[2016-03-15 21:20] howdyjessie commented on #17
It works! Thanks :)

[2016-03-15 21:20] #17 closed

[2016-03-20 02:57] hongsudt commented on #15
@shinyichen when you have a chance, please update this issues with detail tasks needed for this..

[2016-03-23 21:38] howdyjessie commented on #15
As far as I can tell, I have everything I need from ermrestjs for now. I'm rewriting the data entry app again so if I need something new, I'll reopen this issue.

[2016-03-23 21:38] #15 closed

[2016-03-23 21:49] robes opened #19 "Error reporting"
We need to develop a set of `Error` subclasses. Initially, we can create a shallow hierarchy that directly maps to the errors returned by ERMrest (e.g., 403 Forbidden, 409 Conflict, etc.), plus any additional error subclasses for things specific to the client API as needed.

Then we need to update our error reporting:
- `throw` instances of these error classes from functions that return immediatel

[2016-03-23 21:57] shinyichen commented on #15
These methods were added.
.all() for container classes
ForeignKeyRef.getDomainValues() -> get the possible values from the referenced table.
.colsets and get(colset) for _ForeignKeys

[2016-03-23 21:59] robes commented on #15
could you add those to the wiki for the api sketch?

[2016-03-30 22:12] shinyichen opened #20 "Update jsdoc comments"

[2016-03-31 22:12] mashuaihh opened #21 "Descriptions that might cause confusion"
I found this piece of description might be causing confusion. In the implementation (master branch of ermrest.js), both data and defaults parameters are of **Array** type.  The **Object** type of **data** parameter, combined with "a dictionary of attribute name-value pairs" might be misleading.

I think something like **An array of dictionaries of attribute name-value pairs** might be a better des

[2016-04-01 00:45] hongsudt commented on #16
@shinyichen if this is done, can you please put it in review and assign someone else to review it?

[2016-04-04 16:56] hongsudt commented on #16
@robes can you review this?

[2016-04-04 17:35] robes commented on #16
ok

[2016-04-04 22:26] #16 closed

[2016-04-04 22:27] #20 closed

[2016-04-04 22:40] shinyichen opened #22 "PUT and DELETE table entries"
@shinyichen commented on [Fri Apr 01 2016](https://github.com/informatics-isi-edu/ermrest/issues/63)

[2016-04-06 22:56] hongsudt commented on #22
@jrchudy I am assigning you as a reviewer of this issue since you will be using them.

[2016-04-06 23:26] robes opened #23 "Fix lint warnings/errors"
I fixed the makefile. It wasn't fully linting the source so there is some lint output to be reviewed and fixed. To lint the project, just run this from the project directory:

[code]

This applies just to the `refactor` branch.

[2016-04-08 15:39] shinyichen commented on #23
I fixed and removed the warnings.

https://github.com/informatics-isi-edu/ermrestjs/commit/364972cd57f7fbf02ceef7a374aeea97267fe68c

[2016-04-08 17:36] #23 closed

[2016-04-08 22:44] shinyichen opened #24 "Add Rowset class"
This rowset class is what gets returned from Table.entity.get() and Datapath.get(). It supports paging: prev() and next()

[2016-04-12 20:22] jrchudy commented on #22
I will make sure to note this when I am testing.

[2016-04-12 20:56] jrchudy opened #25 "Session get on refactor branch has an undefined field"
When the API is called to grab the session, the url that is used contains an undefined value. The Server object sets a uri value on this: `this.uri = uri` and then the Session object tries to fetch that value by calling `this.uri` but the two `this` calls are referring to 2 different objects in this context. I talked to @shinyichen about it already and she knows what the issue is.

[2016-04-13 19:36] #25 closed

[2016-04-15 19:55] #24 closed

[2016-04-20 19:16] shinyichen opened #28 "Support session login and logout"

[2016-04-20 21:23] karlcz commented on #19
How do we plan to handle errors in async/promise scenarios?  Are we going to be able to reuse the same exception models to represent an error that has to be caught/interpreted later via some callback?

[2016-04-20 22:23] robes commented on #19
If I understand this correctly. Errors that are reported by promises are passed as the parameter to the client via the anonymous `failure` function. Like this:

[code]

What I might suggest exploring is:
- define a set of classes to represent errors
- throw the error in a synchronous call
- return it as the parameter of the failed side of the promise callback

Actually according to Angular's style

[2016-05-03 18:00] jrchudy commented on #22
This is working probably for putting and deleting comments and annotations.

[2016-05-03 18:00] #22 closed

[2016-05-04 21:25] karlcz opened #29 "Expose column-level nullok field from introspected model"
The `nullok` field added to ERMrest introspection column representations should be exposed to users of the ermrestjs APIs alongside other existing fields like column name and type.

This is described in informatics-isi-edu/ermrest#70.

[2016-05-06 22:53] robes opened #31 "Need a developer guide"
We need a developer guide to help a novice to ermrestjs understand the basics of how to develop ermrest clients using the js api. It should over at least:
- getting server session (not 'session' in the authN sense)
- getting a catalog
- looking up one or more schemas
- looking up one or more tables definitions
- getting entities of a table
- adding entities to a table
- building data path queries

[2016-05-13 20:12] robes opened #32 "Type enumeration needed"
I believe we've decided that we want an enumeration of types. I'm not sure whether this is a public API? Probably.

We could also consider having a Type hierarchy, if that would be useful. Currently we have a `Type` class and it has a `name` (string) field. I think we need specific type representation for each supported type. The fallback can be the base `Type`.

[code]

and so on.

We might just

[2016-05-16 23:33] karlcz commented on #21
I don't know why this is assigned to me.  I agree with the comment that the input data is an array of per-row records mapping column name to value, and the defaults parameter is an array of column objects from the model.

[2016-05-17 00:01] robes commented on #21
This looks like an issue related to the original and now deprecated API. If so, let's just close it with wontfix since we've moved to a new API.

[2016-05-17 18:51] howdyjessie commented on #29
I see the `nullok` field has been added to the columns from ermrestjs calls.

[2016-05-17 18:51] #29 closed

[2016-05-17 19:40] howdyjessie opened #34 "Add "primary key" flag"
From the discussion started in [chaise#338](https://github.com/informatics-isi-edu/chaise/issues/338#issuecomment-219779327):
"It would be nice to have some sort of "primary key"-esque flag in ermrestjs so that we don't duplicate the code to find this shortest key in multiple Chaise apps. Maybe it could be something along the lines of `table.[uniqueId | uniqueKey].get()`. If not, we could also abs

[2016-05-17 20:44] howdyjessie opened #35 "Expose entire server response"
From the discussion in informatics-isi-edu/ermrest#71:

Sometimes, like in the data entry app, Chaise will need the ETag header to determine whether the model has changed. Instead of resolving its promises to Chaise with `response.data`, ermrestjs should send the entire response to allow clients to look at the ETag and other headers.

Tagging @karlcz in case he has anything else to add.

[2016-05-25 06:26] robes commented on #34
I am in favor of the idea. @karlcz maybe this can be solved by a simple heuristic:
- if a table has only one simple key, it must be the `primarykey`
- if a table has more than one simple key, then pick the first one and declare it the `primarykey`
- we could add an annotation `tag:...:primarykey` to ermest's recommendations to override this behavior

Then as @howdyjessie suggests, the api would be

[2016-05-25 06:31] robes opened #36 "Add displayname to model elements"
Process the [display name annotation](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2015-display) and add a corresponding `displayname` to the `Schema`, `Table`, and `Column` instances returned by the api. When no display name annotation is specified, the `displayname` will be identical to the `name`. In other words, it will always be present and should always b

[2016-05-25 06:36] robes commented on #36
I added display name annotations to the `legacy` schema, `dataset` table, and `pubmed_id` column of catalog `1` on the dev isrd host.

Working code the fixes this issue can be seen here (in the debugger, this is only a test page that generates console log output):

https://dev.isrd.isi.edu/~schuler/ermrestjs/

[2016-05-28 00:57] #36 closed

[2016-05-28 01:06] shinyichen commented on #28
Reopend. Need to write login/logout the angular way and put them in the common module.

[2016-05-31 22:40] #21 closed

[2016-05-31 22:43] robes commented on #28
We discussed this, and just adding comment here for the record. My vote is not to have login/logout in ermrestjs and leave that for the chaise common module.

[2016-05-31 22:47] robes opened #39 "Set `ignore` boolean flag on model elements"
On introspection, check for the `tag:misd.isi.edu,2015:hidden ` annotation and set a `ignore` flag on the model elements which can be `Schema`, `Table`, `Column`, `ForeignKeyRef`.

[2016-06-02 22:30] robes opened #40 "Move the `...errors.js` scripts out of chaise and into ermrestjs"
And use the `ERMrest` module instead of a new `Errors` module.

[2016-06-02 22:32] robes opened #41 "Add filename and lineno to the errors"
I think we can get this by inheriting from the standard error constructor in javascript.

[2016-06-03 14:04] robes commented on #41
Sorry @howdyjessie ... as far as I can tell getting the lineno and filename is a mess of non-standard hacks. The only reason we get these on the native `Error` class is because of browser-specific features.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error

I'll label this as `wontfix` but I'll leave it open so that we avoid duplicates if someone else asks.

[2016-06-03 16:41] howdyjessie commented on #41
@robes -shakes fist- Mozilla got my hopes up! Thanks for checking it out.

[2016-06-03 17:36] robes commented on #41
And there’s a lot of crazy ideas floating out on stackoverflow, but I don’t think we should get into it. All of the ideas look fragile.

[2016-06-03 21:51] #19 closed

[2016-06-06 17:16] #39 closed

[2016-06-06 22:40] #40 closed

[2016-06-09 00:36] howdyjessie opened #44 "ACL check interfaces on object model elements"
See #61 as a prerequisite for this feature. We will then add `canPERMISSION` getter properties at the appropriate object model element, where `PERMISSION` is `Create | Update | Delete` at this point.

We have 2 use cases:

1. putting the "create new entry" link to a recordedit page to add a new record
2. putting the "edit" link to a recordedit page to edit an existing record
3. putting a "delete"

[2016-06-09 17:42] shinyichen commented on #28
Decided to remove session. Let authentication be a service in Chaise.

[2016-06-09 17:42] #28 closed

[2016-06-13 20:46] jrchudy opened #46 "Add `in` operator to Annotations collection"
This was mentioned in the PR [#438](https://github.com/informatics-isi-edu/chaise/pull/438) in chaise. We should have a way to quickly check if an annotation is included in the set of annotations that is not going to throw an exception. This removes the notion that we have to `.get()` the annotation and if it doesn't exist, it throws an exception. This is useful but too much for a simple case of c

[2016-06-13 21:42] jrchudy commented on #46
The changes for this issue are in PR #47. These changes are meant to correspond with changes made to chaise as well.

[2016-06-13 22:05] #46 closed

[2016-06-15 00:13] karlcz commented on #34
Sorry I missed this the first time around and just heard about it in conversation...  I think it is a mistake to talk about "primary key" as a concept in ERMrest and Chaise as it is a SQL concept that doesn't really surface in our catalog model.  For most purposes, every key that is exposed in ERMrest model introspection is equally meaningful and particularly if it's constituent column(s) are cons

[2016-06-21 00:44] robes commented on #44
Is this still pending?

[2016-06-21 00:47] hongsudt commented on #44
Yeah.. Jessie is working on it to support the ACL of the edit button and
the recordedit page.

On Mon, Jun 20, 2016 at 5:44 PM, robes <notifications@github.com> wrote:

[2016-06-21 01:09] hongsudt commented on #35
@shinyichen this should be done as part of the error handling.

[2016-06-21 01:14] hongsudt opened #49 "a function to retrieve 'row name'"
The row-name is derived from:
* 2015:display.row_name annotation
* Otherwise, look for a column with title, name, or label (case insensitive)

It should be implemented as a dynamic property (i.e., using the getter approach) on the `Tuple` class.

[code]

Clients will use it like a normal property.
And it will only be computed at the time of use, and only once.

@robes @karlcz I am assuming that we

[2016-06-21 02:11] hongsudt opened #51 "Update Columns to return visible ordered column list"
The function should integrate the column order and ignore annotations
* If a 2016:visible-columns annotation exists, show the columns in the annotation's specified order.
  * If the column name in the list is unknown (e.g. mis-spell), ignore that column.
* Default: Show columns in the order defined in the database

API update.

[code]

The `Columns` returned `byContext()` should in the appropriate

[2016-06-21 17:51] hongsudt opened #52 "Format column values according to type and/or annotations"
- [x] boolean
- [x] integer (e.g. using thousands separators)
- [x] float (e.g. # of decimals)
- [x] date
- [x] timestamp
- [x] text: deal with html tags within the text value appropriately
- [x] markdown
- [ ] ~~units specifier for numbers~~ Move to Part2
- [ ] ~~json/jsonb (e.g. some kind of hierarchy or pretty-printed view)~~ Move to Part2

We probably need deployment wide configuration, schema

[2016-06-21 17:57] hongsudt opened #53 "Hierarchical annotation behavior"
Annotations such as `sparse` (to be determined) may be specified at multiple levels of the catalog - schema - table - column hierarchy. We need a pattern for how we decide which annotation value is defined at the level of interest. I.e., clients wants to know if a column should be shown when its values are null, the annotation api should interpreted at the higher levels of the hierarchy and the ap

[2016-06-21 18:02] hongsudt opened #54 "display table/column comments as tooltips properly"
ermrestjs already expose comments.

[2016-06-21 18:16] karlcz commented on #52
This is going to be an optional function/method for formatting outputs as in `printf`, right?  I assume we'll defer any input decoding as in `scanf`?

[2016-06-21 19:02] robes commented on #18
I can start work on bootstraping this.

[2016-06-21 19:19] robes opened #55 "Parser for URL fragments"
Ermrestjs could parse URL fragments and build up a Datapath representation of the URL. This would be useful in contexts like where various Chaise apps have to parse the URL fragment. This would also help standardize the URL fragments used across Chaise apps that use ermrestjs and provide one source of the parser code. The api would be something like:

[code]

And the fragment would be nearly ident

[2016-06-22 00:18] robes opened #57 "API to get all tables that this table has a FKR to"
All the tables that this table has a foreign key to (I can find this using the memberofForeignKyes that is available in Column class.).

[2016-06-22 00:19] robes opened #58 "API to get all tables with a FKR to this table"
Tables that they have a foreign key to this table (for now, I loop over all the tables and find out if they have foreign key to the specified table).

[2016-06-22 00:35] howdyjessie opened #59 "Add <resource instance>.ignore property"
The [doc on the `2016:ignore` annotation](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2016-ignore) says that `ignore` can be applied to schemas, tables, columns, or foreign key references. It also says that there's a hierarchical scope to its application. For example, when deciding whether a column should be ignored or not, clients need to check whether the co

[2016-06-22 00:43] robes commented on #59
Given that `ignore` is context dependent I have an alternative idea here. We might want a function `.isIgnored(context=null)` that lets you pass in a `context` optionally or assumes any context if `null` is passed (or the parameter isn't passed). That function would then check the annotations (possibly precomputed) at various levels to respond with whether the `schema | table | column | fk` is ign

[2016-06-22 01:19] hongsudt opened #60 "Display name hueristics for table and columns"
Use display name hueristics annotation to determine the display name transformation e.g. "My_Table" -> "My Table" or "my_table" -> "My Table".

We probably need to define a chaise config, a new annotation at the schema and table level on how to derive the display name instead of annotating every columns.. Assigning this to @robes and @karlcz to come up with the annotation syntax.

[2016-06-22 03:13] robes commented on #44
This is something that should be sketched out and discussed tomorrow.

[2016-06-22 03:45] hongsudt commented on #59
There is another ermrestjs issue that is supposed to return visible ordered
column list. That issue will take care of the ignore annotation and the app
shouldn't have to access this function at the column level directly.
On Jun 21, 2016 5:44 PM, "robes" <notifications@github.com> wrote:

[2016-06-22 18:26] howdyjessie commented on #51
To expand on determining the visibility of a column: The absence of the `2016:ignore` annotation on a column doesn't necessarily mean the column should be visible. See #59 for more details on the hierarchical scoping of `2016:ignore` annotations.

[2016-06-22 21:31] robes commented on #35
Do promise callbacks take more than one parameter in the callback signature?
- stack overflow says NO

If not, our promises would need to be changed to always return a `response` with
- `status`
- `header`
- `raw` ? _no_
- then the processed data, like a `RowSet` instance

Compare with JS / Ajax idioms.

Alternately, we could add `ETag` or `header` to the processed response object like `RowSet`.

[2016-06-22 22:18] robes commented on #44
We have 2 use cases:

1. putting the "create new entry" link to a recordedit page to add a new record
2. putting the "edit" link to a recordedit page to edit an existing record
3. putting a "delete" link on an existing record page

[code]

[2016-06-22 22:30] robes commented on #55
options = params = query

[2016-06-22 22:54] robes commented on #53
Open question is whether we can apply the same logic across different annotations. E.g., can we handle the `null/sparse` annotation hierarchy in the same way as the `ignore` annotation?

[2016-06-23 00:41] hongsudt commented on #54
duplicated with chaise#463.

[2016-06-23 00:41] #54 closed

[2016-06-23 01:31] hongsudt commented on #51
if the table or schema is invisible, we should throw an error message. Maybe, this check is can be part of the ACL.

[2016-06-23 01:34] karlcz commented on #60
@robes I've drafted annotation support for this in 2015:display.name_style

[2016-06-23 01:37] karlcz commented on #53
Also consider the draft I just added to 2015:display where I discuss hierarchy.  I think what I specified is intuitive to a user but requires more complex processing support.  Rather than a whole annotation payload overriding a whole annotation payload, I'm suggesting field-by-field override in this case.

I think that implementation support for this would require an explicit policy table to defin

[2016-06-23 18:17] robes commented on #60
@karlcz The only issue I can see is that the concept of a "title case" or at least the implementation of a title case may be language dependent. That is, is this an English only feature? Would we know how to implement this for any other language? We have a couple options, either we say this is a feature that works for model element names that are use the Latin-1 charset. Other option, we deprecate

[2016-06-23 18:21] robes commented on #59
So as @hongsudt points out, issue #51 may obviate the need for this issue, so let's drop this to the backlog and hold off on it for now. We may decide while implementing #51 that it helps to have each model element decorated with the more direct `.ignore` property that @howdyjessie initially proposed.

[2016-06-23 18:26] robes commented on #58
@RFSH what I would suggest considering here is whether it would be preferable to "get all FKRs that refer to this table" instead of getting "all tables with a FKR to this table". I question whether you really only need to know about the _tables_ that refer to this table rather than the _FKRs_ of a table that refer to this table.

[2016-06-23 18:34] robes commented on #57
@RFSH I'm not sure I understand the API proposal. Can you explain more? We currently have a clumsy way to get this information (for the _i_th FK of the table):

[code]

That's kind of hideous... But is that the information you are trying to get?

[2016-06-23 18:36] RFSH commented on #58
Eventually what I need is both of them. To show the table and know why that table is related (know the columns that are involved in the FKR). Although I can find the tables from FKRs themselves.

[2016-06-23 18:42] robes commented on #53
I had been thinking about this too. We need to take a step back and decide whether its something that should be handled on a per-annotation basis. I’d rather not have a policy table have to describe this, and yet I agree and understand that whole annotation replacement (blindly) is not the right answer either. It could be this issue should be closed and handled per-annotation, if there’s no unifor

[2016-06-23 18:44] robes commented on #52
@hongsudt I am not sure this is an ermrestjs feature we should implement. This seems more like a chaise feature.

[2016-06-23 18:48] robes opened #61 "Updates to `RowSet` API"
Change `RowSet` to `Rows` and add a `Row` class, of which instances of a row are returned by the Rows instance.

[code]

[2016-06-23 19:04] robes opened #62 "Support update and delete interface on Row instances"
Depends on #61 and is related to #44.

[code]

`.delete()` should delete this `Row` instance.

`.update()` should update this `Row` instance by `PUT`ing its `.data` to the server. There may be some nuances to that statement... i.e., do we put all the `data` or the non-key columns? is anything in there non-update-able? etc... TBD

[2016-06-23 19:06] RFSH commented on #57
@robes
This call returns the `atable` again. I need the table this FKR is referring to and also the columns of FKR. For instance if `owner` in `dataset` is a FK to `person`, I would need `person` table and `owner` column. Therefore:

- `atable.foreignKeys.all()[i].key.table` returns the table that I want.
- `atable.foreignKeys.all()[i].colset.columns` returns the columns.

I am not sure about the

[2016-06-23 19:20] robes commented on #34
This is probably a 'wontfix' issue for the time being, at least not in the way it was originally posed. We have done this sorting approach in the Chaise level BTW, and if its useful its something we should consider pushing down to ermrestjs.

[2016-06-24 02:09] robes commented on #57
@RFSH Ah, right, of course. Thanks for pointing that out.

Do you have an example you can point me to in your code where you make use of this? An example, might help me understand better.

[2016-06-24 02:11] robes commented on #51
I'm guessing this was reassigned to me and karl because we had a discussion in the afternoon that may change this column order annotation significantly. I think we agreed in principle to the change but @hongsudt might be the one (?) to define her proposed annotation and then share that.

[2016-06-24 02:13] robes commented on #32
@howdyjessie and @jrchudy could you point me to some code that does column definition type checking? thanks

[2016-06-24 02:34] RFSH commented on #57
@robes
This is how I am doing this actually:
[code]
`findChildren` is the function that finds all the related tables and candidate columns of a specified table. the `getTable` function creates the required object for FancyTreeNode.

The output would be something like this (notice how `person` table is displayed):

![screen shot 2016-06-23 at 7 28 49 pm](https://cloud.githubusercontent.com/assets/2

[2016-06-24 03:53] robes opened #64 "Indicator for associative tables"
For background, see the discussion here:
https://en.wikipedia.org/wiki/Associative_entity

It seems like it would be useful to add a property to the `Table` class to indicate if it is an "associative table" (i.e., a table that serves as the data structure for associative entities, per the background discussion). We could also indicate the arity of the associative table, but that's not strictly nec

[2016-06-24 04:54] robes opened #65 "Support non-trivial paths in DataPath with ability to specify final projection"
Currently, the `DataPath` only supports linear paths. However, an ERMrest query is really a tree not a linear path. We need to be able to construct these non-linear paths in order to support interfaces such as faceting and matrix views which depends on them.
### Background

A data path like this:

[code]

Could be visualized as a tree like this:

[code]

The URL being a linear hierarchical path fo

[2016-06-24 04:57] robes opened #66 "Revise DataPath filter interface"
Right now `DataPath.filter(...) => DataPath` returns a new instance of the DataPath, so while we naturally think about and explain ERMrest data path expressions like this:

[code]

The API forces us to put all the filters at the end. We **cannot** do this:

[code]

Instead, we have to do this:

[code]

I think even in our limited experience with our team so far, almost everyone finds this non-intu

[2016-06-24 07:10] howdyjessie commented on #61
The PR for this issue #63 has been merged. Closing this issue now.

[2016-06-24 07:10] #61 closed

[2016-06-24 17:04] hongsudt opened #67 "add .comment to all relevant model elements"
Add .comment to
- [ ] table
- [ ] schema
- [ ] key
- [ ] foreign key

[2016-06-24 17:18] hongsudt opened #68 "Create an enumeration of possible annotation uris"
I am not sure whether we already have this, if not, we should have an equivalent of enum type to list annotation tags.

I adapted the js example I found online to demonstrate the concept.

[code]

We should do the same for context.

[2016-06-24 17:27] karlcz commented on #67
ERMrest supports comment on schema, table, column, key, and foreign key.

[2016-06-24 17:28] hongsudt commented on #44
I would like to defer this issue until we have a better idea of how to deal with ACL. For now, let's just use chaise config.

[2016-06-24 17:34] hongsudt commented on #67
What's the difference between column comment and key/foreign key comments?
When should key/foreign key comments be displayed to the user?

On Fri, Jun 24, 2016 at 10:27 AM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-06-24 18:00] howdyjessie commented on #32
@robes We check columns' types in recordedit [here](https://github.com/informatics-isi-edu/chaise/blob/master/recordedit/form.controller.js#L187-L226).

[2016-06-24 18:32] robes commented on #67
Let's expand the scope of this to all the relevant model elements that don't already have the `.comment`. Karl listed them above.

[2016-06-24 18:34] robes commented on #68
We could roll this into the ermrestjs `Annotation` class or `Annotations` class. I would also rather see the keys be more explicit: `TAG_MISD_ISI_EDU_2015_DEFAULT` instead of just `DEFAULT`.

[2016-06-24 18:47] RFSH commented on #58
@robes
In #64 you mentioned that we may not need to display associative tables. This can affect what is needed in here too. Because if we want to ignore the associative table, we need to find the other tables that are part of this association and list them as tables that are related to the selected table. For instance, instead of `dataset_human_gender` the API should return `human_gender`.

Then t

[2016-06-24 21:26] robes commented on #58
@RFSH Yes, one thought has been to have a property of a table to find the associations that make reference to it. In a way these types of features are similar to the Column level memberOfForeignKeys

https://github.com/informatics-isi-edu/ermrestjs/blob/master/doc/api.md#ERMrest.Column+memberOfForeignKeys

We may want to have an api at the Table level like:

[code]

Needs to be given more thought.

[2016-06-24 21:27] robes commented on #68
I'll edit the issue description at time.

[2016-06-24 21:33] hongsudt commented on #44
After the discussion with @robes and @karlcz, we decided to implement APIs described above but with simple logic by referring the decision to the schema ACL e.g.
[code]

[2016-06-24 21:38] hongsudt commented on #66
@robes @karlcz I am putting this in backlog since both of you want to rethink this api over, correct?

[2016-06-24 21:45] robes commented on #68
I'm going to leave the original issue description just so we can capture the discussion here. Stepping back a bit, we have to ask "what code do we expect will make annotation lookups?" We actually would anticipate ermrestjs itself will consume most of the annotations and clients (such as Chaise) will use interfaces defined in the `ERMrest` object model _rather than_ checking for annotations. So fi

[2016-06-24 21:46] robes commented on #68
Maybe the above comment belongs in a ermrestjs developer guide.

[2016-06-24 21:52] robes commented on #66
Sure, we need to review the whole DataPath api early next week, I believe.

[2016-06-24 21:54] robes commented on #44
Based on suggestion from @hongsudt, I'm going to revise the sketch above (1) to make the function a getter, and (2) to cache the results so that the evaluation is one time. There could be issues with caching in long running sessions and future row level policy changes, but I'm going to ignore that for the time being.

[2016-06-24 22:19] robes commented on #44
Use the getter function style like this:

[code]

Note that `_can_update` should _not_ be added to the `Catalog`'s prototype. It is not a part of its interface, does not need to be documented (in jsdocs), and only exists when needed. Also, I would recommend

[2016-06-25 00:06] karlcz commented on #51
@robes @hongsudt  I went ahead and drafted 2016:visible-columns annotation in the ermrest annotations doc.

[2016-06-27 16:43] hongsudt commented on #44
De-prioritize this issue since this is not applicable in record 1.

[2016-06-27 16:48] hongsudt commented on #52
@robes shouldn't we have a consistent format through all chaise apps? If so, shouldn't this be done at the Row object?

[2016-06-27 17:15] hongsudt opened #69 "Add client_string to capture app_name when making a call to ermrest"
@karlcz @robes Can you specify the detail on how ermrest or chaise needs to change to capture this information in the server log?

[2016-06-27 17:34] karlcz commented on #69
ERMrest ignores query parameters in the URL that it does not understand.

So for example we can just add a `cid` parameter, i.e. client ID, and specify whatever we want:

    GET /ermrest/catalog/1/entity/dataset?limit=2&cid=myclient

the raw URL is reported in the default logging on all the servers and so will start being captured immediately.

We may also want to consider a page ID (i.e. a GUID

[2016-06-27 19:03] karlcz commented on #69
BTW I am suggesting this approach with query parameters to avoid having to roll out server-side changes to all servers to enable other custom logging, such as for a new request header.

[2016-06-27 22:47] hongsudt commented on #69
1. change the server api to incorporate cid
2. chaise apps pass the cid to ermrestjs through the new API
3. ermrestjs includes cid into all ermrest calls

Here is the proposed change based on our discussion this morning:
[code]

Potential cids:
* record
* record2
* recordedit
* recordset
* viewer

@robes does this make sense?

[2016-06-27 22:55] hongsudt commented on #60
@robes Let's assume that this feature will only work for Latin-1 charset (which is pretty much all our deployments).

[2016-06-27 22:59] robes commented on #69
@hongsudt I can't help much until I understand _what_ problem you are trying to solve. I can sort of infer the problem from this proposal on _how_ to solve the problem (which I don't fully understand).

Why do you want to log the app named?

[2016-06-27 23:09] hongsudt commented on #69
2 goals:
* so we can do data analytics based on the app
* it should also help with debugging. Eventually, we want the iobox or other components to start passing this clientid to the server as well.

[2016-06-27 23:17] karlcz commented on #60
I think the spec should be open-ended.  We should **not** have to talk about something like Latin1 here. The concept of word-splitting and casing are language specific but well understood.  Our implementation may be best effort.  It is OK to ignore an annotation if an implementation doesn't know how to handle it...
- I expect we'll split words on whitespace, hyphen, and underscore.  A better imple

[2016-06-27 23:42] robes commented on #69
My $0.02... I would consider doing analytics using Google or other analytics service instead. And at the same time, have ermrest (apache) start logging the user agent so that you know when a call is from IObox rather than from an AJAX client.

But if you want to do it this way. I suggest tracking:
- app name, and
- session (logical session not authN related)

You will need to push this up a level

[2016-06-28 07:29] carlkesselman commented on #69
Yes, I wonder why we are not looking at using google analytics for this.  Do we really have to build out our own analytitic tools, log parsers, etc.  I don’t know enough about this, but it seem that using this might be  good enough start.  See: https://developers.google.com/analytics/devguides/collection/analyticsjs/events#examples

Carl

----------------------------------------------------------

[2016-06-28 15:44] karlcz commented on #69
I think you guys are talking about separate things.  Nobody is saying we should not use GA but that serves a different purpose. The goal here is not to do user analytics but to make our logs more useful whenever we are diagnosing problems, etc. If we use GA events they should be for meaningful GUI events you would want to analyze, not for low-level implementation chatter.

As an example, yesterday

[2016-06-28 17:26] robes commented on #66
I think this is going to get resolved in the course of #65

[2016-06-28 18:06] robes opened #70 "Revise the datapath context and access interfaces"
From discussions with @karlcz, we have the following idea...

The datapath _context_ is identified by the last entity in a datapath like `entity/A/B/C` where `C` is the context or `entity/a:=A/B/C/$a` where `A` is the context, both of the _entity_ access interface.

The proposed change would drop `context` from the `DataPath` instance and move the access interfaces (entity, attribute, attributegro

[2016-06-28 18:54] jrchudy commented on #66
"I think even in our limited experience with our team so far, almost everyone finds this non-intuitive."

I can confirm that I tried to use it by calling the following `.filter(...).extend(...).filter(...)` and not understanding why it wouldn't work.

[2016-06-28 19:18] karlcz commented on #66
I think it's fine to change to a mutating behavior for join() and filter() as long as we have a copy() method that can be used to support copy-write branching of one path for apps like search and details that need to drill down into various sub-trees from the same base path.

The original API sketch was aiming for a copy-on-write idiom but it's more or less equivalent to a copy-before-write idiom

[2016-06-28 21:59] robes commented on #66
@karlcz I'm fine with that approach too.

Let's see, so we could put the `.filter(...)` on the `PathTable` (or the DataPath but PathTable might be more intuitive). If the filter function returns _this_, then the chaining can be quite natural. If its going to be mutating, then it could implicitly form a conjunction between calls to filter.

[code]

Usage:

[code]

I don't think that our `fitlerspec

[2016-06-28 23:06] RFSH commented on #60
Does the `underline_space` mean just simply convert each underline to a space?
Or it means split string on whitespace, hyphen, and underscore? So `a__-_b` would become `a b`.

[2016-06-29 01:16] karlcz commented on #60
I think it means the Javascript behavior `"string".replace(/_/g, " ")`

[2016-06-29 02:16] RFSH commented on #60
So shouldn't it be something like `str.replace(/[_\-]/g, ' ').replace(/\s\s+/g,' ')` to include multiple spaces and hyphens too?

[2016-06-29 03:06] karlcz commented on #60
No we are not replacing anything except `_` -> ` ` for the
`underscore_space` mode.

Word-splitting is for the purpose of identifying word boundaries to
apply title-casing.  You do not replace or modify the word separators
but use them to identify the beginning-of-word characters that should
have toUpperCase() applied.

[2016-06-29 22:17] robes opened #72 "Simplified datapath interfaces sketch"
This issue is relevant to a number of use cases, but the current scope of this discussion is limited to aggregate record details display, such as performed by the Chaise Record application. This discussion will intertwine the specification of the interface with the narrative of the "Record" display.

### Record display

Aggregate record display, as we've defined it, involves presentation of a _pri

[2016-06-30 19:00] RFSH commented on #68
It's true that one purpose of creating this enumeration is to avoid rewriting and copy-pasting. However I can see other benefits to that:
- To change each of the annotations, we just have to just change one variable that is defined in one place. We don't need to search for that string in several files.
- We can easily figure out which annotations are currently supported application-wide. We don't

[2016-06-30 20:46] RFSH commented on #51
@robes

Since the visible columns annotation is defined on table, isn't it better if we add the `byContext(context)` function to the `Table` class and rename it to something like `getColumns(context)`?

From what I understood, `Columns` may include columns from different tables and order doesn't make sense in this case (since it's defined for columns of each table individually). Unless `Columns` o

[2016-06-30 20:48] jrchudy commented on #68
Going with what @RFSH mentioned, I think it could actually be defined as an angular `constant` on the module, which would then have it behave like any other angular `service`, `factory`, or `provider`. Meaning you could very easily inject the Annotations constant anywhere it's needed in angular.

[2016-07-01 17:32] hongsudt commented on #69
@robes @karlcz and I decided that for flexibility, instead of listing all the ids as explicit parameters, we will instead use a json object that contains those ids. As a starting point, only support cid..
[code]

[2016-07-05 18:22] robes commented on #68
@RFSH I agree with your second bullet, and that's good enough for me to be on board with your proposal.

[2016-07-05 18:42] robes commented on #60
A couple comments on `module._determineDisplayName` ands its usage, as it stands now.

- the display name's for all model elements will be precomputed. In most of our scenarios where we are only displaying a subset of model elements that means that we are doing preprocessing that could be avoided.
- does this function belong in utils and attached to `module` or could it just be a local function wi

[2016-07-05 19:14] RFSH commented on #60
This function is used in `Schema`, `Table`, and `Column` class. It is called in their constructors to determine their display names.

I thought the purpose of utilities.js is to extract the functions that are used in multiple places in ermrest.js file. If this is not the purpose, it can just be a local function in ermrest.js. `_toTitleCase` and `_underlineToSpace` should be local functions in ermr

[2016-07-05 21:56] robes opened #75 "decouple packaging from rest of build"
The `make all` and `make build` will pull in the nodejs dependencies, which goes so far as to pull in an OpenJDK. We should at a minimum separate out a target for packaging (`make package`) that does a simple concatenation of all sub-modules into a single `ermrest.js` module.

[2016-07-07 17:39] RFSH commented on #51
@robes I think the main purpose of `Columns` class was to store columns of a single table. Therefore we can add a private attribute (`_table`) to this class. This way, I can get the order from the `Columns` class and the `byContext(context)` function can be defined in this class.

[2016-07-08 17:42] robes commented on #75
I added `make install` to this as well.

[2016-07-08 17:46] robes commented on #18
chirag has bootstrapped this

[2016-07-08 17:46] #18 closed

[2016-07-08 18:23] #75 closed

[2016-07-09 00:33] robes opened #78 "Streamline angular integration"
`ngermrest.js` does this:

[code]

We should make this more like the `node.js` script that @chiragsanghvi just added, so that the angular integration is automatic when running in an angular environment and just roll this script into the `ermrest.js` library package.

[2016-07-12 18:49] hongsudt opened #79 "Reference Skeleton to get Page and Tuple"
@hongsudt commented on [Tue Jul 12 2016](https://github.com/informatics-isi-edu/chaise/issues/501)

This task focuses on getting the Record2 data without any annotation (e.g. contextualization). Here is a list of methods that should be implemented:
[code]

[2016-07-12 23:49] howdyjessie commented on #69
@robes reminded me we can wrap the `$http` object, which reminded me we can write an interceptor for this, so I'm working on that.

[2016-07-13 00:46] robes commented on #69
Just doing some reading on $http and how we could wrap it. I know Josh has also mentioned doing an Interceptor, but my reservation there is it seems like it has to be a more Angular thing and I’m trying to keep Angular out of ermrestjs, as much as possible.

https://docs.angularjs.org/api/ng/service/$http

Noticing that $http is actually a function $http(config) and the .get, .put, etc are just so

[2016-07-13 17:44] hongsudt commented on #70
@robes is this still relevant?

[2016-07-13 18:54] robes commented on #70
no

From: Hongsuda <notifications@github.com>
Reply-To: informatics-isi-edu/ermrestjs <reply@reply.github.com>
Date: Wednesday, July 13, 2016 at 10:44 AM
To: informatics-isi-edu/ermrestjs <ermrestjs@noreply.github.com>
Cc: Robert Schuler <schuler@isi.edu>, Mention <mention@noreply.github.com>
Subject: Re: [informatics-isi-edu/ermrestjs] Revise the datapath context and access interfaces (#70)

@rob

[2016-07-13 20:36] hongsudt commented on #59
close this issue since it is no longer relevant.

[2016-07-13 20:36] #59 closed

[2016-07-13 20:41] hongsudt opened #83 "utility/library for formatting values of different data types"
These functions can take an optional format argument.
- [x] Integer
[code]
- [x] Float
[code]
- [x] Date
[code]
- [x] Datetime/timestamp
[code]
- [x] Boolean
[code]
- [x] Markdown (Aref)

- [x]  Text

[2016-07-14 01:37] howdyjessie commented on #69
@robes Since ermrestjs uses those convenience methods, I'm going to wrap the convenience methods instead of the whole http service.

I need a way to access the current server instance's `._cid` property in `.configure`, but I'm not sure how to best do that. How do I get the current server instance? Is it an overreach to have a `module._cid`? (Can different servers have different client ids?)

Side

[2016-07-15 20:51] jrchudy opened #84 "Parse and Resolve"
Move the parse functionality to ERMrestJS and common get requests that are made to retrieve the catalog, schema, and table.

[2016-07-15 22:01] robes commented on #69
Personally, I think we would be better served by passing a header attribute than a variable. Header variables can be added to apache log files easily. It's something like `...%{header}...`. This makes more sense to me than adding query parameters to an ermrest url just because we know they will be ignored, for now.

[2016-07-15 22:10] chiragsanghvi opened #85 "Uncaught TypeError: ERMrest.configure is not a function while opening recordedit app"
@robes

When you open the recordedit app you et the following error in the browser log
[code]

This is because of [parser.js](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/parser.js#L29) not returning the `module` variable which initialises ERMRest.

[2016-07-15 23:02] #85 closed

[2016-07-15 23:12] robes opened #87 "CI tests should run against a transient ermrest service"
The CI tests should install and run a transient ermrest service the way that the ermrest CI does it. The CI should run the ermrestjs tests against the transient ermrest service, rather than our dev server.

[2016-07-15 23:17] robes commented on #87
The 'ermrest' repo already does this setup of a transient server for its tests. Someone can probably copy the right parts of that travis configuration for ermrestjs. Or at least, there's something to build off of.

[2016-07-18 22:24] jrchudy commented on #84
This issue is related to PR #88.

[2016-07-19 01:47] hongsudt opened #91 "Implement Reference.contextualize"

[2016-07-19 17:48] howdyjessie commented on #69
Thanks to @robes, ermrestjs now uses its own wrapped version of the `http` service to add a `cid` to relevant ajax calls. Also:
- Each instance of the `Server` class gets its own wrapped `_http` service.
- The `Entity` class constructor has a new server parameter (`new Entity(server, table)`).
- Each call that used `module._http...` has been changed to `this._server._http...`.

[2016-07-19 20:39] hongsudt commented on #69
@chiragsanghvi can you please help me review this issue?

[2016-07-19 22:55] RFSH commented on #60
#73 implemented this and #82 added the unit tests for it.

[2016-07-19 22:55] #60 closed

[2016-07-19 23:11] chiragsanghvi commented on #69
@hongsudt  Yes this is working. I tested it on browser.

@howdyjessie For Chaise is `cid`  supposed to be null for now ?

[2016-07-19 23:14] howdyjessie commented on #69
@chiragsanghvi Yes for now it's null because the code to add app names to Chaise apps is in a PR.

[2016-07-19 23:29] chiragsanghvi commented on #69
@howdyjessie Ok cool, then I will close this issue.

[2016-07-19 23:29] #69 closed

[2016-07-20 00:28] howdyjessie commented on #67
I opened PR #95 for review.

[2016-07-20 00:31] hongsudt opened #96 "unit test for ermrestjs error handling"
Generate unit testing to test error handling in ermrestjs.

[2016-07-20 00:58] hongsudt commented on #68
@RFSH if you are doing this as @robes suggested, maybe we can now close this issue?

[2016-07-20 00:59] hongsudt commented on #68
Actually, @shinyichen can you please review and close this issue?

[2016-07-20 01:02] RFSH commented on #68
@hongsudt I was waiting for the Column order issue to be closed and then work on this issue.

[2016-07-20 18:33] #51 closed

[2016-07-20 20:56] #68 closed

[2016-07-20 21:00] chiragsanghvi opened #98 "Http feature for retry doesn't works for error codes other than 1"
The issue is with the usage of `in` operator on an array to determine retryable error codes on this [line](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/http.js#L126).

`in` is used to determine the presence of a property in an object [Reference] or presence of a property at an index(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/in).

[2016-07-21 00:04] howdyjessie commented on #67
The PR has been merged but I should write some unit tests with Chirag's new unit testing setup.

[2016-07-21 00:08] jrchudy commented on #84
@robes merged the code for PR #88, closing this issue.

[2016-07-21 00:08] #84 closed

[2016-07-21 00:13] robes commented on #98
thanks

[2016-07-21 00:13] #98 closed

[2016-07-21 00:14] robes commented on #70
I think this issue is obviated by the revised reference api

[2016-07-21 00:14] #70 closed

[2016-07-21 00:21] robes commented on #55
this issue is somewhat obviated by the reference api. the reference api has a `resolve` function that builds a reference. this isn't exactly the same thing as what's mentioned in this issue but it may meet the same need.

[2016-07-21 00:21] #55 closed

[2016-07-21 00:24] robes commented on #44
This issue needs to be revised for the reference api.

[2016-07-21 00:25] robes commented on #62
This issue is no longer valid due to revised refernece api. These will need to be applied instead to the `Tuple` prototype.

[2016-07-21 00:25] #62 closed

[2016-07-21 00:27] robes commented on #53
I think this issue is subsumed by other things we are doing like the contextualize interface. And the 'hierarchical' logic is not necessarily a general thing but specific to the interpretation and heuristics of individual annotations.

But please re-open if you disagree.

[2016-07-21 00:27] #53 closed

[2016-07-21 00:27] #41 closed

[2016-07-21 00:27] #34 closed

[2016-07-21 00:31] RFSH commented on #91
Most of the variables that are under `Reference` would be affected by `.contextualize`.

One approach is changing everything based on context in this function. This approach requires unnecessary preprocessing.

As an alternative, we can define a `_context` in `Reference` and just change `_context` in `.contextualized`. This way, each attribute that is context-dependent, is responsible for using `_

[2016-07-21 00:32] robes commented on #32
This might be a co-requisite of #83.

[2016-07-21 00:34] #35 closed

[2016-07-21 00:35] robes commented on #83
Is this a duplicate of #52 ?

[2016-07-21 00:36] robes commented on #72
this has been replaced by the revised "reference" api

[2016-07-21 00:36] #72 closed

[2016-07-21 02:40] hongsudt opened #102 "Reference.related"
This is for related entities (e.g. tables that have foreign key to this table).
If R1 is the main reference: then R1.related should return an array of all foreign keys existed in other tables (e.g. Table B) that point to R1.
![reference related](https://cloud.githubusercontent.com/assets/414732/17073844/75a03af8-5029-11e6-8668-b16e81d40119.jpg)

[2016-07-21 02:43] hongsudt commented on #52
@howdyjessie Apparently, I updated the function signature at the wrong issue. This issue is when you hook up the utility function to the column format. Can you move the description to #83?

[2016-07-21 17:43] robes opened #104 "Clean up and document angular bindings"
The current angular binding is messy and undocumented:
- [x] When the library is used in angular we need to clean up the global `ERMrest` library.
- [x] For the revised API sketch we do not need the factory, we just need `ERMrest` to be the factory.
- [x] We need documentation. Ideally this can be generated from jsdocs but it may not be possible and may have to be manually written.

[2016-07-21 17:54] howdyjessie commented on #52
@hongsudt Just moved them!

[2016-07-21 17:59] howdyjessie commented on #83
@robes It's particularly clear here, but the difference is that this issue is basically `Column.formatvalue()` while #52 is meant to describe all the separate helper functions that would be used inside `Column.formatValue()`.

[2016-07-21 23:28] robes opened #105 "Get all FKRs to 'this' table"
To help with issue #102 , we may need to have a easy way to get all FKRs that reference a table.

I.e., on the `Table` a property:
[code]

[2016-07-21 23:30] robes opened #106 "Update ForeignKeyRef class with names"
The `ForeignKeyRef` needs additional properties:
[code]

This is a pre-requisite for #102 .

[2016-07-22 00:08] jrchudy commented on #79
This issue is resolved with the changes in PR #100.

[2016-07-22 00:08] #79 closed

[2016-07-22 00:30] robes commented on #106
See this for the FKR names:
https://github.com/informatics-isi-edu/ermrest/blob/master/api-doc/model/rest.md#foreign-key-creation

Note the caveat that it is actually (I forgot) a list of names because FKRs can have more than one name.

[2016-07-22 00:56] RFSH commented on #32
@robes
Why do we need enumeration for types? Is this going to be used alongside the `Type` class?
Are we going to use this enumeration just for lookup?

[2016-07-22 17:29] jrchudy opened #108 "Unit tests for Reference Skeleton"
Unit tests for the reference skeleton need to be created and made sure they are passing.

[2016-07-22 19:02] jrchudy commented on #104
Merged the PR #107. Closing this issue.

[2016-07-22 19:02] #104 closed

[2016-07-22 21:50] hongsudt opened #109 "example of unit testing using the new structure to support multiple schemas and test case files"
including documentation..

For now, the test cases and their orders to be executed will be manually specified in the spec.js.

[2016-07-22 21:59] hongsudt opened #110 "ForeignKeys.get(colset) should return an array of ForeignKeyRef"
The same foreign keys can be used to refer to multiple tables.

[2016-07-25 03:50] RFSH commented on #109
It's done as part of #111.

[2016-07-25 03:50] #109 closed

[2016-07-26 17:41] #87 closed

[2016-07-26 19:22] jrchudy commented on #108
This issue is resolved by PR #112. This should be closed when that PR is merged.

[2016-07-27 23:12] jrchudy commented on #108
PR was merged, closing this issue.

[2016-07-27 23:12] #108 closed

[2016-07-28 18:21] jrchudy commented on #91
This issue is resolved by PR #115.

[2016-07-28 18:24] jrchudy opened #116 "Enum of context types"
@hongsudt suggested we have an ENUM for the context types. This way we can make sure proper contexts are used and no unknown ones are introduced.

[2016-07-28 19:09] #91 closed

[2016-07-28 22:05] jrchudy commented on #116
This issue is resolved when PR #118 is merged.

[2016-07-28 22:35] hongsudt opened #119 "Support visiable foreign key annotation in Reference"

[2016-07-29 21:54] howdyjessie commented on #83
A couple links that @chiragsanghvi passed to me that are relevant to this issue that we'll probably want to look at later:

- A JS printf library: https://github.com/alexei/sprintf.js
- Something to help determine the type of a value: https://isi-isrd.slack.com/files/chiragsanghvi/F1WGXNLQN/type.js

[2016-07-29 22:03] jrchudy commented on #116
The pull request was merged, closing this issue.

[2016-07-29 22:03] #116 closed

[2016-07-29 23:06] RFSH commented on #106
It's implemented as part of #122.

[2016-07-29 23:06] RFSH commented on #110
It's been implemented as part of #122.

[2016-07-29 23:07] RFSH commented on #58
Duplicate of #105.

[2016-07-29 23:07] RFSH commented on #105
It's been implemented as part of #122.

[2016-08-01 17:32] #110 closed

[2016-08-01 17:32] #106 closed

[2016-08-01 17:32] #105 closed

[2016-08-01 18:47] hongsudt opened #123 "Implement heuristic for Referece.related[i].displayName"
Priorities:
* If from_name is there, use it
* If not, use the table displayName of the related entities

@karlcz suggested data-dependent naming e.g. Person with employee = "USC".  @robes we need your opinion on how to lazily achieve this.

[2016-08-01 18:56] hongsudt opened #124 "setup uri and default columns of Reference.related[i] correctly"
* The uri should be
`<Main reference URI>/(id1,id2)=(Person:school,Person:city)`
where (id1, id2) are the columns of the main entity, and (Person:school,Person:city) are the related entity's columns.

* We should remove (Person:school,Person:city) from the default columns of the related entities to remove redundancy.

[2016-08-01 22:42] #58 closed

[2016-08-02 18:05] shinyichen commented on #49
It wasn't clear to me what 'rowname' meant. How about 'value' or 'displayValue'?

[2016-08-02 18:48] howdyjessie commented on #83
Currently doing: Changes in Chaise to support display of Markdown.

[2016-08-02 19:19] howdyjessie commented on #67
I was sidetracked with work on #83, but now the tests are available for review on PR #125.

[2016-08-03 16:52] hongsudt commented on #49
@shinyichen I am sorry.. This description is out of date. I will update the issue with the Reference API..

[2016-08-03 18:31] howdyjessie commented on #83
This issue is under review at PR #121.

[2016-08-03 23:08] shinyichen opened #128 "Default Reference.displayname"
By default, this is the Table.displayname. This task is only to have a default name, and will be modified when related() has been implemented.

[2016-08-03 23:18] shinyichen opened #129 "Add sorting to Reference"
Add sorting to the Reference class:
- [ ] Parse sort from URI, also implement multiple sort columns.
- [ ] On read():
* If sort is available, use that. Append missing key columns.
* If sort is not available, used row_order from table-display annotation. Append missing key columns.
* Otherwise, no sorting
- [ ] When sorting is changed, a new sortReference(sort) method that makes a new Reference wit

[2016-08-03 23:18] shinyichen opened #130 "Implement Page.previous and Page.next"
* Update URI parsing to parse `@before` and `@after`, keep it in `Reference`.
* Update `Reference.read()` to using `@before` and `@after`
* Make sort mandatory. Keep the shortest key for Reference, and use that as sort if sort is not specified.
* Implement `previous()` and `next()`
* Remember to remove @before/@after from duplicating Reference with `related()` call.
* Remember to remove @before/@a

[2016-08-03 23:22] shinyichen opened #131 "Support filtering in Reference.read"

[2016-08-04 17:36] #49 closed

[2016-08-04 18:05] #128 closed

[2016-08-04 18:07] #67 closed

[2016-08-04 18:13] robes opened #135 "Packaging of third party dependencies"
We have recently introduced a third party dependency into ermrestjs, namely the "markdown-it" library. At present we have simply concatenated it into our `ermrest.js` as a bundle effectively. While this may be sufficient for now, this is probably not the right way to do it or the advisable way to do it. For instance, what if we bundle a library but our client (like Chaise or other applications) ne

[2016-08-04 18:14] robes commented on #135
@hongsudt I think this is pretty important (but maybe not urgent) and if he had time @chiragsanghvi could be a good person to look into this.

[2016-08-05 01:12] hongsudt opened #137 "foreign key alias to foreign key ref look up functionality"
We need the ability to look up a foreign key reference based on its different aliases. The plan is to implement a `foreignKeyRefMap` object for each schema.

@RFSH  Please note that, the schema can sometimes have an empty string. So the code should deal with this.

[2016-08-05 01:14] hongsudt commented on #137
@karlcz what cause ermrest to return an empty string schema name? E.g. how should @RFSH set up the table to test this case?

[2016-08-05 01:16] chiragsanghvi commented on #137
@hongsudt We can mock the server response for testing this case.

[2016-08-05 01:16] hongsudt commented on #32
@howdyjessie Do you need to define this to hook up the pretty print to columns?

[2016-08-05 04:28] karlcz commented on #137
The empty string schema name is used for psuedo foreign key constraints which cannot be manipulated through the REST API alone.

Normally they would only be involved if you use REST API to define a foreign key constraint involving two SQL views or a SQL view and table. The view would have to be defined directly through the RDBMS since we provide no REST API to define views at this point.

[2016-08-05 05:56] RFSH commented on #137
@hongsudt Since we decided to add `ForeignKeyMap` to schema, I am using the schema string to find the schema and add `ForeignKeyRef` to its corresponding `ForeignKeyMap`. What should I do In case of an empty schema string? Should I just ignore it?

[2016-08-05 07:21] karlcz commented on #137
You should keep one additional special map somewhere in the model to store the constraints qualified by empty string schema name. This is an important feature we'll encounter in several of our use cases where we've customized our catalogs with SQL views that are presented to users via Chaise, and these are involved in the pseudo foreign key constraints to link them to related tables and views.

[2016-08-05 16:56] hongsudt commented on #137
Will this be simpler if we implement the map as an equivalence of 2D lookup
table e.g. foriengKeyMap[schema-name][alias-name] and attach the map at the
catalog level?

On Fri, Aug 5, 2016 at 12:21 AM, Karl Czajkowski <notifications@github.com>
wrote:

[2016-08-05 18:48] RFSH commented on #137
We decided to add the constraint lookup function to Catalog;
[code]

[2016-08-05 19:04] karlcz commented on #137
I think there should be a trivial way to lookup by what is in the annotations, either making this method more clever or making another wrapper like:

   function constraintByNamePair(pair){
     return constraintByName(pair[0], pair[1]);
   }

so you don't have code all over the place picking out the array elements to put them as separate parameters...

[2016-08-05 21:23] robes commented on #137
@karl are these _blank named_ schemas still represented as a Schema resource  in ERMrest?

[2016-08-05 21:26] hongsudt commented on #83
Since #121 is merged, I am closing this issue.

[2016-08-05 21:26] #83 closed

[2016-08-05 21:28] karlcz commented on #137
No, the `""` schema name is being used to qualify psuedo constraints
that don't exist in a real schema.  The empty string is not a valid
schema name in PostgreSQL so it cannot collide with any possible
catalog content...

[2016-08-05 21:40] robes commented on #137
Should we give it a name like `_ermrest` so that we could represent it consistently?

Just a thought, but if not, then I can see why we have push this interface up to the Catalog. Makes sense to me.

[2016-08-05 21:50] karlcz commented on #137
`_ermrest` is also not present in the schemas reported by introspection.

No matter what, you're going to have a special name that does not correspond to a schema name that is part of the model that a model-driven client would want to encounter or present to users.

[2016-08-05 23:57] hongsudt opened #139 "Referece.related should handle pure binary association table"
* `binary` : Has 2 outbound foreign keys.
* `pure`: The table has only one composite key constraint. This key includes all the columns from both foreign keys.
(As an exception, the table can have one extra key that is made of one serial type column.)

One way to implement this is to set a flag `._isPureBinaryAssociation` flag to indicate whether the table is a pure binary association. Then while t

[2016-08-06 00:03] robes commented on #129
I'm glad you went this way with it. I got thinking about it yesterday night and felt like this would be the right way too.

I would suggest a change to the interface, instead of `sortReference(sort)`, just name it `sort(ordering)` where `ordering` is an object like this `{ 'column-name': ` either `'asc'` or `'dsc'` `...}`.

Usage will be like:
[code]

And this leads to a separate but related issue

[2016-08-06 00:07] shinyichen commented on #129
I wrote something similar, except input param is in the same format as in the schema annotation for table-display.row_order. `{"column":colname, "descending":true}...]`

[2016-08-06 00:10] hongsudt opened #140 "update Tuple.value according to the markdown_pattern (e.g. url) annotation"
Tuple.value should handle the url annotation defined in informatics-isi-edu/ermrest#93.

If the annotation is defined, the value should be formatted accordingly. We also need a method that the app can check whether to treat the string as an html or not.

[2016-08-06 00:12] hongsudt commented on #57
This functionality is implemented in Table.referredBy. @robes  Should we close this issue?

[2016-08-06 00:14] robes opened #141 "Add 'location' property to 'Reference'"
Now that clients will be using `Reference` objects they will know less (or nothing) about the manipulation of the underlying URI, yet they will need _part of_ the URI to use in the Permalinks.

For example, the Chaise recordset app starts up, passes the ERMrest URL to `ERMrest.resolve(uri)`. At this point, the client knows what the permalink should look like (chaise resource reference + catalog an

[2016-08-06 00:15] shinyichen commented on #131
Filtering was already implemented.

[2016-08-06 00:15] #131 closed

[2016-08-06 00:16] hongsudt commented on #64
This issue is related to #139. Instead of general association, #139 will be more specific and set a flag for pure binary association.

[2016-08-06 00:17] karlcz commented on #129
The sort needs to be an ordered list of per-column sort instructions
(column name and ascending or descending).

An object/mapping has no ordering.

[2016-08-06 00:26] hongsudt commented on #135
@robes Pull request #136 is waiting for your review.

[2016-08-06 00:30] RFSH commented on #57
@hongsudt It's actually the other way around and this is about outbound FKRs. It was just to make the process of getting related outbound Tables easier. Which I think it's not relevant anymore.

[2016-08-06 00:35] shinyichen commented on #141
While working on the sorting, I needed the uri up to the filter (@sort and ?limit removed). Should we keep that in Location as well?

[2016-08-06 00:36] hongsudt commented on #57
you are right.. If this is no longer relevant, let's close the issue.

On Fri, Aug 5, 2016 at 5:30 PM, Aref Shafaei <notifications@github.com>
wrote:

[2016-08-06 04:02] robes commented on #141
I think the answer is yes, but I'd have to look at an example to be sure.

[2016-08-06 04:04] robes commented on #129
Ugh... @karlcz thanks, I keep forgetting about js object keys aren't ordered...

So yes, we should keep with the way Jennifer has it specified.

But I still prefer the shorter function name `sort(...)`. That's a superficial detail though.

[2016-08-06 19:08] robes opened #142 "Simpler version number generator"
Commenting on https://github.com/informatics-isi-edu/chaise/pull/531

What I would have liked would have been a very very simple invocation of:
[code]

Each component, eg, chaise, ermrest, ermrestjs, could run the above command as part of their install. The above could be wrapped into a rule that `install` depends on.

[2016-08-06 22:12] robes commented on #142
Fixed in https://github.com/informatics-isi-edu/ermrestjs/pull/144

[2016-08-06 22:12] #142 closed

[2016-08-08 17:31] #57 closed

[2016-08-08 19:56] shinyichen commented on #96
Are the changes on branch errortests? @chiragsanghvi

[2016-08-08 20:11] hongsudt opened #146 "Pre-format column values for int, float, blooean"
This is related to #52.
- Int/float
  - [ ] pre_format annotation to use format string conversion specifiers
  - [ ] units specifier for numbers
- boolean
  - [] mapping of true/false to different terms (e.g. yes/no)

[2016-08-08 21:16] chiragsanghvi commented on #96
@shinyichen Yes they're on errortests branch.

[2016-08-08 21:17] howdyjessie commented on #52
PR #147 has been created for this issue.

[2016-08-08 22:53] shinyichen commented on #96
I noticed a few of the methods didn't get tested, `Entity.getBefore` and `Entity.getAfter`. However, these will be replaced with the new API, so maybe this was intentional.

A couple of the test cases didn't make sense: `schemas.get` (02.schema_error.js) and `tables.get` (03.table_error.js). These are not ermrest calls, they only access what's already in the schema. These tests should be similar t

[2016-08-08 23:16] chiragsanghvi commented on #96
@shinyichen There is an HTTP retry test case for 500 error in the sample folder, which I had written initially to document use of the mocking framework `nock`. You can see it [here](https://github.com/informatics-isi-edu/ermrestjs/blob/master/test/specs/sample/tests/02.http_retries.js). I need to push the changes that handle 503 and `entity.delete` with 404 error scenarios in an another branch. I

[2016-08-09 00:55] chiragsanghvi commented on #96
@shinyichen I have added the [http_retry](https://github.com/informatics-isi-edu/ermrestjs/blob/errortests/test/specs/errors/tests/05.http_retry_error.js) testcase to **errortests** branch.

[2016-08-09 02:37] howdyjessie commented on #32
To recap what I said to @hongsudt earlier: No, I didn't need to define this to hook up pretty print utilities to Column.formatvalue. I just use a switch statement that checks `column.type.name` to decide which utility fn to use.

[2016-08-09 21:20] #137 closed

[2016-08-09 21:20] #124 closed

[2016-08-09 21:20] #123 closed

[2016-08-09 21:20] #119 closed

[2016-08-09 22:38] howdyjessie commented on #52
PR #147 has been reviewed and merged into master.

[2016-08-09 22:38] #52 closed

[2016-08-09 23:21] chiragsanghvi commented on #96
Fixed in **PR** #132

[2016-08-09 23:21] #96 closed

[2016-08-10 23:57] #129 closed

[2016-08-12 17:21] hongsudt commented on #44
I am closing this as it is no longer relevant. Will create another one for ACL.

[2016-08-12 17:21] #44 closed

[2016-08-12 17:23] hongsudt opened #152 "support show_null annotation"
This property is context dependent.

[2016-08-12 17:30] hongsudt opened #153 "Support `2016 Table Display: set_presentation"
We should figure out how to use this to support iframe using a markdown syntax specified in the annotation doc.

[2016-08-12 17:30] hongsudt commented on #140
@chiragsanghvi you mentioned a couple of template plugin. Can you list them here?

[2016-08-12 17:42] hongsudt commented on #64
@RFSH why is this issued blocked?

[2016-08-12 17:44] RFSH commented on #64
@hongsudt The PR is under review, that's why I changed the pipeline to Blocked.

[2016-08-12 17:46] chiragsanghvi commented on #140
[Mustache](https://github.com/janl/mustache.js/) is a lightweight templating library.
A heavy version with more set of features is [Handlebars](http://handlebarsjs.com/)

[2016-08-12 18:38] chiragsanghvi commented on #135
This was done in PR #148 and is in Master. So closing it.

[2016-08-12 18:38] #135 closed

[2016-08-12 23:56] jrchudy opened #154 "Reference.read breaks when no Keys exist"
When reference.read runs and there is no defined set of keys for the referenced table, a TypeError occurs.

[code]

This happens [here](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L384) at this line. The solution is to assume that the full row should be used as the key when no key is defined.

[2016-08-13 00:19] jrchudy commented on #154
Merged PR #155.

[2016-08-13 00:19] #154 closed

[2016-08-13 01:07] hongsudt commented on #140
@karlcz @robes can you check these templating libraries? For now, I will assume that we will continue to use the same template that we have been using.

[2016-08-13 01:09] hongsudt opened #156 "update templating library?"
[Mustache](https://github.com/janl/mustache.js/) is a lightweight templating library.
A heavy version with more set of features is [Handlebars](http://handlebarsjs.com/)

[2016-08-13 01:25] hongsudt opened #157 "support gene_sequence use case"
This will either be specified through a markdown syntax or a different annotation syntax. We need this to support gpcr and maybe facebase.

[2016-08-15 22:01] chiragsanghvi commented on #140
@hongsudt

Yes, just to ennumerate…the 4 cases are

1. **Normal Link** : `[Chaise](https://dev.isrd.isi.edu/chaise/search)`

2. **Normal Image**: `![Image](http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11.jpg)`

3. **Image with size**: `![ImageWithSize](http://assets.barcroftmedia.com.s3-website-eu-west-1.amazonaws.com/assets/images/recent-images-11

[2016-08-16 19:44] chiragsanghvi commented on #140
@hongsudt @karlcz  Will this syntax work ?

[code]

You can see the output [here](https://tonicdev.com/chiragsanghvi/57b36c60150dc61300d37918/branches/master)

[2016-08-16 19:58] hongsudt commented on #140
I like it.. The syntax is consistent..

[2016-08-16 20:54] karlcz commented on #140
Yeah this seems like good notation but the output HTML needs a little work...

`<div style='clear:both'><div class='caption'>Chaise</div><iframe src=https://dev.isrd.isi.edu/chaise/search width=800 height=300 ></iframe></div>`

The quotes around the div.style and div.class should be `"` not `'`. And the quotes are missing around iframe.src, widht, and height...

[2016-08-16 22:33] robes commented on #140
Syntax looks good 👍

[2016-08-16 23:15] chiragsanghvi commented on #140
@karlcz Yes, I will make  the changes in formatting.

[2016-08-17 00:20] hongsudt commented on #157
@karlcz @robes I am going to suggest creating a different custom type gene_sequence and get the pretty_print to deal with the formatting.. Any objection?

[2016-08-17 00:23] hongsudt opened #159 "Preferred display name (row-name) for linked entities"
@hongsudt commented on [Fri May 20 2016](https://github.com/informatics-isi-edu/chaise/issues/377)

Use common annotation and logic shared with #358 to determine a preferred way of referring to entities in a foreign domain table. Replace foreign key values with this preferred entity name when displaying the link.

Karl suggests extending the `display` annotation at table level with another field l

[2016-08-17 00:29] karlcz commented on #159
We should reconcile this with the markdown_pattern feature before working on it.  The markdown_pattern seems more general...

[2016-08-17 00:33] karlcz commented on #157
Should this be able to be composed with markdown features?  I.e. will we ever expect to have a markdown_pattern that expands gense sequence column data into a formatted presentation?

Basically, I am pondering whether gene-sequence should be another special markdown container that we can wrap around the raw sequence string.

[2016-08-17 01:47] hongsudt commented on #140
Can we make it so that I can leave any number of spaces after ::: e.g. `:::  iframe`?

[2016-08-17 21:55] #152 closed

[2016-08-17 22:10] robes commented on #141
Just to add some notes here after discussion.

1. we can clean up the `Reference` a bit. Seems like we don't really need: `_tableName`, `_schemaName`, or `_schema`.
2. the parser function (in js/parser.js) can return the (new) `Location` instance rather than the `context` object it currently returns
3. therefore the `Reference(...)` constructor will take the `location` instead of the `context`, an

[2016-08-17 22:14] robes opened #160 "Should we (continue to) implicitly add @SORT when Reference.read(...) is invoked"
One open question has to do with the `Reference.read(limit)` function which implicitly adds a sort key to the uri if none existed in the reference. This therefore carries through to the resulting `page` because the sort key is necessary for the `Page.next` or `.previous`. For instance, `@AFTER(...)` can only be used in combination with `@SORT(...)`. This seems a bit questionable but may be okay fo

[2016-08-17 22:23] karlcz commented on #160
Hmm, a reference to a recordset using paging and a reference to a single record should not get mixed up. I think it would be a mistake to call DELETE on a recordset from our apps until we get something much more sophisticated as far as UX.

The logic about adding sort and paging could check for whether we have a unique key predicate and treat that case differently, i.e. don't offer prev/next refer

[2016-08-17 22:46] jrchudy opened #161 "Reference.related should return a sorted set of references"
Reference.related needs to return a set of references that is sorted based on a default heuristic.

Assigning to @hongsudt to fill in the default order that we want to use. It was discussed to have it alphabetical with some other circumstances when two related references have the same displayname.

[2016-08-17 23:16] RFSH opened #162 "Sort Related Reference"
When `visible-foreign-keys` annotation was not defined in the table, sort related references using the following steps:
1. Sort by display name.
2. Sort by position of key columns in the table.
3. Sort by position of foreign key columns in the related table.

[2016-08-17 23:21] RFSH commented on #162
I am going to close it, since it's a duplicate of #161 .

[2016-08-17 23:21] #162 closed

[2016-08-17 23:22] RFSH commented on #161
When visible-foreign-keys annotation was not defined in the table, we should sort related references using the following steps:
1. Sort by display name.
2. Sort by position of key columns in the table.
3. Sort by position of foreign key columns in the related table.

[2016-08-22 17:40] howdyjessie commented on #157
Do gene sequences always come in increments of 10? If not, what should I do with the remainder?

[2016-08-22 19:08] hongsudt opened #164 "set isHTML for gene_sequence column type to true"
We will be using markdown to format the gene_sequence column type. So this should be set to true.

[2016-08-22 19:10] hongsudt opened #165 "isHTML and Tuple.value should be in sync"
The code shouldn't assume that isHTML will be called after the Tuple.value is called. It should check wiether Tuple._value is defined, if not, it should call Tuple.value to have both set appropriately.

[2016-08-23 17:11] #130 closed

[2016-08-24 18:45] howdyjessie commented on #157
This is currently under review in PR #168.

[2016-08-24 20:35] #141 closed

[2016-08-24 21:40] hongsudt opened #169 "mustache template documentation"
@chiragsanghvi are you working on documentation of how to use mustache template to support null handling?

[2016-08-24 21:43] chiragsanghvi commented on #169
Yes, I was working on the same. Karl suggested me to change the samples which I need to do.

https://github.com/informatics-isi-edu/ermrestjs/wiki/Using-%22Column-display%22-Annotation

[2016-08-24 21:44] chiragsanghvi commented on #169
@hongsudt can we merge the PR #163  ?

[2016-08-24 21:48] howdyjessie commented on #157
PR #168 has been merged.

[2016-08-24 21:48] #157 closed

[2016-08-24 21:49] hongsudt commented on #156
We have decided to go with mustache. so I am closing this issue.

[2016-08-24 21:49] #156 closed

[2016-08-24 21:50] hongsudt commented on #165
@howdyjessie can you review this issue?

[2016-08-24 21:50] hongsudt commented on #164
@howdyjessie please review this issue.

[2016-08-24 21:52] hongsudt commented on #140
@chiragsanghvi The link above no longer points to the markdown usecases, so I can't easily test this.
Does iframe support any number of white space prior to that keyword?

[2016-08-24 21:55] howdyjessie commented on #165
@hongsudt I've already commented on the PR associated with this issue.

[2016-08-24 21:57] howdyjessie commented on #164
@hongsudt I've already commented on the PR (#163) associated with this issue — it looks fine.

[2016-08-24 22:04] chiragsanghvi commented on #140
Yes, it supports any number of whitespaces after the iframe keyword, but not before it.

[code]

[code]

[2016-08-24 22:30] hongsudt commented on #140
It is a lot of work to make it support any number of white space before
iframe?

On Wed, Aug 24, 2016 at 3:04 PM, Chirag Sanghvi <notifications@github.com>
wrote:

[2016-08-24 22:45] hongsudt opened #170 "Support 2016 Table Alternatives"
This is needed to allow a view to be displayed in recordset, but when clicking on an individual record, it should lead to a record in an actual table.

We could extend contextualize to take this annotation into account and set the Reference.uri correctly. @robes thoughts?

[2016-08-24 22:58] robes commented on #170
Yes, but...

How does one tell the difference between a 'base entity storage table' and a table that abstracts it? I think things are getting messy with all of these annotations and we are missing some core concepts to simplify our data services.

[2016-08-24 23:09] hongsudt commented on #170
From chaise perspective, there is no difference, except through the annotation. And Views seems to be what data modelers use to work-around frontend limitation.

If there is a way to aggregate selected related tables into the compact view of the main entity, maybe this will reduce the use of view?

[2016-08-24 23:21] karlcz commented on #170
I think this was one of the first drafts introducing the 'context'
concept and it looks a little rough because of it.

We could also turn it around and make the annotation on the base
storage table to list which abstracted view to prefer for each
context.  This would probably be easier to maintain as a DBA and less
chance for ambiguity.  We could also use the same name-pairs notation
we use for co

[2016-08-25 00:01] chiragsanghvi commented on #140
There's just a change needed in the **regexp**. But do we really need to allow that. Its actually wrong syntax. Markdown will never allow to have a space between the caption and the href for the anchor syntax `[caption] (http://www.google.com)`

[2016-08-25 00:09] hongsudt commented on #140
I just tested it on github and I was able to put space between `[]` and `()` e.g. [ test ]  ( http://dev.isrd.isi.edu )

[2016-08-25 00:27] karlcz commented on #140
The [Commonmark spec](http://spec.commonmark.org/0.26/) says that the
"link text" i.e. `[My anchor]` is supposed to be followed immediately by
the open paren.  I don't see why we want to code in support for sloppy
markdown and encourage our users to learn bad markdown habits...

Similarly, it says that a fenced code block can have at most three
spaces before the code fence (the opening three chara

[2016-08-25 01:27] hongsudt commented on #140
For clarification, I meant supporting white spaces between `:::` and the word `iframe`.

[2016-08-25 01:45] karlcz commented on #140
Spaces between the ` ::: ` and `iframe` should be allowed if these containers behave like a code fence.  The commonmark spec says that space around the "info string" is allowed and stripped.

[2016-08-25 02:19] chiragsanghvi commented on #140
Ok, we can do that. They do actually act like code fence but our specification needs it to be single line. So adding the space handling just makes it more error friendly, but adds no purpose or feature.

[2016-08-25 18:36] #140 closed

[2016-08-25 18:36] #165 closed

[2016-08-25 18:36] #164 closed

[2016-08-25 19:29] chiragsanghvi commented on #153
@robes @karlcz After having a discussion with @hongsudt this is the API proposition that we came up with.

The reference object will have a `display` property with a getter function as follows.
[code]

In addition the `tuple` object will have a `content` property that will contain all the markdown generated as a result of the `row_markdown_pattern` property of the annotation.

Does this works ? Or

[2016-08-25 22:51] RFSH commented on #161
This issue was resolved by #167 PR. This should be closed when PR is merged.

[2016-08-26 20:26] hongsudt commented on #153
@chiragsanghvi Let's try to have `Page.display` return the composition of all rows associated with a page.

[2016-08-26 22:40] hongsudt opened #171 "Use attribute group api instead of entity api when making a call to ermrest"
The attribute group api will allow all the foreign keys to be fetched together with the main entity.
Currently, it is assumed that all foreign keys are not null. @karlcz will extend the API to support null foreign keys.

The purpose of this issue is to re-factor the ermrest call without impacting the rest of the apps. So `Tuple._data` should remain the same. Let's save other outbound linked data i

[2016-08-26 22:41] hongsudt commented on #159
This is pending on #171

[2016-08-26 22:45] hongsudt commented on #65
@robes is this issue still relevant?

[2016-08-26 22:46] robes commented on #153
This seems fine to me. The only real question I have is what happens when you have Reference to an ERMrest URL using the `attribute` interface rather than an `entity` interface? In that case, we should probably default to display type of `table`, for default rendering of the results, right?

[2016-08-26 22:49] robes commented on #65
It might be. And I may need to start working on this next in fact.

[2016-08-26 22:54] karlcz commented on #153
I don't see why the attribute api would imply tabular display.  The result set has the same semantics of one row per entity with just a customized projection of which attributes are present.

With attributegroup it's a little fuzzier since each row summarizes a group of entities.  But, I'm still not sure that implies tabular display since you might still look at one group as a detailed record-leve

[2016-08-26 23:06] hongsudt commented on #139
For now, I would like to make this flag reflect the strict definition above.

Note: The binary association table could have other literal columns such as rank in protocol_author scenario. However, until we know how to merge tables together, let's not include this scenario.

[2016-08-26 23:15] hongsudt opened #172 "markdown handler for drop-down list"

[2016-08-30 13:49] RFSH commented on #139
I changed the definitions accordingly:
* `binary` : Has 2 outbound foreign keys. The table has only one composite key constraint. This key includes all the columns from both foreign keys.
(As an exception, the table can have one extra key that is made of one serial type column.)
* `pure`: All its columns are part of some key constraints.

[2016-08-30 16:36] chiragsanghvi commented on #153
@karlcz @hongsudt
I had a doubt, what values should I use in the template for table-display annotation ? Should I use the formatted `markdown_pattern` values or just basic formatted values depending on type or raw values.

[2016-08-30 21:16] RFSH commented on #171
`Related.read()` uses the url that users specify by `ERMrest.resolve(url)`. So it can be "entity", "attribute", "attributegroup", or "aggregate" ermrest api call ([parser](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/parser.js#L82) allows all these api names). However the current "reference.js", only supports "entity" ermrest api and it doesn't understand the value that other ap

[2016-08-30 23:56] jrchudy opened #176 "Test suite doesn't consider ACLs defined in test schema"
When you define a ACL for a catalog resource in the schema object for testing, that ACL is not used and instead the ACL for dev.isrd is returned.

If one is defined, that ACL should be used. If it is not defined, then default to the ones on dev.isrd.

[2016-08-31 17:33] hongsudt opened #177 "Support 2016 Table Display : "page_size""
I am adding "page_size" to indicate the default page size associated with the page. Please modify the read call associated with the `compact` and `compact/brief` contexts to use it.

[2016-08-31 17:42] hongsudt opened #178 "Move the ermrest URL formulation from chaise to ermrestjs"
Right now, chaise determines which ermrest API to use (e.g. entity, attribute, attributegroup, etc.) and pass that to the resolver. This logic should be done at the ermrestjs level.

[2016-09-01 00:17] hongsudt opened #179 "Refactor Tuple.displayName to use row-name context"
Currently, the code looks explicitly for `row_name` property in 2016 Table Display Annotation, use the old templating library and doesn't support markdown.  Table Display annotation has been updated to unify the use of `row_markdown`. So Tuple.displayName should be looking into the `row_name` context and support the markdown specified in `row_markdown`.

If the `row_name` context is not specified,

[2016-09-01 00:17] hongsudt commented on #179
@karlcz @robes does the heuristics make sense?

[2016-09-01 17:11] robes commented on #179
This makes sense to me. Only comments:
* Although I think this is totally subjective, I might favor an order of `id` -> `name` -> `title` instead
* I assume "if it exists" implies "_and not null_"

But I would agree with it as is.

[2016-09-01 19:42] chiragsanghvi commented on #179
@hongsudt If the table doesn't has a key, `shortestkey` returns all columns. How should I handle this case ?

[2016-09-02 03:51] hongsudt commented on #179
What about we just set it to empty string.
* Under record, it doesn't make sense to show all columns when you see all of them on the page.
* Under recordset, this will be in the context of foreign keys. If the row_name is empty, we can use other heuristics e.g. use the foreign key value.
@robes @karlcz What do you think?

@chiragsanghvi I added "term" as one of the column names to accommodate for

[2016-09-06 17:50] robes commented on #179
@hongsudt I suppose that's fine.

[2016-09-06 18:01] #161 closed

[2016-09-06 18:03] RFSH commented on #139
#167 changed the definitions based on the previous comment and resolved this issue.

[2016-09-06 18:03] #139 closed

[2016-09-06 18:22] RFSH commented on #177
Instead of changing the limit in read function implicitly, we decided to just expose the defined "page_size" in `Reference.display._defaultPageSize`.

[2016-09-06 18:27] #179 closed

[2016-09-06 18:27] #176 closed

[2016-09-06 18:28] #169 closed

[2016-09-06 18:28] #153 closed

[2016-09-06 18:31] RFSH commented on #64
We currently have an indicator for "pure and binary association" tables (`Table._isPureBinaryAssociation()`).  It's a restricted version of what this issue describes.
@hongsudt  Should we keep this issue open or close it?

[2016-09-06 19:23] chiragsanghvi commented on #172
@hongsudt @karlcz Does this format works for dropdown list ?

[code]
**OUTPUT**
[code]
You can test it [here](https://tonicdev.com/chiragsanghvi/57c6118b039c761400dd18fa) for a combination of iframe and dropdown syntax.

[2016-09-06 21:19] shinyichen opened #182 "Support compact context"

[2016-09-07 21:59] jrchudy commented on #182
Closed PR #183, closing this issue.

[2016-09-07 21:59] #182 closed

[2016-09-08 00:05] jrchudy opened #184 "Reference.contextualize.compact behaves oddly"
When I contextualize a reference with the `detailed` context, I can verify that the references are very similar with slight variations. When I use the compact context in `record2`, all of my related references are contextualized to the same reference.

The request for reference.related does in fact return `x` number of distinct references, but once I start contextualizing them, each of my related

[2016-09-08 17:42] RFSH commented on #184
`contextualize.detailed` and `contextualize.compact` use the same function and the only difference is the context string they use. So they should behave the same.

Are you sure for compact you're using `compact` and not `compact/brief`? The `contextualize.compact` in reference is using `compact` as the context name but the chaise issue is about `compact/brief` (which is not implemented in referenc

[2016-09-08 17:55] #177 closed

[2016-09-08 18:06] RFSH opened #185 "Support compact/brief context"

[2016-09-08 18:08] hongsudt opened #186 "implement compact/brief getter"
This context represents a sub-context of `compact`. It is used for the related entity section on the record 2 page.
If `compact/brief` is not specified, it should inherit the annotation from the `compact` context.

As a data modeler, I don't think I will likely use this context. However, the app should use this context to distinguish between the `compact` form on the recordset page and `compact/br

[2016-09-08 18:10] hongsudt commented on #185
duplicate with #186.

[2016-09-08 18:10] #185 closed

[2016-09-08 18:31] hongsudt opened #188 "Page.content support for compact/brief"
If the context is compact/brief, at the end of the table display, if there are more elements to be displayed (e.g. Page.next is not null), there should be a navigational link to guide user to the recordset or search app.

`Click here to access more records`

This issue is pending on #186, and https://github.com/informatics-isi-edu/chaise/issues/563 for search app. The test should cover both record

[2016-09-08 18:39] #186 closed

[2016-09-08 18:47] karlcz commented on #188
Also, the navigation link should be to the **entire** dataset in that other app, **not** something that starts at the next page.  So the presence of the Page.next reference tells us we need to provide a link, but we do not use that reference to get the actual link information!

[2016-09-08 20:26] chiragsanghvi commented on #172
The output is in the Bootstrap [dropdown button](http://getbootstrap.com/components/#btn-dropdowns-split) format.

[2016-09-08 21:25] hongsudt commented on #172
The format looks fine to me.. Just have a few questions:
* Is `\n` required prior to the ending `:::`?
* It seems like space is used to separate between each dropdown element. If I add `\n` between each dropdown element, will this be ok as well?

[2016-09-08 21:39] chiragsanghvi commented on #172
* Is `\n` required prior to the ending `:::`?

Yes, because the container plugin will not be able to determine the ending of the tag. This syntax strictly cannot be changed.

* It seems like space is used to separate between each dropdown element. If I add `\n` between each dropdown element, will this be ok as well?

The container plugin reads the content defined after the  `::: dropdown ` string.

[2016-09-08 21:51] chiragsanghvi commented on #188
@hongsudt Should I be using the permalink for that reference to build the link  ?

[2016-09-09 02:40] hongsudt commented on #188
@chiragsanghvi @jrchudy I am wondering whether this should be done at the app level since it already has to do the same for the tabular display type? This way, the text and the link can come from the same logic. Is there any strong reason not to do this?

As for the app to use, it should look for the 2016 app_links annotation and if doesn't exist, the default should be recordset.

[2016-09-09 18:33] jrchudy commented on #188
This should be done in chaise rather than ermrestJS as we discussed in standup this morning (Friday).

[2016-09-09 20:57] shinyichen opened #189 "Update Tuple.values return object"
Right now Tuple.values return and array of values. Chaise apps have to check whether each value is HTML with Tuple.isHTML for display. Update Tuple.values to return an array of {value, isHTML} objects.

[2016-09-09 21:01] hongsudt commented on #189
Let's not focus on this at the moment though.

[2016-09-10 00:38] hongsudt commented on #188
@chiragsanghvi I am closing this issue..

[2016-09-10 00:38] #188 closed

[2016-09-12 19:01] hongsudt commented on #170
What about this strategy?

* Create a Table._baseTable. If it is undefined, the baseTable is the same as the table itself.

* Modify Tuple to support
  - Add Tuple.getReference() which returns an uncontextualized reference to get to the tuple.
  - override the above reference.read() to use the original tuple._data instead of going to the server to get the same data.

* Modify contextualize to take

[2016-09-12 21:32] shinyichen opened #190 "Parse URL with related tables"
Right now ermrestjs only parses simple URL with the projection schema and table. Now it needs to handle complex URL with related tables so that when record-two links related tables to recordset, recordset can show the right table.

[2016-09-12 21:48] hongsudt commented on #190
This should have been taken care of by Reference.related. Please also take
a look at the alternative tables and app_links before you do any work on
this.

On Mon, Sep 12, 2016 at 2:32 PM, Jennifer Chen <notifications@github.com>
wrote:

[2016-09-13 00:34] hongsudt commented on #190
The current recordset assumes that the table to be displayed is the left most S:T in the url, which is not the case when tables are joined.

 `S:T1/k1=v1/k2=v2/.../(k1,k2,...)=(S:T2:fk1,fk2,...)` will return S:T2 as the context of the request.

If we split path on "/", then
- items[0] is the base table
- items[1]...items[n-2] are filters for key (composite conjunction)
- items[n-1] is a join to re

[2016-09-13 00:38] hongsudt commented on #190
@robes should the plan be to check for the pattern above and if so, set the correct table for the reference. We probably need to work on a parser soon, but in the meantime I want the apps to support a simple url.

[2016-09-13 00:53] karlcz commented on #190
It's worth noting that the URL structure described above is true only under limiting assumptions for how the record and recordset apps will navigate between each other:

1. The entity reference is always of the form `S:T/k=v`.
2. The related-entities reference is always of the form `S:T/k=v/(k)=(S:T2:fk)` (where the joining columns MAY be other than the entity's key constraint columns in the gener

[2016-09-13 19:02] robes commented on #190
Right, I think there are these simplifying assumptions based on the URLs that will be generated by the record(-two) and recortset apps.

However, the parser is only really needed to support URLs that are passed to the app by the client. That does not seem to be the case for related references? The only URL structures we need to support in the parser are those URLs that would be inputs from Chaise

[2016-09-13 20:03] karlcz commented on #190
@robes: If we expose the "see all" link for a related-entities table, that
will be a link to the same joined path in the recordset app.  That app
then needs to expose the per-row link back to individual records again.

[2016-09-13 22:00] #184 closed

[2016-09-13 23:24] jrchudy opened #195 "Test "tuple displayname should return 'id:label' column" sporadically fails"
The "tuple displayname should return 'id:label' column" test sporadically fails when the unit tests run locally and on the travis server.

[2016-09-13 23:29] chiragsanghvi commented on #195
This is because the **displayname** is computed using the [shortestkey](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/core.js#L655) parameter of **table** class.
The order of the columns returned by `shortestKey` getter keeps changing, which is the reason the testcase fails.

 @shinyichen can you fix it ?

[2016-09-13 23:35] #190 closed

[2016-09-14 01:34] hongsudt opened #196 "URL Parser"
Investigate js parser to parse the app url.

@robes @karlcz I am assuming that we can start with ermrest grammar? Does that make sense?

[2016-09-14 20:50] shinyichen commented on #170
Alternative table's `Reference` should be created using the URI of the alternative table, keeping the same filters and modifiers of the base table's `Reference`. To transpose the filter, we need to find mapping columns. It's possible base table has multiple primary keys. Does the alternative table have all the columns of all the primary keys of the base table (vs. just one set of key)?

[2016-09-14 21:01] karlcz commented on #170
I don't think you can assume a mapping from base table columns to alternative table columns except for the key which MUST be a non-NULL key in the alternative key table w/ a foreign key constraint mapping it to a key in the base table. Therefore, you can introspect on the "primary key which is a foreign-key to base table" to find the mapping w/o any assumptions about column naming.

In my opinion,

[2016-09-14 22:37] karlcz commented on #170
To be more specific:

1. I think that all alternatives should be required to use the **same** key from the base table, so the entire clique of alternative tuples representing a single entity all contain the same key value, whether or not base table has any other keys. This would allow direct conversion from one context to another for references to the same entity.
2. Recontextualizing an unfiltere

[2016-09-15 01:35] hongsudt opened #197 "implement Reference.create"

[2016-09-15 17:10] hongsudt commented on #195
@shinyichen can you take a look at this?

[2016-09-15 18:02] RFSH opened #198 "Catch errors when there is no session"
`_checkPermissions` looks for `this._session.attributes` without checking whether `this._session`is defined or not; therefore throws an error if session is undefined.

[2016-09-15 19:07] shinyichen commented on #195
I traced the problem all the way back to reading of the json payload of `keys` in the schema,
[code]
where the ordering of `unique_columns` is not preserved. I can't figure out why since json array ordering should be preserved.

[2016-09-15 20:26] karlcz commented on #195
Note that keys are defined in ERMrest as a set of columns, **not** an ordered list.  So there is no guarantee that the JSON serialization will have the same order on individual introspection calls to the same catalog much less to different catalogs using the same schema.  If you want a canonical order, you need to do that yourself, e.g. by sorting lexicographically.

[2016-09-15 23:32] shinyichen commented on #170
- [ ] When contextualizing a `reference`, if `._table._baseTable` is not `._table` (this is an alternative table), use the base table to get the alternative table of that context.

[2016-09-16 22:49] jrchudy commented on #198
PR #201 merged. Closing this issue.

[2016-09-16 22:49] #198 closed

[2016-09-16 23:51] hongsudt commented on #196
@RFSH can you send the pointers to the javascript parsers that you were looking at before?

[2016-09-17 00:15] hongsudt opened #202 "Support 2016 App Links annotation"
@hongsudt commented on [Wed Aug 24 2016](https://github.com/informatics-isi-edu/chaise/issues/557)

This annotation is needed to go from search/recordset to different apps e.g. viewers vs. record2.

@robes my thought is to have this set as an attribute in the reference and let the app uses it as appropriate. Make sense?

---

@robes commented on [Wed Aug 24 2016](https://github.com/informatics-isi

[2016-09-17 00:17] hongsudt commented on #202
As a starting point, we will make an `app_link` object available for apps to use.

@robes has a suggestion for a longer term plan, which we can implement later.

[2016-09-17 00:46] #172 closed

[2016-09-17 00:57] robes commented on #202
This makes sense. But let's go with `tag:...record` as the _new_ record app (i.e., the app formerly known as "record-two"). And I don't think we should even include the `tag:...detail` (or `tag:...record-old`) as an option. This only applies to deployments that are using the new code. Unless we are going to support this annotation in the search app?

[2016-09-19 16:47] shinyichen commented on #195
Will fix this issue by sorting the keys alphabetically.

[2016-09-19 17:14] hongsudt opened #203 "support navigatable foreign key natively"
### ***Updated Implementation Details:***

#### Part 1 (Get FKR related data with the same ermrest api call)

Add logic to `Reference.read()` function to change the uri in order to get the foreign key data as well as current reference data. This doesn't affect the actual `Reference._location` object and just changes the uri internally for the http request.

The `Page._data` works exactly as it use

[2016-09-19 20:35] hongsudt commented on #203
* create a getter/mapper that maps between columns and foreign-key references that it is a part of. This will help determine whether a column is involved in one FKR or more than one FKR.
* show/hide foreign-keys (this can be done prior to the read call):
  - if 2016 visible column is defined, follow the annotation, else
  - single-key FKR: go through each column defined in the Reference.columns, i

[2016-09-19 20:44] karlcz commented on #203
The annotation spec for Visible Columns allows bare column names `"Column X"` and foreign key names `["Schema X", "Constraint Y"]` to both appear in the list.  This allows the DBA to make participating columns and/or keys visible or invisible in any combination and any order.

I would implement the default heuristic as a preprocessing step to create an effective Visible Columns list if one was not

[2016-09-19 23:26] robes commented on #203
@hongsudt So if I follow the main differences between your sketch and

https://github.com/informatics-isi-edu/ermrestjs/blob/master/doc/heuristics.md#outbound-references

are some more specificity about the column name and displayName and the introduction of this new app_link annotation?

It seems fine to me.

* This sentence in your text "leave the participating columns as is, and insert the pseu

[2016-09-19 23:47] hongsudt opened #204 "Reference.related supports table alternatives"
The .related should be created based on the base_table. This issue is pending on #170.

[2016-09-20 17:40] RFSH commented on #196
In [here](https://sap.github.io/chevrotain/performance/) you can see a performance comparision of Javascript parsing libraries. Since we want to just parse one line at a time, performance is not that important for us; but we can use this link as a reference to several Javascript parsing libraries.

[PEG.js](https://github.com/pegjs/pegjs) looks like a good candidate; based on popularity (number of

[2016-09-20 18:38] #195 closed

[2016-09-21 22:01] robes opened #206 "api doc is mangled"
api.md does not display correctly. most likely some recent change added some comment that broke it.

[2016-09-21 22:03] robes opened #207 "make all won't work on mac if java is not already installed"
We include ccjs (google's closure compiler) as a dependency. It depends on java. The ccjs package seems to have a link to openjdk that is no longer valid...

A workaround is to get the official jdk from oracle and install it. Then the java dep is satisfied and it skips this. We should at least document this...

[2016-09-21 22:26] robes commented on #206
@RFSH @chiragsanghvi if one of you are familiar with this feature can you review the jsdoc string and improve it, especially the `TODO`.

[2016-09-21 22:32] robes commented on #207
There's probably not much we can do about this. The npm package maintainer should sort this out.

[2016-09-22 17:39] robes commented on #189
@hongsudt can we all discuss this?

[2016-09-22 18:15] robes commented on #189
Is the `isHTML` flag possibly different for different tuples of the same relation (reference)? Then I could see it might need to be on the tuple and not on the column definition.

[2016-09-22 18:32] robes commented on #189
I took a look at where `isHTML` is assigned. It is essentially a function of the column type (is col type is markdown, ishtml is true) with the exception that if the tuple value is empty or null then ishtml is false. I don't understand why that exception is important. This really seems like a function that belongs in the `Column` object.

[2016-09-22 18:38] karlcz commented on #189
Would be a nice time to change it to isMarkdown if we're refactoring...

[2016-09-22 18:58] RFSH commented on #203
@hongsudt @robes @karlcz

I update the issue description, can you please take a look?

These are some parts that I am not sure about,

1. Should I create a new class for pseudo-columns? or just add a `isPseudoColumn` to Column? What should be its attributes?
2. For the URL:
 - If the `row_name` context wasn't available, what should I use for the caption?
 - Can you elaborate more on href part? Sho

[2016-09-22 20:30] robes commented on #197
Josh and I reviewed this in detail. For starters we'll have the create(...) function take an array of objects which should correspond to the columns _not_ set by defaults.

[2016-09-22 20:32] robes commented on #197
It just occurred to me... @jrchudy Maybe we should extend that create signature to take the list of defaults as an array of column definitions. That way its up to the client to determine which columns they wish to use defaults for.

[2016-09-22 22:25] robes commented on #203
First, comments on the new task description.

Part 1 of your outline:
- Looks like the `_contextualize` function is in `Columns` not `Table`
- I would think `Columns._contextualize` should just return `Column`s and `PseudoColumn`s
- returning `ForeignKeyRef`s mixed with `Column`s doesn't seem ideal

Part 2:
- regarding the `name` and `displayName` please refer to https://github.com/informatics-isi

[2016-09-23 18:08] robes opened #209 "Binary association table not recognized"
I could be wrong, but it appears that some pure binary association tables are not being recognized as pure binary association tables.

First, can you see if there is anything wrong with this definition of (what should be) a binary association table, in case I'm overlooking something wrong with it?

https://dev.isrd.isi.edu/ermrest/catalog/1/schema/legacy/table/dataset_mouse_age_stage

This should

[2016-09-23 18:28] karlcz commented on #209
@robes what is missing is a unique key spanning the two foreign keys. Right now, it could store duplicates of the same foreign key combination and cause weird join results if interpreted as a pure association...

[2016-09-23 18:31] robes commented on #209
ah, so that's what was missing. mystery solved.

[2016-09-23 18:31] #209 closed

[2016-09-23 21:46] hongsudt opened #210 "Use association table name as Reference.displayName"
In the case of binary association, if the inbound `to_name` is not specified, can we set the default inbound name to be the association table display name instead of the end table name? E.g. I have an association table named `protocol_author` that links between `protocol` and `person`. Use `Protocol_Author` in the nested table is more meaningful than `person`.

[2016-09-24 00:38] jrchudy commented on #197
But aren't the defaults defined by which columns are not showing (i.e. the visible_columns annotation) and any columns that have a `type.name` property set to `serial`?

[2016-09-24 00:42] jrchudy commented on #197
Or should we allow a column to be a default and shown in the UI for input. If they don't define a value for that input, use the default instead?

That's the only case I can think of where the user would want to alter the defaults that are being used.

[2016-09-24 00:52] karlcz commented on #197
Almost any field could support a "use default" decision by the user. Serials are just the most obvious case where they'd want to and where we might not even want to let them override the default behavior.

Whether the UX is to interpret blanks as "use default" or have something else like a checkbox, this decision is not something you can solely predict from the model content.  Therefore, the ermre

[2016-09-27 21:31] jrchudy commented on #197
PR #212 merged. Closing this issue.

[2016-09-27 21:31] #197 closed

[2016-09-27 22:54] robes opened #215 "related reference display name heuristic"
When the reference api determines the display name for a related reference, if the related reference is related via an association table, then the (default) for the display name should be the display name of the association table _not_ the display name of the related table itself. The explain why, see the attached screenshot of the record(2) app. We have a table `dataset` that has three associatio

[2016-09-27 23:17] hongsudt commented on #215
This is a duplicate of #210. Will close this issue.

[2016-09-27 23:17] #215 closed

[2016-09-27 23:17] hongsudt commented on #210
Also see the detail from issue #215.

[2016-09-28 17:26] hongsudt opened #216 "url-encode the related entities location.uri"

[2016-09-28 17:27] hongsudt opened #217 "URL encode and decoding"
Parser needs to decode URL components. When forming URL, encoding is needed.

[2016-09-28 17:38] hongsudt opened #218 "markdown handling"
By default, unless the markdown syntax is guarded (e.g. the syntax contains `{{#.*}}` or `{{^.*}}`, if any of the variable in the markdown syntax is null, treat the result as null.

The guarded syntax can be used to change the default behavior above.

[2016-09-30 01:12] hongsudt commented on #202
According to our discussion today, this should be implemented as a common module in chaise that takes a reference and the app_link tag and turns that into a proper url.

[2016-09-30 01:12] hongsudt commented on #202
Issue moved to [informatics-isi-edu/chaise #644](https://github.com/informatics-isi-edu/chaise/issues/644) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-30 01:12] #202 closed

[2016-09-30 01:25] hongsudt opened #221 "implement Reference.update"

[2016-09-30 01:25] hongsudt opened #222 "implement Reference.delete"

[2016-10-03 17:31] RFSH commented on #210
#213 fixed this issue.

[2016-10-03 17:31] #210 closed

[2016-10-03 23:55] hongsudt opened #224 "Support all columns in the template"
Currently, the template only allow referencing to the visible column only. We need to allow the annotation to access the formatted value of any columns in the Tuple.

An option for this is to create another structure e.g `Tuple._data.formatted` that has the same access pattern as `._data` and then the `.value` can just build its value from this structure.

@chiragsanghvi can you work on this, as I

[2016-10-04 20:42] #218 closed

[2016-10-04 20:43] #206 closed

[2016-10-05 02:00] hongsudt commented on #221
The current version has a limitation that when the unique columns are updated, it will always throw a 409 conflict e.g. `Error 409 Conflict The request conflicts with the state of the server. Input data violates model. ERROR: duplicate key value violates unique constraint "experiment_pkey" DETAIL: Key (id)=(2) already exists.`

@jrchudy please make sure that the new version will support this case.

[2016-10-05 17:33] #170 closed

[2016-10-06 00:04] robes commented on #221
it will

[2016-10-06 04:01] hongsudt opened #228 "mustache encode block for urls doesn't encode parenthesis correctly"
`https://dev.rebuildingakidney.org/chaise/record/#2/Protocol:Protocol/Key=Method%20for%20analyzing%20RNA%20following%20intracellular%20sorting%20(MARIS)%20Of%20nephron%20progenitors%201.0`

The above is the url that is generated based on this markdown:
`('RNASeq', 'Sample', 'Isolation_Protocol', 'tag:isrd.isi.edu,2016:column-display', '{"detailed" : {"markdown_pattern":"{{#Isolation_Protocol}}[{{I

[2016-10-06 21:41] #228 closed

[2016-10-06 21:41] #224 closed

[2016-10-06 22:54] RFSH opened #229 "Use Cached Data in Reference.resolve If possible"
Currently we cache the catalog that is returned during the introspection. We only need to add a function to be able to create a Reference synchronously. To do so, we can change the `Reference` constructor to accept the `catalog` alongside `location`. So we can attach other attributes using these two parameters and create a complete `Reference` object.

[2016-10-07 01:13] #216 closed

[2016-10-07 01:35] #102 closed

[2016-10-07 21:14] hongsudt opened #230 "a function Column.inputDisabled that incorporate generated and immutable annotation"
provide a function `Column.getInputDisabled(context)` that takes the context as a parameter and depending on the context, return InputDisabled value based on generated and immutable annotation.

Potential return values:
* `true` : do not allow user input
* `false` : allow user input
* `{message:"the message to show in place of the column value"}` : do not allow user input and the `message` should

[2016-10-07 23:17] hongsudt opened #231 "expose response object in promise"
Currently, only the payload is exposed. In addition to the content, we need to expose the status code, headers, etc.

[2016-10-07 23:18] hongsudt commented on #221
Make sure to use etag pre-condition in put and delete.

[2016-10-07 23:18] hongsudt commented on #222
Make sure to use etag pre-condition in put and delete.

[2016-10-09 05:58] hongsudt opened #233 "Markdown column type: Provide a link to markdown syntax or other online markdown editor"
We decided that instead of extending the comments to contain markdown, a tooltip to the markdown syntax or online editor can be shown by record-edit.

[2016-10-10 20:40] #233 closed

[2016-10-10 20:40] hongsudt commented on #233
Issue moved to [informatics-isi-edu/chaise #664](https://github.com/informatics-isi-edu/chaise/issues/664) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-11 01:07] shinyichen commented on #231
How about returning the http response object? And for Reference.resolve(), create an http response object. (is that possible?)

Including @jrchudy in the discussion

[2016-10-11 17:21] jrchudy commented on #231
I believe that is the norm, to return the full http response object. All of our requests that interact with ERMRest should return that.

Resolve doesn't need to be changed because we aren't fetching any data from the database, just the _schema_ and _metadata_ information. Chase only needs the data from the response object. Dealing with the headers should be done in ermrestJS.

[2016-10-11 17:57] karlcz commented on #231
Eventually, something needs to track the ETag returned with the model and decide that the app has gotten out of sync with the server.

1. App bootstraps and gets catalog model+etag
2. App uses one or more ermrestjs APIs
3. App encounters a 409 Conflict
  - Could be due to user error
  - Could be due to model inconsistency
4. *something* refetches model and compares old/new etag
  - identical etags

[2016-10-11 18:05] robes commented on #231
Just to recap quick in-person chat with @jrchudy and @shinyichen, we think this should be handled internal to ermrestjs and does _not_ need to be exposed by ermrestjs through the reference.resolve api.

But we ought to review the various error modes as @karlcz points out above and determine whether anything more does need to be exposed to the client.

[2016-10-13 22:17] howdyjessie commented on #230
PR #237 has been merged; closing now.

[2016-10-13 22:17] #230 closed

[2016-10-13 22:40] #217 closed

[2016-10-13 23:44] hongsudt commented on #231
It seems like this issue is already resolved.

[2016-10-13 23:44] #231 closed

[2016-10-13 23:48] jrchudy commented on #221
This is resolved by PR #238.

[2016-10-17 17:20] #221 closed

[2016-10-19 01:31] RFSH opened #242 "How to attach Reference to PseudoColumn"
Currently we are attaching it before getting the values of the reference and therefore cannot use the direct link to the reference. Instead the reference that we create is just based on the correct table and without any filters. That is instead of pointing to just one row, the reference will point to all the rows of that table.

We might need to change this behavior based on different use cases.

[2016-10-20 00:07] jrchudy commented on #222
The corresponding PR, #239, was merged. Closing this issue.

[2016-10-20 00:07] #222 closed

[2016-10-20 22:59] jrchudy opened #245 "Reference read gets a 200 response when fetching an entity that doesn't exist"
When `Reference.read` is called, it makes a request to ermrest to fetch that single entity. If that entity does not exist, that request to ermrest currently returns a 200 response which then returns a page object with no data to Chaise.

[2016-10-20 23:24] jrchudy commented on #245
This is behaving as expected because it works for record and recordset the same. Moving this issue to chaise because it needs to be addressed for record

[2016-10-20 23:24] #245 closed

[2016-10-21 00:15] RFSH opened #246 "Sort Reference with PseudoColumn"
Currently we are using `Column.name` for sorting the reference. In case of `PseudoColumn`, the `name` property will not return a proper value and therefore we cannot continue using that. We should find a better solution on how to sort reference using `PseudoColumn`.

[2016-10-26 00:57] #229 closed

[2016-10-26 00:57] #203 closed

[2016-10-26 00:58] #171 closed

[2016-10-26 00:58] #159 closed

[2016-10-26 01:08] RFSH opened #247 "Change Outbound Foreignkey Heuristics"
Currently we apply [heuristics for outbound foreignkeys](https://github.com/informatics-isi-edu/ermrestjs/blob/master/doc/heuristics.md#outbound-references) when [`visible-columns` annotation](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2016-visible-columns) is not defined on the Table. We should apply the heuristics even if this annotation is defined on the T

[2016-10-26 01:37] hongsudt opened #248 "contextualize psuedo-column generation process"
When the context is create or edit, don't add the columns of composite foreign key and just create a PseudoColumn for that.

[2016-10-27 03:15] hongsudt opened #249 "linked data is null"
@RFSH The psuedo-column is still buggy..  If you try to go to a few tables in gpcr with foreign keys, it will complain about linked data is null, and throw an error message..

Please revert your pull request and solves this problem.

Check this link:
https://data.gpcrconsortium.org/chaise/record/#1/experiments:analysis_sop/title=SEC%26%23x2F%3BSDS-PAGE%20%28Standard%20Analysis

https://dev.gpcrcon

[2016-10-27 15:30] RFSH commented on #249
The problem is that I didn't consider the case that foreign keys might be null. If the foreign key data is null, what should I do? return null as its value (ignore it)? or use the `show-nulls` context of the column to figure out what the value should be?

[2016-10-27 16:06] RFSH commented on #249
Also the first link is not related to this issue, it's showing that error because there's no record with that criteria in [ermrest](https://data.gpcrconsortium.org/ermrest/catalog/1/entity/experiments:analysis_sop/title=SEC%26%23x2F%3BSDS-PAGE%20%28Standard%20Analysis).

[2016-10-27 17:28] karlcz opened #250 "Formatted dates are incorrect (off by one)"
I see this in Chaise apps but assume it is an ermrestjs problem.  I think this should be fixed asap @hongsudt

Columns of type `date` are being displayed in recordset and record reformatted (e.g. using slashes instead of dashes) and having the day prior to the actual date in the table.  When I go to record-edit and see the existing value in an input field (which bypasses the formatting I think?) i

[2016-10-28 04:17] #249 closed

[2016-10-28 05:00] hongsudt opened #255 "missing/incorrect constriant name in the visible column shouldn't be disruptive"
Right now when one of the constrains in the visible-columns is incorrect, "404 constraint [ experiments ,sample_membrane_preparation_sop_fkey ] not found. " is thrown and disrupt the whole flow instead of silently get ignored.

[2016-10-28 05:03] hongsudt opened #256 "add accession_id in the hueristics"
Many of our tables are now using accession_id or accession_number for unique ids.. We should add these terms to the heuristics and they should have higher priority than id.

[2016-10-28 18:39] RFSH commented on #256
@hongsudt Is this related to row name?

[2016-10-28 18:40] #248 closed

[2016-10-28 20:23] hongsudt commented on #256
Yes. We might have to add some more heuristics to the row-name.

On Fri, Oct 28, 2016 at 11:39 AM, Aref Shafaei <notifications@github.com>
wrote:

[2016-10-28 21:29] #255 closed

[2016-10-30 23:58] hongsudt opened #261 "Need annotation to indicate whether a table is ediable/deletable"
This annotation should signal chaise whether to show the create/edit/delete button.

## Annotations and properties of tables

We discussed a number of points:
- [x] Allow generated annotation at table-level and schema-level and expose as generated property on table, disabling creation and edition of new records in GUI.
- [x] Also infer generated property of tables if all visible columns (in entry/

[2016-10-31 01:08] hongsudt opened #262 "related entities still display the foreign key linked to the main entity"
See an example from the following link:
https://dev.gpcrconsortium.org/chaise/record/#1/experiments:experiment/accession_id=GPCRUSC20161010EXP1

You can see that the experiment_accession_id of the same value as the main entity stll show up.

[2016-11-01 00:38] shinyichen opened #263 "Reference.read() add alias needs to account for search filter in the URL"
This piece of code was written while search capability was being written. Therefore it did not account for the URL having a search filter at the end.
https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L618-L623

[2016-11-01 02:15] hongsudt opened #264 "generated annotation is not working"
When creating an experiment, all fields should be treated as generated except the experiment type and and description. However, many of the fields below showed up.

[code]

[2016-11-01 02:23] hongsudt commented on #263
@shinyichen Do we need to support this for the first round of recordedit?

[2016-11-01 02:26] hongsudt commented on #250
@chiragsanghvi are you working on this issue?

[2016-11-01 02:28] hongsudt commented on #242
I am closing this issue since it is being used as is in the recordedit. We can open a new issue when we have a different use case.

[2016-11-01 02:28] #242 closed

[2016-11-01 02:28] chiragsanghvi commented on #250
I have fixed this issue on last Thursday.

Sent from my iPhone

On 31-Oct-2016, at 7:26 PM, Hongsuda <notifications@github.com<mailto:notifications@github.com>> wrote:

@chiragsanghvi<https://github.com/chiragsanghvi> are you working on this issue?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/informatics-isi-edu/ermrestjs/

[2016-11-01 03:31] hongsudt opened #265 "support generated and immutable annotation in pseudo column"
When a foreign key is defined as generated or immutable, these properties should be propagated the same way as the regular columns. Please check old issues #230 on how these properties should be mapped to.

[2016-11-01 04:17] howdyjessie commented on #264
The bug was in Chaise due to the new foreign key popup not having a check for the `generated` and `immutable` annotations. I've pushed the fix to the `recordedit2-master` branch, so I expect dev gpcr to pick it up soon. Otherwise, here's a look at the `experiments:experiment` table [in my user dir](https://dev.gpcrconsortium.org/~jessie/chaise/recordedit/#1/experiments:experiment).

[2016-11-01 17:26] shinyichen commented on #263
It's a very small change. Shouldn't doesn't affect anything right now because recordedit or record don't have search filter.

[2016-11-01 17:30] RFSH commented on #263
@shinyichen Does it cause any problems? Urls such as [this](https://dev.isrd.isi.edu/chaise/recordset/#1/legacy:dataset/owner=Axel%20Visel/*::ciregexp::new@sort(id)?limit=15) will work which has both search and filter.

[2016-11-01 18:48] hongsudt commented on #256
It is now working as expected on gpcr-dev. So I am closing this issue.

[2016-11-01 18:48] #256 closed

[2016-11-01 23:31] RFSH commented on #265
These are the heuristics for choosing the right value for `PseudoColumn.getInputDisabled()`:
  - If it's a simple foreign key, use the column's result.
  - If it's a composite foreign key,
    - In `create` context,
      - If all columns have `generated` annotation, return the "generated message".
      - else return`false`.
   - In `edit` context,
     - If one of the columns has `immutable` ann

[2016-11-02 00:52] #265 closed

[2016-11-02 00:56] #262 closed

[2016-11-02 01:44] hongsudt opened #268 "missing related entities"
This experiment (GPCRUSC20161031EXP1) is supposed to have 2 samples..  https://dev.gpcrconsortium.org/chaise/record/#1/experiments:experiment/id=24

However, I don't see any sample listed under the related table associated with that experiment..

[2016-11-02 01:51] RFSH commented on #268
It will show the samples but after a few seconds. It takes some times to load the data.
 We should show some sort of indicators that the data is loading.

[2016-11-02 01:54] carlkesselman commented on #268
Why should this take a long time to load?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina

[2016-11-02 02:00] hongsudt commented on #268
Because it does a join to every single foreign key to extract the foreign key information so the linkage can be automatically generated. Sample has almost 10 foreign key.. so it probably takes a bit of time to execute.

Maybe we can address the ux issue by adding loading... at the bottom of the page if the page is not finished loading. I will generate an issue for that..

[2016-11-02 02:00] #268 closed

[2016-11-02 02:05] carlkesselman commented on #268
Could we do the spinner instead?

Carl

Sent from my iPhone

On Nov 1, 2016, at 7:01 PM, Hongsuda <notifications@github.com<mailto:notifications@github.com>> wrote:

Because it does a join to every single foreign key to extract the foreign key information so the linkage can be automatically generated. Sample has almost 10 foreign key.. so it probably takes a bit of time to execute.

Maybe we can a

[2016-11-02 02:13] hongsudt commented on #268
I am not sure spinner is appropriate since the page is usable, and nothing is blocking. It is just an indicator that there is more data coming.

I think the reason that it is slow is because is does a join to biomass which is the biggest table we have right now..

[2016-11-02 02:14] hongsudt commented on #268
The UX issue is informatics-isi-edu/chaise#724.

[2016-11-02 02:24] karlcz commented on #268
also you are testing on gpcr-dev which hasn't had all the performance tuning I think?

[2016-11-02 18:26] hongsudt opened #269 "support compact/select which will be used for the search modal"

[2016-11-02 19:39] #269 closed

[2016-11-02 19:46] hongsudt opened #271 "Search modal has area that is not clickable"
@hongsudt commented on [Tue Nov 01 2016](https://github.com/informatics-isi-edu/chaise/issues/729)

Choose one of the sop drop-down. When a search is poped up, I can click any column to choose the row except the procedure column (which is a markdown).  We should be able to click anywhere to choose, correct?

https://dev.gpcrconsortium.org/~chirag/chaise/recordedit/#1/experiments:sample

---

@jrch

[2016-11-02 19:48] hongsudt commented on #271
@chiragsanghvi we think that this will involve some work in the markdown engine. Please take a look. However, please don't apply this change for the demo since we won't have time to do manual regression testing on all markdown we use.

[2016-11-02 21:33] jrchudy opened #272 "Validation on foreign key fields"
Foreign key fields that are marked as not-null need to be validated in the UI before the data is submitted to ermrest.

[2016-11-02 21:33] jrchudy commented on #272
Issue moved to [informatics-isi-edu/chaise #736](https://github.com/informatics-isi-edu/chaise/issues/736) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-02 21:33] #272 closed

[2016-11-02 22:37] karlcz commented on #250
I can confirm that this is working for me now.

[2016-11-02 22:37] #250 closed

[2016-11-02 22:50] jrchudy commented on #271
This issue was fixed. @chiragsanghvi submitted a PR for chaise to handle this event in the table directive. Closing this issue.

[2016-11-02 22:50] #271 closed

[2016-11-03 20:05] hongsudt opened #273 "serial column should be treated as auto-generated automatically"

[2016-11-05 00:14] hongsudt commented on #196
This issue should addess informatics-isi-edu/chaise#693.

[2016-11-07 18:07] karlcz commented on #261
I think we should expand the definition of the generated and immutable annotations so they can be applied to an entire table.  An immutable table can allow recordedit in create mode, but not edit.  A generated table supports neither.

I am not sure how to capture "can't delete" in a meaningful way... not sure it is really distinct from "can't edit" since editing can destroy information anyway.  Wh

[2016-11-08 19:17] #263 closed

[2016-11-08 19:35] karlcz commented on #261
@robes @hongsudt I updated the issue description based on our discussion.  I reviewed ermrest and I don't think we've actually exposed the "on delete" and "on update" rules via the model introspection layer yet. There is only partial internal support for it in ERMrest and there are some issues to sort out before it can be mapped into the REST API. So, that work on inference will have to be split o

[2016-11-08 22:46] hongsudt opened #275 "supporting non-lexical sorting (e.g. allow sorting to be done based on a different columns)"
For example, in RBK and Facebase, there is a column called `age stage` that has values like `3.5 weeks, 10 weeks, etc.` When this column is sorted, it needs to be sorted based on their ordinal ranking e.g. 3.5 comes before 10 weeks.

@karlcz @robes should we add an annotation to specify the mapping columns to be used for sorting?

Another related issue.. since each column can be annotated with a m

[2016-11-08 23:04] karlcz commented on #275
We already have a row_order annotation which could be applied on a domain table.  So maybe what you're asking for is a heuristic to assume that sorting by foreign keys should actually sort by the row_order of the referenced domain table instead of the actual foreign key value?

You would need to form a joined entity path and include the other column in the projection so that you can ask for sort b

[2016-11-09 19:20] #264 closed

[2016-11-09 23:30] karlcz commented on #275
After further discussion, I agree that the case with markdown_pattern creates a problem. We cannot realistically determine a semantic sort order for columns where the presentation has been remapped by an arbitrary markdown_pattern expansion.

So, we probably need an annotation to suggest a "column_order" using the same array of sort keys as in the "row_order" annotation option.  With this, the app

[2016-11-10 21:12] karlcz commented on #178
isn't this done already?

[2016-11-10 22:22] karlcz commented on #275
I pushed [column_order annotation options](https://github.com/informatics-isi-edu/ermrest/commit/171f81912ce463e408f305361f4724bfe9d0bba9?short_path=cf73c73#diff-cf73c73d214853f687df4473ad3e234a)

[2016-11-11 01:00] jrchudy commented on #178
This is done by us using the Reference API now.

[2016-11-14 19:52] hongsudt opened #278 "Allow generated annotation at table-level and schema-level"
Allow generated annotation at table-level and schema-level and expose as generated property on table, disabling creation and edition of new records in GUI.

@robes @karlcz should we add this logic into canCreate, canEdit, and canDelete? I think Chaise already checks this functions before showing the creation/deletion button.

[2016-11-14 19:54] hongsudt opened #279 "infer generated property from all visible columns"
Also infer generated property of tables if all visible columns (in entry/create context) are marked generated.

[2016-11-14 19:55] hongsudt opened #280 "Allow immutable annotation at table-level and schema-level"
Allow immutable annotation at table-level and schema-level and expose as immutable property on table, disabling edit (and delete?) of existing records in GUI.

[2016-11-14 19:56] hongsudt opened #281 "infer immutability of tables from all visible columns"
Also infer immutability of tables if all visible columns (in entry/edit context) are marked immutable.

[2016-11-14 19:57] hongsudt opened #282 "non-deleteable annotation at table- and schema-level"
Introduce non-deletable annotation and property for tables to disable deletion of existing records in GUI, even if editing is allowed.

[2016-11-14 20:41] hongsudt commented on #64
I will close this issue for now.

[2016-11-14 20:41] #64 closed

[2016-11-15 22:54] #247 closed

[2016-11-16 03:16] hongsudt opened #285 "handle column displayname correctly"
The column displayname can be set through the `tag:misd.isi.edu,2015:display` annotation, which has the following syntax:
[code]

- [x] escape the column display name derived from the "name" property in the display annotation or other base column names.
- [ ] `{"markdown_name"`: markdown}` provides explicit markdown string.
- [ ] `{"name_style": { `"markdown"`: true }}` means to interpret the effe

[2016-11-16 18:09] #278 closed

[2016-11-16 22:06] karlcz commented on #146
@hongsudt I need some kind of support for the pre_format feature above or another way to adjust the display precision for floating point numbers.  it's currently a problem for synapse.

[2016-11-16 22:26] robes commented on #285
To keep things simple, we could just say that the `name` attribute may include markdown. So we alway render it with the markdown engine if the `name` annotation is given.

When the `name` annotation is not given, then we escape the column name. I.e., column.displayname = escaped column.name, in the default case where not `name` annotation is given.

[2016-11-17 01:47] howdyjessie commented on #273
PR #287 has been merged, so closing now.

[2016-11-17 01:47] #273 closed

[2016-11-17 02:40] hongsudt commented on #285
For simplicity, I think we need to distinguish whether it is a markdown column or just a static replacement of the column.. I think the two cases require different escape mechanism.

[2016-11-17 02:50] hongsudt opened #288 "reconcile the misleading {{}} interpolation in mustache"
It never makes sense to use the `{{col}}` expansion in chaise.. So we should automatically map it to `{{{col}}}`. @chiragsanghvi can we do this?

[2016-11-17 23:29] RFSH opened #290 "Refactor Reference.columns"
Currently `Reference.columns` returns a list of `Column` and `PseudoColumn` objects. Instead, we should introduce a new `ReferenceColumn` class and return a list of these objects.

The `Reference.columns` calls the `Columns._contextualize` which returns the list. We can bring the logic that is used in `Columns._contextualize` outside of the `Columns`, remove the `PseudoColumn` class and let the `R

[2016-11-17 23:48] robes commented on #290
@RFSH That is more like an inheritance approach. What we had in mind was a proxy or facade approach (technically, I think the OO community calls this approach "Composition"). You define `ReferneceColumn` independently of `Column` but you match its function and property interfaces, where needed. A limited example:

[code]

And then of course you modify the above behavior based on contextualization.

[2016-11-17 23:52] RFSH commented on #290
At first I thought about facade, but the problem with that is we should list all the attributes that we have in Column.
Is this is the intended behaviour to list all the apis rather than copying them automatically and change the ones that needs to be changed?

[2016-11-18 00:18] robes commented on #290
I wouldn't say "list all the apis" rather list _just_ the APIs that are needed rather than copying them all.

[2016-11-18 00:22] karlcz commented on #290
I don't think you necessarily want/need ALL column attributes and
methods to leak out of referencecolumn.

Rather, there is a core set of things we actually need that should be
proxied and other stuff remains hidden.  We can revisit that
distinction over time to add more proxy methods.

When things are contextualized, there really shouldn't be that many
reasons to do ad hoc access to other column

[2016-11-19 00:31] shinyichen commented on #282
This is not in the annotation document yet. Should I add it to the doc?

[2016-11-19 03:22] hongsudt commented on #282
Yes, please.

On Nov 18, 2016 4:32 PM, "Jennifer Chen" <notifications@github.com> wrote:

[2016-11-22 00:28] #282 closed

[2016-11-22 00:28] #279 closed

[2016-11-22 00:28] #280 closed

[2016-11-22 00:28] #281 closed

[2016-11-29 18:30] #290 closed

[2016-11-30 18:34] karlcz opened #295 "Need more precision in floating point number display"
I need more than two digits of fraction in the floating point display. My project has small values which are being rounded and truncated too much and giving poor UX.

In the long run, the pre_format display option is meant to allow this to be customized. I know there are some concerns about which formatting language and library to use here.

In the short term, I need either a simpler deployment co

[2016-12-02 01:25] hongsudt opened #296 "Pseudo-columns fallback appropriately when there is no access to outbound table entries"
We need to be able to handle the case when only the main table entries are available without the additional entries from the domain tables.

Currently the `page` expects linked data, while it might not be available. We need to change this function to handle these cases.

Also the related functions in `RefernceColumn` that expect all the data, should be changed as well.

[2016-12-02 01:37] hongsudt opened #297 "Reference.create creates a page instead of a url to be redirected to for multi-entry insert"
Currently at the end of the multi-entry creation, the app navigates to a recordset with specific set of entries newly created. Due to the url length limitation (2083 characters), the call might fail.

To address this problem, instead of throwing away the data getting back from ermrest after the creation, this data should be used to create a Page, so that the newly created entries can be rendered u

[2016-12-02 01:48] hongsudt opened #298 "create a pseudo-column that contains a list of actions that users can do"
- This column should be the first column (left most).
- The column name should be "Actions". The value should be linkable icons (with tooptips) for `view`, `unlink` or `delete`, and `edit`.
- In the compact/brief context, if the related table is derived based on pure and binary association table, `unlink` should be provided, otherwise, `delete` should be provided. `Unlink` deletes an entry in the

[2016-12-02 23:07] robes commented on #298
@hongsudt I think the reference api covers row-level security but of course that is not and cannot be implemented given the current mechanism that ermrest uses based on postgres row level security.

[2016-12-03 02:21] hongsudt opened #299 "number format pattern"
@karl: I need more than two digits of fraction in the floating point display. My project has small values which are being rounded and truncated too much and giving poor UX.

In the long run, the pre_format display option is meant to allow this to be customized. I know there are some concerns about which formatting language and library to use here.

@hongsudt commented on [Wed Nov 02 2016](https://

[2016-12-03 02:27] howdyjessie opened #300 "Change default # of decimal digits for floats from 2 to 4"

[2016-12-03 07:56] howdyjessie commented on #300
Floating points should have 4 decimal digits now; please confirm on synapse-dev (which I gather is the only deployment that was depending on this issue).

[2016-12-05 21:06] karlcz commented on #300
This looks ok to me.

[2016-12-05 21:22] #300 closed

[2016-12-07 02:58] hongsudt commented on #295
duplicate of #299.

[2016-12-07 02:58] #295 closed

[2016-12-07 03:05] hongsudt commented on #298
@shinyichen we decided to implement this in chaise. I am moving this issue to chaise repo.

[2016-12-07 03:05] hongsudt commented on #298
Issue moved to [informatics-isi-edu/chaise #838](https://github.com/informatics-isi-edu/chaise/issues/838) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-07 03:05] #298 closed

[2016-12-08 22:28] #296 closed

[2016-12-13 19:39] hongsudt commented on #261
The temporary solution is done. I am moving the inference rule to the wishlist wiki page on ermrestjs.
https://github.com/informatics-isi-edu/ermrestjs/wiki/Wishlist

[2016-12-13 19:39] #261 closed

[2016-12-15 00:16] karlcz opened #302 "Column-display markdown_pattern ignored for foreign key consituents"
1. I put the bare column name in my visible columns list (not the constraint name)
2. I defined a column-display annotation with markdown pattern for this column

All of this was ignored, and the UI behaved as if I had put the constraint name in the visible column list. It should instead respect my instructions.

[2016-12-15 00:19] karlcz opened #303 "Cannot interpolate columns with "." in name"
I need to be able to interpolate all columns even if they have names that mustache does not like, e.g. with a `.` character (or any other that mustache might disallow).

- ideally, we should use a template system that does not make assumptions about names
- alternatively, we might use a workaround like string-replacing or otherwise "escaping" unsafe characters while producing the markdown environm

[2016-12-15 01:04] hongsudt commented on #302
This is because we automatically derived foreign keys from the visible column list.

[2016-12-15 01:16] chiragsanghvi commented on #303
I think we might need to get rid of Mustache as escaping also won't work. In addition other template languages also won't support it as `.` in javascript is a property of an object.

We can use handlebars, but for it you need to explicitly enclose the column-name in quotes.

[code]

We can switch back to the old string replacement. Which I am sure supports it, but it won't have the encode and othe

[2016-12-15 01:20] hongsudt commented on #303
#escape has been used in real deployments.. So we need to be careful about
turning off features.

On Wed, Dec 14, 2016 at 5:16 PM, Chirag Sanghvi <notifications@github.com>
wrote:

[2016-12-15 20:22] hongsudt commented on #303
@karlcz can you please describe the workaround here..

[2016-12-16 21:45] karlcz commented on #303
@hongsudt  it's the second option I described in the original issue.  Mangle column names when producing the environment object passed to the mustache interpreter, i.e. replace `.` or any other disallowed character with `_` when forming the object keys for the environment dictionary.

Then, the DBA can mangle the names the same way in order to be able to use guards or interpolation based on that c

[2016-12-16 22:59] hongsudt opened #304 "API for retrieving aggregate functions"
We need a way to retrieve aggregate values associated with a reference such as count, min, max, etc. Should this be something like Referece.getAggregate(aggregateList).

This API is needed for informatics-isi-edu/chaise#878 and will be useful for faceting to retrieve a range of a number/date column.

check the flow listed on https://github.com/informatics-isi-edu/chaise/wiki/Faceting

@karlcz can

[2016-12-16 23:29] hongsudt opened #305 "tuple.value expose raw values for both edit and create"
tuple.values function to contextualize the values for both edit and create the same way.

[2016-12-19 04:01] #305 closed

[2016-12-20 00:50] RFSH opened #308 "Handle PseuoColumn default values"
`ReferenceColumn` has a `default` attribute for Columns. We should expand it to PseudoColumns too. The `default` value in this case should be the row-name that has been created based on default values of constituent columns. It will return null, if it cannot generate a row name.

[2016-12-21 18:32] hongsudt commented on #302
@RFSH we should take out the heuristics that automatically derive the forieng keys from regular columns in the visible list.

[2016-12-21 20:17] hongsudt opened #310 "automatically create linkable column value for unique key constraint"
Ermrestjs should automatically create a linkable value for a unique key constraint, similar to what we have done for the foreign key constraint.
In other words, we want to add new `ReferenceColumn` object to the list of columns that is returned by `Reference.columns`. These new columns will represent a key.

### How to choose a key
- If `visible-columns` annotation was defined, we should create "l

[2016-12-21 20:28] jrchudy commented on #297
I can verify that this is returning a page object now with the data populated as we would expect for the resultset view of the `recordedit` app.

[2016-12-21 20:28] #297 closed

[2016-12-22 00:27] #303 closed

[2016-12-22 16:52] robes opened #311 "Stringify JSON for presentation"
This seems like something we can handle in ermrestjs rather than Chaise. We need to `JSON.stringify(...)` objects. This is probably something to handle in Column format values function for columns of type `json`/`jsonb`.

If this isn't a trivial fix somewhere in that code, then we should have some further discussion.

This issue is related to #146

[2016-12-22 20:29] RFSH opened #313 "Provide a reference to a corresponding record in the association table for tables derived by pure and binary assocation"
For each record in the related tables derived from pure and binary association tables, we need a mechanism to get to the corresponding record in the association in order to do an edit or delete in the action column. Currently, there is no API to access this reference.

What about adding a function Tuple.getAssociation that will return the reference to the corresponding record in the association ta

[2017-01-03 19:01] karlcz commented on #304
ermrest has both aggregate and attributegroup APIs which support a list of aggregate function "projections".  The aggregate API projects one row of results from an entire table or query set (i.e. grand total count, min, or max) while the attributegroup API projects one row of results for each group key in a table or query set (i.e. group-local count, min, or max for rows sharing the same group key

[2017-01-03 19:03] karlcz commented on #304
In practice, aggregates are implemented as a table scan and it will be cheaper to gather all desired statistics from the same table or query set in a single request rather than via separate requests, each of which has to scan the whole table again.

This whole table scan is also a limiting factor on huge tables since you will eventually run into HTTP request timeouts with millions of rows to proce

[2017-01-06 00:13] #313 closed

[2017-01-06 00:13] #308 closed

[2017-01-07 01:40] #311 closed

[2017-01-11 00:01] RFSH commented on #302
@karlcz This should be fixed now. Can you please verify?

[2017-01-11 18:29] RFSH commented on #310
@hongsudt @karlcz Should we add this "linkable column" in all the contexts? I don't think we should add them in edit and create context.

[2017-01-11 19:21] karlcz commented on #310
I agree they don't make sense in edit or create.

[2017-01-11 19:21] hongsudt commented on #310
You are right.. No linkage in the create/edit context. In edit/create
context, they should be treated as other regular columns.

On Wed, Jan 11, 2017 at 10:29 AM, Aref Shafaei <notifications@github.com>
wrote:

[2017-01-12 19:38] karlcz commented on #302
I confirmed that this works now.

[2017-01-12 19:38] #302 closed

[2017-01-18 18:28] hongsudt commented on #285
@karlcz @robes @RFSH it seems like we already have this issue open.. Please modify the detail here.

[2017-01-18 18:45] robes commented on #285
We can replace the `name_markdown` in the original description with something like `render_markdown` as a `true`/`false` flag.

[2017-01-19 02:17] karlcz commented on #285
I am proposing something a little more complex, because I think it gives a saner model.

1. the existing `name` field remains as is for verbatim content that will be escaped for presentation
2. a new `markdown_name` field allows an explicit markdown string with no ambiguity
3. a new `name_style`-> `markdown` flag allows markdown rendering to be toggled. I've specified it to only apply to actual mo

[2017-01-19 02:18] karlcz commented on #285
I will wait for next standup to reach closure before I push these changes to the ermrest user-doc stuff...

[2017-01-19 21:51] jrchudy opened #320 "Add get reference to table"
`Table` should have a `get reference` method to get a reference for that whole table.

This is to address [this chaise issue](https://github.com/informatics-isi-edu/chaise/issues/932). This way the apps can get a reference for the table before generating an app link to get a more appropriate link.

[2017-01-23 19:02] #320 closed

[2017-01-24 22:21] karlcz opened #324 "Iframe integrates poorly into recordset and record apps"
The markdown iframe seems to introduce a huge amount of padding and also messes with the background color in a way that doesn't work well with our core apps.

https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Cropped%20Image@sort(Extract%20Date::desc::,ID)?limit=25

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Cropped%20Image/ID=CropImgZfZdu20160901A6A

These two exampl

[2017-01-24 22:22] ljpearlman opened #325 "Can't use column values to specify iframe dimensions"
I tried specifying:

[code]

This rendered as
[code]

for a row with Width=800 and Height=400

When I changed it to

[code]

it worked as expected; however, I'd like to be able to specify different dimensions for different rows in my table.

[2017-01-24 22:30] karlcz commented on #325
try putting a blank space to separate the closing }} of {{Height}} from
the closing } of the iframe payload?

    {"row_markdown_pattern" : "::: iframe [{{{Name}}}]({{{url}}}){width={{Width}} height={{Height}} } \n:::"}

I am guessing this has tripped up the mustache template renderer.

[2017-01-24 22:32] chiragsanghvi commented on #325
I think it should work, unless either of those fields are null/undefined. https://runkit.com/chiragsanghvi/5887bb20373c05001465a44b

[2017-01-25 02:07] #310 closed

[2017-01-25 02:12] RFSH opened #326 "Update Key Pseudo-column Logic"
The current logic is summarized in  #310.

These changes should be made to the logic:

#### How to choose a key
When `visible-columns` annotation is defined:
 - Don't check for html or nullok columns (Just entry context should be checked).

#### Attributes
These change are based on new [key annotation](https://github.com/informatics-isi-edu/ermrest/issues/127):
- displayname:
  1. Use the [display

[2017-01-25 20:05] chiragsanghvi commented on #324
I think this is fixed now in Chaise.

[2017-01-25 20:05] #324 closed

[2017-01-26 23:51] howdyjessie opened #329 "Handling 412 Precondition Failed error"
cc @hongsudt @jrchudy @robes @karlcz @RFSH @chiragsanghvi

There are 2 places in ermrestjs that currently use the If-Match request config which could run into a 412 Precondition Failed error if ETags are mismatching:

*Reference.update*
- Already accepts `tuples` as an argument so it already has Old Data (data before changes were made) and New Data (the data that's about to be submitted to DB).
-

[2017-01-27 00:08] karlcz commented on #329
For update the ermrestjs flow should be:

1. Update called with tuples having old and new data
2. PUT request sent with If-Match header and ETag from *old* data
3. 412 error received
4. GET request sent to get current data
5. Compare *old* and *current* data
  - If *old* and *current* are same, go back to step 1 but start using ETag from *current* data
  - If *old* and *current* are different, rai

[2017-01-31 00:18] hongsudt commented on #325
@ljpearlman please review and close the issue.

[2017-01-31 00:23] hongsudt opened #331 "all caption-class, caption-style, iframe-class, iframe-style to be specified in markdown"
This will allow the iframe to have different styles on the padding, colors, etc.

[2017-01-31 00:32] hongsudt commented on #285
This issue is pending on @howdyjessie's PR on using the isHTML to render the column names as html. I think the ermrestjs part is done.

[2017-01-31 00:42] hongsudt opened #333 "numeric type should be treated as float instead of integer"

[2017-01-31 01:37] howdyjessie commented on #285
I just merged the displayname PR for Chaise.

[2017-02-02 19:15] howdyjessie commented on #333
PR #337 has been merged so I'm closing this now.

[2017-02-02 19:15] #333 closed

[2017-02-03 00:35] robes opened #338 "Bad URL encoding in markdown pattern generated URLs"
This appears to be a bug as far as I can tell. There is a related issue here https://github.com/informatics-isi-edu/cirm-project/issues/87.

We have a column that has the following annotation:
[code]

The data value for the `Experiment ID` column includes a special character `&` in it. The URL that gets generated from the above annotation has been HTML encoded and has `&amp;` in it.

Unless I'm mi

[2017-02-03 00:38] hongsudt commented on #338
No.. If you don't want to have url encoded, you need to use {{{}}} for your
experiment id.

On Thu, Feb 2, 2017 at 4:35 PM, robes <notifications@github.com> wrote:

[2017-02-03 00:41] robes commented on #338
I _do_ want it to be URL encoded. Instead, it is getting HTML encoded.

[2017-02-03 00:41] karlcz commented on #338
There should be three braces, not two, surrounding the column name:

  ...{{#encode}}{{{Experiment ID}}}{{/encode}}

the two braces mode is a feature of Mustache templates that make sense
when building HTML from templates but never really makes sense the
way we use templates to build markdown strings.

[2017-02-03 00:42] robes commented on #338
So the examples and documentation on the wiki are incorrect? Or am I reading them wrong, because the wiki shows an example specifically of building an URL and shows just 2 curly brackets rather than 3.

[2017-02-03 00:45] hongsudt commented on #338
According to Karl, we should never use 2 braces.. IN fact, there is a task
to automatically convert 2 braces to 3 automatically, but we never get
there...

So maybe we should just update the document.

On Thu, Feb 2, 2017 at 4:42 PM, robes <notifications@github.com> wrote:

[2017-02-03 00:46] karlcz commented on #338
I repeat: you should NEVER use the two-brace mode.  That means HTML
escaping, which never makes sense since we are not producing HTML. The
three-brace mode turns off this HTML escaping.

I wish we could turn off this part of Mustache in our system, but when
I asked it seemed like this would be invasive.

To have correct templates, you should ALWAYS use triple braces on
column names and then wrap w

[2017-02-03 00:47] karlcz commented on #338
If an example builds a URL with two-brace expansions, that is wrong.

[2017-02-03 01:57] #285 closed

[2017-02-03 18:39] robes opened #339 "Bad documentation for markdown URL encoding"
Details can be found in #338

It appears this may be a documentation bug.

[2017-02-03 18:40] robes commented on #338
seems this is a documentation bug not an implementation bug. #339 opened.

[2017-02-03 18:40] #338 closed

[2017-02-04 01:21] robes commented on #160
stale

[2017-02-04 01:21] #160 closed

[2017-02-04 01:22] robes opened #340 "Paging broken on nulls"
See https://github.com/informatics-isi-edu/cirm-project/issues/89

When an actual JS `null` value is to be included in a page key in the ERMrest URL, it needs to be written as `::null::` to disambiguate it from a string that happens to be spelled `null`.

[2017-02-04 01:37] hongsudt commented on #339
@chiragsanghvi can you please update the documentation, especially the difference between 2 braces and 3 braces..

[2017-02-04 02:48] karlcz commented on #339
More that just the difference, we should emphasize that 2 braces
makes no sense in Chaise.  We are NEVER using mustache to produce HTML
strings and so should NEVER use the expansion mode that applies
HTML escaping.

Instead, the user needs to use 3 braces AND either the escape function
to apply proper markdown escaping or the encode function to apply
proper URL encoding.

Ideally, we'd just hack o

[2017-02-08 00:28] karlcz opened #342 "Table alternatives link should not be in default visible foreign keys"
I think there is a little problem in the default visible foreign keys list when using the table alternatives feature.

See example: https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfDsy20170111A

1. Define a base table ("Subject" in my example)
2. Define an alternative view over the base table ("Subject Summary" in my example)
3. Define a psuedo key and fkey from alternative

[2017-02-08 01:43] howdyjessie opened #343 "canDelete shouldn't consider generated and immutable annotations"
Reference.canDelete() should only consider the non-deletable annotation and whether the user has write permission.

[2017-02-08 02:07] howdyjessie commented on #343
Note to self: Let deployments know after pushing this change.

[2017-02-08 02:44] hongsudt opened #344 "support domain_filter_pattern in foreign-key annoation"
The annotation should support both specific filtering criteria and the current form values to be used in search filtering. We probably need to discuss the detail in a meeting..

[2017-02-08 23:09] karlcz opened #346 "Date presentation not ISO 8601?"
I think this is a bug...  Dates and timestamps should always be in ISO 8601 format to match what we take as input rather than having sub-fields move around in different orders depending on locale settings.

I think we should be able to display in full (24 hr) format but I realize some people may want to use AM/PM instead so perhaps we need a configuration toggle to adjust on deployments:
- 2017-01

[2017-02-08 23:23] hongsudt commented on #346
@howdyjessie can you change the default format to be the ISO 8601 using 24 hours format?

[2017-02-08 23:26] hongsudt commented on #340
@robes please review the fixes.

[2017-02-08 23:57] robes commented on #340
Looks like its working. thanks

[2017-02-08 23:57] #340 closed

[2017-02-09 22:08] jrchudy opened #348 "Tests for searching on ints and floats."
Changes were made to `location.search` to search using a regular expression for integers and floats. Test cases need to be written for this feature.

[2017-02-10 01:26] howdyjessie commented on #343
PR #345 has been merged, closing now.

[2017-02-10 01:26] #343 closed

[2017-02-14 19:56] #326 closed

[2017-02-14 19:56] #246 closed

[2017-02-14 19:57] #275 closed

[2017-02-14 21:58] #348 closed

[2017-02-15 02:04] RFSH opened #352 "More Encoding Unit Test"
Add more unit test for encoding that have characters other than space, e.g., `(`, `%`.

[2017-02-15 22:10] howdyjessie commented on #346
PR #349 has been merged into master, closing this now...

[2017-02-15 22:10] #346 closed

[2017-02-15 22:56] hongsudt opened #353 "deeper substring search"
Currently, the sub-string search only applies to the column values of the primary table. We want to be able to extend the search to _referenced_ tables. However, in this context, we might not want to apply the search to all columns in the referenced tables to avoid confusing matches.

In the meeting, we discussed both ermrest extension and annotation to provide this flexbility. @karlcz, @robes Can

[2017-02-15 23:10] hongsudt opened #354 "remove serial column from default visible list unless it is used as the unique key"
This only applies to the heuristics for determining visible columns.

[2017-02-15 23:45] robes commented on #353
@karlcz has sketched out the first part of the solution in https://github.com/informatics-isi-edu/ermrest/issues/133. Of the options given there I lean toward the extensible option which after Karl's last update seems like it would provide backward compatibility to existing clients so we can avoid flag days.

[2017-02-15 23:49] karlcz commented on #353
The first work needs to be front-end changes driven by chaise-config and annotations.  The possible ermrest changes would just enhance that by allowing more than one kind of wildcard search to be used in ermrest (multiple short-hand notations for matching a set of columns at once).

[2017-02-21 20:14] RFSH commented on #342
@karlcz This should be fixed now.

[2017-02-21 20:17] RFSH opened #357 "Update Pseudo-column logic"
These changes should be made to the current pseudo-column logic:

1. Change the separator for displayname and values of  self-link (pseudo-column for key) to colon(":").
2. Changes to heuristic for adding self-link:
   1. Don't add self-link in detailed context.
   2. Don't pick simple keys that their constituent column is part of any simple foreign key.

[2017-02-22 22:19] howdyjessie commented on #329
A sketch from @karlcz on how to deal with 412 errors in ermrestjs:

![](https://cloud.githubusercontent.com/assets/4585431/23228069/19f54304-f8f0-11e6-9ce2-cf69a68afba8.JPG)

[2017-02-23 01:31] jrchudy opened #358 "Reference.update needs to alias all column projections"
`Reference.update` should include all of the old data and the new data in the request sent to the server. This includes aliasing all of the data properly and including those aliases in the column projections list.

`Reference.update` should not have an `If-Match` header anymore.

[2017-02-23 02:49] hongsudt commented on #358
Clarification: the old and new data should be of visible and editable columns.

[2017-02-28 20:23] hongsudt commented on #352
@RFSH is this task done?

[2017-02-28 20:39] RFSH commented on #352
@hongsudt Not completely. We only have some test cases for `/`.

[2017-02-28 22:35] #358 closed

[2017-03-01 01:59] RFSH opened #360 "CanCreate and CanUpdate Bug"
Currently CanCreate and CanUpdate are not using the right reference to get the list of columns. They should first contextualize the reference.

[2017-03-01 02:40] hongsudt opened #361 "validate proper context for Reference.create and update"
If the context is incorrect, we should throw an exception..

@RFSH since you are reviewing canCreate and canUpdate, can you work on this as well?

[2017-03-02 18:10] RFSH commented on #361
@hongsudt Because of amount of change that is required on chaise, I decided to [fix it in ermrestjs side](https://github.com/informatics-isi-edu/ermrestjs/issues/360).

[2017-03-02 21:58] #360 closed

[2017-03-02 23:47] howdyjessie commented on #329
PR #362 has been merged, closing now.

[2017-03-02 23:47] #329 closed

[2017-03-03 23:17] hongsudt commented on #352
@RFSH We should try to finish this. If it need to scope down for this iteration, we can.. Then create another issue that expand the coverage to be done later.. I don't want tasks stuck in this week lane too long.

[2017-03-03 23:38] hongsudt commented on #339
@chiragsanghvi let's update the document and close this task. It has been in this lane for too long..

I updated the [Markdown wiki](https://github.com/informatics-isi-edu/ermrestjs/wiki/Template-and-Markdown-Guide) and put your name where I want you to do the update. Search on @chirag and fill in what I have asked.

[2017-03-06 19:44] karlcz commented on #342
confirmed.

[2017-03-06 19:44] #342 closed

[2017-03-07 20:26] chiragsanghvi commented on #339
@hongsudt Updated the documentation.

[2017-03-07 20:26] #339 closed

[2017-03-07 20:27] chiragsanghvi commented on #288
Cannot be done. We've changed the documentation to make user user three curly brackets by default instead.

[2017-03-07 20:27] #288 closed

[2017-03-09 03:13] hongsudt commented on #325
I am closing this issue.

[2017-03-09 03:13] #325 closed

[2017-03-09 18:07] #357 closed

[2017-03-09 18:08] #354 closed

[2017-03-09 19:02] RFSH commented on #204
@hongsudt we should discuss about this issue.

[2017-03-14 17:54] RFSH opened #364 "Sort control broken when FK references PK of same table"
@robes commented on [Tue Feb 28 2017](https://github.com/informatics-isi-edu/chaise/issues/1003)

On a table with a "self reference" (a FK that references its own PK), the sort control is broken on that column. The sort controls work for other columns still. See the "Derived From" column on the Imaging nested table on this record.

https://dev.facebase.org/data/record/#1/isa:sample/id=6

---

@RFS

[2017-03-14 18:02] RFSH commented on #364
@robes The issue wasn't related to just FK reference to same table. The internal function that I was using for getting the annotation wasn't checking if the annotation is available or not. I added a sanity check to that function and a test case for that.

Since the change was simple, I [pushed it to master](https://github.com/informatics-isi-edu/ermrestjs/commit/850093a5702f1dc28a0807398167ec2ba18

[2017-03-14 18:36] robes commented on #364
thanks

[2017-03-14 18:36] #364 closed

[2017-03-14 22:54] ljpearlman opened #366 "table-alternatives showing too many rows from association tables"
If I have two tables, `X` and `Y` linked by an association table `ASSOC` (i.e., with foreign keys from `ASSOC` to both `X` and `Y`), and I declare the table `ALT_X` (which has a foreign key to `X`) as an alternate view of `X`, then viewing any row of `Y` in the `record` app will display all rows of `ALT_X`, not just the relevant ones.

That's pretty hard to parse, so here's a concrete example. If

[2017-03-18 00:21] #344 closed

[2017-03-20 18:24] hongsudt opened #367 "supply a filtering criteria for related table reference"
We have decided that instead of rewriting the url for the related table references which only works for the direct in-bound foreign keys, but not the pure and binary association case, we will provide the filtering clue through a URL parameter..

What about using `filters` as the parameter name?

Chaise will then just display what's in the parameter value and provides a reset button..

[2017-03-20 18:43] karlcz commented on #367
I think the parameter name should be something like "subset" or
"subset_name" and its purpose is to provide a human readable subtitle
for the set of results being displayed in recordset.  It could be used
even in the future when we have breadcrumbs or faceting UI to show the
actual constraint values.

Also, I think the button name should be something like "show
unfiltered" rather than "reset".

[2017-03-21 23:02] RFSH commented on #367
@karlcz Can you please specify the format of readable subtitle that we should show?

[2017-03-22 00:55] karlcz commented on #367
The subset name should be an arbitrary string that the Chaise page can use as a subtitle below the normal title which I believe is the table name.

Let's assume:
- starting on record page for "parent" table T1
- navigating to recordset page for "child" table T2

Then, there are really only two ways we get related entity sets:
1. foreign key F1 points from T2 to T1
    - the "to name" for F1 names

[2017-03-22 01:01] karlcz commented on #367
I edited my previous message to include the `[show unfiltered]` button in the illustration.. this is something recordset would add after the subset name string, not something the caller embeds in the name itself.
@hongsudt @robes

[2017-03-22 03:40] robes commented on #367
Seems fine to me. I would prefer if we don't need an annotation for the subtitle.

[2017-03-24 00:21] howdyjessie opened #370 "Move Session logic from Chaise to ermrestjs"
See this thread starting [here](https://github.com/informatics-isi-edu/chaise/pull/1025/files#r107788404) for more context.

Chaise should use ermrestjs to get the session (e.g. `ERMrest.Session.get()`), log out, etc. so that this logic can use ermrestjs' retry logic.

[2017-03-24 00:48] hongsudt opened #371 "default app_link"
Make sure that app_link is always defined..

[2017-03-27 18:43] RFSH commented on #367
@karlcz @hongsudt @robes These are the issues that I found related to related entities displayname.

The following are based on [karl's assumptions](https://github.com/informatics-isi-edu/ermrestjs/issues/367#issuecomment-288265834).

1. For simple related tables:
    - Based on #123, the "from name" of F1.
    - Otherwise, the display name of T2.

2. For association related tables:
    - Based on

[2017-03-27 18:47] RFSH commented on #371
Since it is client's responsibility to provide the `appLink` function, we should
- Make sure that chaise is always returning an appLink. [Currently](https://github.com/informatics-isi-edu/chaise/blob/502721dac14c3c4f402c3194167a3fea76dffa49/common/utils.js#L154) it returns`undefined` in some cases.
- Change ermrestjs behaviour to return an error if it could not find the `_appLinkFn`.

[2017-03-27 19:41] RFSH commented on #367
After discussion with @hongsudt, we think that using "to name" as @karlcz suggested makes sense in this case. In addition to that, we should use the displayname of T1 as a fallback (if "to name" is not defined).

I also have to mention that both table displayname and row name can be HTML. I am going to add another query parameter (subset_html) to indicate if we should treat it as HTML or not. Alth

[2017-03-27 21:04] karlcz commented on #367
I'm not sure I understand regarding HTML.

The display names may be HTML due to our markdown renderer.  If the DBA uses markdown that interferes with the page display, we'll say it's their fault and they should fix it (i.e. not using header styles in the markdown fragment).

The input from the URL paramter MUST NOT be interpreted as HTML.  It should be treated as plain text (going through the HTML

[2017-03-28 00:10] RFSH opened #372 "Add Unformatted Attribute to Displayname"
Currently the `Reference`, `Tuple`, `Schema`, `Table`, and `Column`have a displayname attribute which has `value` and `isHTML` in it. We should add a new attribute to these displayname objects that will return the unformatted (without any HTML tags) value. If `isHTML` is false, the `value` and `unformatted` value should be the same.

[2017-03-28 22:31] hongsudt commented on #367
for the sentence fragments, I think we should use one consistently.. Let's use
- `for` to name = row name.

[2017-03-28 23:43] jrchudy opened #374 "isForeignKey should be public"
`ReferenceColumn` should have a public method to expose the `_isForeignKey` property. This is so `chaise`can more robustly check whether a column is a foreign key in cases where specific actions need to be taken (like in `recordedit` for instance)

[This function](https://github.com/informatics-isi-edu/chaise/blob/master/recordedit/form.controller.js#L588) needs to be updated to check for this pub

[2017-04-04 21:28] svoinea opened #377 "tag:isrd.isi.edu,2016:visible-foreign-keys is not working properly"
On `cirm-dev`, I have the `Experiment` table with the following references to it:
[code]
I have defined the following annotation:
[code]
When I create a new `Experiment`, I can not see the `Add` link for the `experiment_probe` table, and not at all the `Slide`, `experiment_comments` and `Scan` foreign tables.
You can see the screenshot in the attached `Experiment_without_comment.png` file.

What i

[2017-04-04 21:34] hongsudt commented on #372
@RFSH are you working on this issue or is this one done? Please update the issue status..

[2017-04-04 21:38] hongsudt opened #378 "shortest key should take not null constraint into account"
So the precedence is
* not null
* integer column over text
* single column over multiple columns

@karlcz what if there is no not-null unique key constraint in the table. What should we do in that case?

[2017-04-04 21:39] RFSH commented on #377
Can you please give me a link to this record so I can investigate it?

[2017-04-04 22:01] svoinea commented on #377
The link is https://cirm-dev.isrd.isi.edu/
From the `Search` menu, select `Experiment`
Click on the first listed experiment (that one was created by me).
You can also create a new experiment for investigation.

The current annotation for the `Experiment tag:isrd.isi.edu,2016:visible-columns` does not include the `Comment` column.

Our goal is to drop that column as it will be "replaced" by the `ex

[2017-04-04 22:33] #367 closed

[2017-04-04 22:34] RFSH commented on #372
Yes, It's done as part of #376. I am closing this issue.

[2017-04-04 22:34] #372 closed

[2017-04-04 22:35] #371 closed

[2017-04-04 22:50] karlcz commented on #377
If I'm not mistaken, the only valid, inbound foreign key in that list
is ["Microscopy", "Slide_Experiment ID_fkey"].

The outbound foreign keys are only applicable in the visible-columns
list and just affect how the column display value is denormalized to
include content from the referenced record.

[2017-04-04 22:52] karlcz commented on #378
The answer for the DBA is to make sure they include a primary key,
i.e. unique and not-null.  The answer below is just how we should
attempt to cope in spite of this problem. (Other features like paging
may be broken w/o a primary key...)

The precedence means that everything that lacks not-null constraint
will tie, then you break the tie with the secondary preferences.

I'm not sure about the ord

[2017-04-05 21:25] svoinea commented on #377
@karlcz I think you were on `cirm-dev.misd.isi.edu`. There:
[code]
On `cirm-dev.isrd.isi.edu`:
[code]

[2017-04-05 21:49] karlcz commented on #377
When I go to the record page you described, and click "Show All Related Records" I see the empty categories for each of the foreign keys.  If you want this toggled by default, I think there is a chaise-config setting that controls whether empty sections start off hidden or expanded.

[2017-04-06 00:27] svoinea commented on #377
It seems that the problem is related to the initial presence of the `Show All Related Records` link instead of the `Hide Empty Related Records` one, and that might be due to a race condition.

[2017-04-06 00:54] robes commented on #377
I'm looking at the schema for `Experiment` and based on the visible columns and visible foreign keys annotations, I'm seeing what I would expect on the record page.

here:
https://cirm-dev.isrd.isi.edu/ermrest/catalog/1/schema/Microscopy/table/Experiment

and here:
https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Experiment/ID=20170404-H%26EACE-SV-1

[2017-04-06 01:04] robes commented on #377
Okay, returning to that page I see what you are reporting that the empty tables are not shown by default.

https://cirm-dev.isrd.isi.edu/chaise/record/#1/Microscopy:Experiment/ID=20170404-H%26EACE-SV-1

Ironically, I'm not a fan of this UX of showing empty records by default for authenticated and authorized (to edit) users. But we should be consistent at least.

So as far as I understand this was

[2017-04-06 01:08] robes commented on #377
@karlcz I don't see such a config option but it would probably be good to have. alternately I wonder if we should extend the visible FKs annotation with a show when empty boolean flag. instead of FKs listed as pairs `[ schema, keyname ]` maybe it could be extended to `[ schema, keyname, options ]` where `options` is a JSON object with extensible parameters beginning with this one...

[2017-04-06 18:45] hongsudt commented on #366
@RFSH can this be closed?

[2017-04-06 18:57] RFSH commented on #366
@hongsudt We haven't addressed this issue yet.

[2017-04-06 19:09] hongsudt opened #379 "incorporate file asset annotation"
- incorporate the new asset annotation
- generate a new type of pseudo column
  - In the read mode, display the column value
  - In the create/edit mode, all the columns (except the url) mentioned in the annotation should not be editable

@karlcz @robes anything else?

[2017-04-06 23:07] robes commented on #379
In read mode we could have a prettier default display:
- generate markdown to display it as a link
- the link should use the `download` class
- the name of the link should conditionally be the asset `filename` if one is specified or the URL itself if not filename is specified.

I think that translate into something like this in markdown but we could do it programmatically in the pseudocolumn:
[cod

[2017-04-10 18:18] karlcz opened #381 "Add related entities link visible on SQL view"
I have a SQL view in my catalog but Chaise acts like it is writable and presents mutation controls.

1. Go to https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfCza20170410A
2. See invalid mutation controls
    -  `Add` button on the `Pointclouds` related entity section
    - `Edit` or pencil icon on rows in `Pointclouds` related entity section

This is a view, so not writabl

[2017-04-10 18:28] karlcz commented on #381
I substantially revised this issue description after realizing it had nothing to do with table-alternatives.  It's just a plain view in the catalog.

[2017-04-11 01:28] #378 closed

[2017-04-13 18:39] #361 closed

[2017-04-13 19:09] karlcz opened #383 "acl is undefined"
I have a test catalog which is getting errors on loading every table or view I try with recordset.

The page loads and displays content but then dies with the terminal error shown below.

Example URL: https://synapse-dev.isrd.isi.edu/chaise/recordset/#2/Chaise:Table%20Access

[code]

The only two things I think are unusual about this catalog are:
1. I use a new column type `inet` on some tables (b

[2017-04-13 20:43] jrchudy commented on #383
Without digging into the code too much for this issue (the _checkPermissions_ function), it looks like the permission that is being looked for is returning an empty set. If `._meta[permission]` is undefined, it will break the `_checkPermissions(permission)` function.

So if you are trying to check the `write_user` ACL and that ACL was not set, it will be trying to look through _undefined_ instead

[2017-04-13 20:49] karlcz commented on #383
Right, the current ermrest/master will not return an empty list for
acl types in the /meta/ API.  It only has a list if at least one
member is configured.  It would be good to make the consumer more
defensive in this case.

This stuff will change when we finally merge the new fine-grained ACL
support, as we'll abandon the /meta/ API and check permissions on
individual tables via a different mechan

[2017-04-18 17:52] jrchudy commented on #381
The PR that fixes this issue has been merged. Assigning it to @karlcz for review.

[2017-04-18 18:33] karlcz commented on #381
I confirmed that this is now working on my dev system. This is a functional review, not a code review.

[2017-04-18 18:33] #381 closed

[2017-04-19 18:02] hongsudt commented on #207
@RFSH can you document this and close the issue?

[2017-04-19 18:07] hongsudt opened #387 "knowledge transfer from chirag in May"
- [x] markdown handling
- [x] test framework
- [x] file upload

[2017-04-19 18:11] hongsudt commented on #377
@RFSH if @jrchudy has fixed this problem, please refer to the specific issue in chaise and close this issue.

[2017-04-19 18:22] hongsudt opened #388 "API to retrieve aggregate group data (histogram, word frequency)"
These APIs rely on the [`attributeGroup` API in `ermrest`](https://github.com/informatics-isi-edu/ermrest/blob/master/api-doc/data/rest.md#attribute-group-retrieval). This means there needs to be a separate function used by the reference besides `getAggregates()`, maybe `getGroupAggreagte()`.

The following API for entity count returns `[{columnName: value, "alias": count}, {}, ...]`, where value

[2017-04-19 18:28] hongsudt opened #389 "incorporate faceting in the Reference"
@robes can you work on potential APIs for this?
This is probably related to #66.

[2017-04-19 22:37] ljpearlman commented on #366
The version Aref tested on rbk-dev yesterday looked good to me (not closing the bug because it doesn't look like it's been pushed to master yet).

[2017-04-19 23:29] robes opened #391 "alternate tables annotation not inherited by subcontexts"
I created an alternate table/view `alt_x` on table `x`. On table `x` I set the alternate table for the `compact` context to be the `alt_x`. I only see the `alt_x` displayed on the recordset but not in the nested tables. Explicitly specifying `compact/brief` fixed this.

[2017-04-20 15:43] RFSH commented on #366
@ljpearlman I pushed it to master now. It should be fixed.

[2017-04-20 18:00] robes commented on #389
I have a design in mind for this. I can work on this after the FB annual meeting, unless Carl wants me to first work on the viewer refactoring.

[2017-04-20 19:44] RFSH commented on #304
Sketch of the proposed api is as follows:
[code]

[2017-04-20 19:47] RFSH commented on #377
- [This PR](https://github.com/informatics-isi-edu/chaise/pull/1058) changed the heuristics for "show related" button.
- [This PR](https://github.com/informatics-isi-edu/chaise/pull/1062) changed the "Link" button to "Add".

[2017-04-20 19:49] #377 closed

[2017-04-20 21:22] hongsudt commented on #391
@RFSH If this is fixed, please assign @robes to review and close the issue..

[2017-04-20 21:22] #374 closed

[2017-04-20 22:15] RFSH commented on #391
@hongsudt I just merged the PR.

[2017-04-21 17:05] robes commented on #391
appears to work in my test

[2017-04-21 17:05] #391 closed

[2017-04-21 23:00] hongsudt commented on #304
@RFSH Should the getAggregate take any number of arguments?

[2017-04-21 23:12] hongsudt commented on #389
We will need to have this soon..

[2017-04-21 23:31] hongsudt commented on #370
@chiragsanghvi This issue seems to be what we have discussed about the session service on Thur..

* all the session management e.g. getting a new session, returning existing session, etc. should be centralized and moved to ermrestjs
* the get session should be asynchronous. If a different session is returned, the app should throw an error and reset.

@chiragsanghvi @jrchudy @karlcz  please add mis

[2017-04-21 23:36] jrchudy commented on #370
@karlcz made this point before, but I don't think the session APIs belong in `ermrestJS`. To get the session, we are making an `http` request directly to the `authn` API. `ErmrestJS` is meant for communicating with the `ermrest` API.

We can still do this, but `ermrestJS` will no longer be _just_ `ermrestJS` it will be `ermrest and some other APIs JS`.

[2017-04-22 00:08] hongsudt opened #394 "null support in faceting/searching"
when a value is null, the syntax for filtering/faceting is different from checking for an empty string (which is what we are currently doing).

[2017-04-25 18:54] robes opened #395 "app link broken when alternate-table used"
We have model where a table `A` is related to a table `B` via an association table `A_B` then we have an alternate table `Alt_B` for the base table `B`.

In Chiase, when you are looking at a record page for `A` you see the nested tables for `B` via the `Alt_B` view.

When you click the "Add" button to add another nested `B` (i.e., to create a new `A_B` association), the recordedit page instead giv

[2017-04-25 18:55] robes commented on #395
@RFSH I discussed this with @jrchudy this morning. This seems like it is more in your area. Please prioritize this to the top of your queue.

[2017-04-25 19:29] robes commented on #395
You can test this against catalog/5 on dev.facebase. Here's a link to a table with the above described situation.

https://dev.facebase.org/data/record/#5/isa:assay/id=21

In this case the relationships are:
[code]

Where `file_compact` is a view and annotated as `file`'s alternate table.

If you go to the above link and then see the File nested table and click on 'Add'.

On that test catalog the

[2017-04-25 19:31] robes commented on #395
@RFSH this should be simple to fix. and it only needs unit testing in ermrestjs. we should *not* need to add an end-to-end test to chaise for this.

[2017-04-26 00:01] #395 closed

[2017-04-26 00:34] RFSH commented on #207
Seems like the `closurecompiler` that we are currently using is deprecated. We should move to the new version of it. We have two choices:
- [google-closure-compiler-js](https://www.npmjs.com/package/google-closure-compiler-js): Dosen't need Java. But "It is an experimental release - meaning some features are not available and performance may not be on-par with the Java implementation. [Details Her

[2017-04-26 04:25] robes commented on #207
Worth trying the js version to eliminate our java dependency.

[2017-04-26 23:02] jrchudy commented on #383
Reassigning this to @karlcz to verify it has been fixed.

[2017-04-28 22:22] robes opened #398 "Delete retry stuck in infinite loop on precondition failure (412 error)"

[2017-04-28 22:44] jrchudy commented on #304
[For aggregate API documentation](https://github.com/informatics-isi-edu/ermrest/blob/master/api-doc/data/rest.md#aggregate-retrieval)
[For aggregate names documentation](https://github.com/informatics-isi-edu/ermrest/blob/master/api-doc/data/naming.md#aggregate-names)

You are not required to specify the `schema-name` but it helps to be specific in case multiple tables with the same name exist in

[2017-05-01 17:31] karlcz commented on #383
This looks like it is working now.

[2017-05-01 17:31] #383 closed

[2017-05-02 22:32] RFSH commented on #379
[code]

[2017-05-03 16:05] robes opened #399 "ermrestjs should implement the isUnique api"
Its time for this. It should be a simple matter of introspecting and validating against the filter in the URL.

[2017-05-03 22:15] hongsudt opened #401 "support psuedo-column that is an inbound table"
This will allow the related table to be displayed as part of the regular columns..

sketch out what need to be done

[2017-05-03 22:18] hongsudt opened #402 "sketch apis to support faceting of an integer column"
* aggregate group api to retrieve histogram from ermrest
* the faceting functionality

[2017-05-04 21:31] #379 closed

[2017-05-10 00:59] RFSH commented on #401
### Reference.columns and Reference.related
If `visible-columns` annotation is not defined, we should not add any Inbound Foriegn Key to the list of columns. If this annotation is defined and includes inbound foreign keys, we should remove them from the `Reference.related`. These two attributes will co-exist, but should not include duplicate values.

### Inbound Foreign Key Pseudo Column
`Referenc

[2017-05-10 02:06] hongsudt commented on #387
@jrchudy @RFSH should we close this issue?

[2017-05-10 20:08] jrchudy commented on #387
We still need to go over the ErmrestDataUtils (part of test framework).

[2017-05-10 20:29] hongsudt commented on #387
OK.. let's keep this opened until all bullets are checked.

On Wed, May 10, 2017 at 1:08 PM, Josh Chudy <notifications@github.com>
wrote:

[2017-05-11 18:31] chiragsanghvi opened #404 "Change `.isPseudo` handling to consider Foreignkey and asset columns"
Currently, the code assumes that if a column has `.isPseudo` flag on, it is a foreign key and things break in recordedit for asset columns.

When an existing entity is being updated which has a column with asset annotation, it doesn't considers asset column changes.

This is related to this PR for [asset annotation](https://github.com/informatics-isi-edu/ermrestjs/pull/400).

This [line](https://g

[2017-05-18 00:15] karlcz opened #406 "Improve foreign record content in mustache environment?"
### Updated (11/07) Description

Using mustache we can access table columns formatted and unformatted data. Recently we added `$moment` to access data object too. We can follow the same pattern and add a new `$fkeys` which will be used to access outbound foreign key. To access the outbound foreignkeys of the table, you can use the schema and constraint name, i.e. given ["schema", "const"] as the c

[2017-05-18 00:19] hongsudt commented on #406
@chiragsanghvi can you discuss with @RFSH in terms of what needs to be done?

[2017-05-18 22:13] robes commented on #304
The sketch looks like it would work. Not sure I like the API but that's mere aesthetics. I'd prefer an API like this.
[code]
where `groupBy` returns a new refernece instance that is not fully resolved (or not 'concrete' yet), and `count` (or `min`, `max`, etc) fully resolves the reference and then 'read' does what read does and returns a promise.

But Karl is absolutely right, these are going to r

[2017-05-19 22:46] #404 closed

[2017-05-22 22:48] #178 closed

[2017-05-23 19:10] jrchudy opened #408 "Ignore asset annotation"
The asset annotation should be ignored if the column data type is not of type text.

[2017-05-23 23:46] hongsudt commented on #31
We already have this documented..  @jrchudy did you have a chance to move it to the wiki (or the other way around?)

[2017-05-23 23:47] hongsudt commented on #31
Opps.. wrong one. I thought this is the style guide.

[2017-05-25 18:57] chiragsanghvi commented on #387
This is done.

[2017-05-25 18:57] #387 closed

[2017-06-03 19:52] #331 closed

[2017-06-06 21:45] jrchudy opened #414 "File.lastModifiedDate is deprecated"
When trying to update an entity with an asset column, I see this warning output into the console:
`File.lastModifiedDate is deprecated. Use File.lastModified instead.`

As part of this, verify the purpose of this property and see if it's even necessary to track.

We should update the out file API appropriately.

[2017-06-06 23:51] RFSH opened #415 "Update and Create Return Uncontextualized Page object"
The `update` and `create` functions return `Page` object. But the returned object is uncontexualized. This can cause problem, because it will result in having `page.tuples` and `reference.columns` to not be in-sync.

[2017-06-06 23:57] jrchudy commented on #415
I didn't consider this before. This should be trivial to fix and it currently only affects the `resultset` view of `recordedit` when the user creates/updates 2 or more entities. In other cases we redirect to record page which contextualizes properly before showing the data.

One thing to think about is what context should these references be in after create/update returns? I imagine we want it to

[2017-06-07 00:10] RFSH commented on #415
I actually found this problem when I was changing the multi edit result page.

We are using the returned page to show which tuples are updated. Currently we are using `compact` context for that page. It make sense for it to be compact, because we are showing the compact view. But then again, you might have changed something and in the result page that column might not be visible (by having differe

[2017-06-07 00:13] jrchudy commented on #415
I talked to @hongsudt about this a few minutes ago while asking her about other tasks, and she said to keep it relative to the context that the data was manipulated in. If it was create, contextualize to `entry/create`, and `entry/edit` for edit.

This way the user will see only the columns that they added values for or updated values for.

[2017-06-07 01:25] RFSH commented on #415
After discussing it with @hongsudt and @jrchudy, we decide to use `compact` context for both of them for now. We might need to introduce a new context in the future.

[2017-06-08 02:21] jrchudy opened #417 "Catalogs are not being deleted after tests complete"
When running the e2e tests on our local machines, the catalog is not being removed at the end of the specs running.

[2017-06-08 16:23] #415 closed

[2017-06-08 18:46] jrchudy commented on #417
Should have been opened in chaise.

[2017-06-08 18:46] #417 closed

[2017-06-09 16:58] hongsudt commented on #408
@RFSH please look into this.

[2017-06-09 18:54] RFSH opened #418 "File Upload Multi Create Test"
We should test file upload in multi create scenario for a table with multiple asset columns. We should make sure that meta data is correctly stored.

[2017-06-09 18:55] RFSH opened #419 "File Upload Edit Test"
We have unit tests for file upload edit in a table with just one asset column. We should expand the table to have more than 1 columns, to test a more complex scenario.

[2017-06-09 20:46] RFSH opened #420 "Delete Uploaded Files"
We should remove all the files that we upload during upload test cases.

[2017-06-09 22:22] RFSH commented on #414
The only mention of this attribute in ermrestjs is when we are creating a `upload` object and more specifically in `upload.fileInfo` attribute.

I removed that attribute because we are storing the file in `upload.file`, then we can easily access file info using that object and `upload.fileInfo` is completely redundant.

[2017-06-12 17:55] #408 closed

[2017-06-12 17:56] #414 closed

[2017-06-12 18:05] RFSH opened #423 "Expose Other File Attributes in url_pattern"
Apart from table columns, currently `filename`, `size`, `md5_hex`, `md5_base65`, and `sha256` are accessible in url_pattern of asset annotation. We should expose other file related attributes as well.

Since we are using javascript [`File`](https://developer.mozilla.org/en-US/docs/Web/API/File) API, apart from the attributes that are currently used we have access to "MIME type" and "last modified

[2017-06-12 18:14] RFSH opened #424 "Hatrac Unit Test"
Current hatrac unit tests are not covering all the features that has been implemented.

[2017-06-14 01:12] RFSH opened #425 "Delete 412 Issue"
@hongsudt commented on [Tue Jun 13 2017](https://github.com/informatics-isi-edu/chaise/issues/1160)

Please investigate this with @ljpearlman  We saw this issue on production on Monday when a user tries to delete a protocol ("Protocol"."Protocol"). The browser didn't complain, but the page content didn't change even after refreshed.

---

@jrchudy commented on [Tue Jun 13 2017](https://github.com/

[2017-06-14 01:34] RFSH commented on #425
There are two problems that are causing this problem:

1. The infinite retry, which is happening because of a bug in ermrestjs 412 retry logic. I fixed this issue and will create a PR for it.

2. The fact that we see a 412 in response to delete, even when don't change anything. As @karlcz pointed, this is happening because the etag that we get from `read` is different than the one `delete` expects