[2017-06-14 18:05] RFSH commented on #425
Since the second problem is not easy to fix and we already dropped 412 support from create function, we decided to drop it from delete too.

[2017-06-14 21:58] #425 closed

[2017-06-14 21:58] RFSH commented on #398
Since delete is not checking for 412 anymore, I am closing this issue.

[2017-06-14 21:58] #398 closed

[2017-06-17 00:41] RFSH opened #428 "InvalidFilterOperatorError"
@robes commented on [Thu May 18 2017](https://github.com/informatics-isi-edu/chaise/issues/1118)

This seems like a bug. Given this URL the above error is produced.
[code]

Text of the error reads:

---

@RFSH commented on [Fri Jun 16 2017](https://github.com/informatics-isi-edu/chaise/issues/1118#issuecomment-309176254)

This is the url that ermrestjs cannot parse:
[code]
The problem is the `Filt

[2017-06-17 01:01] nitishksahu opened #430 "ErmrestJS does not allow values like (false or 0) to be passed to ermrest."
ErmrestJS does not allow values like ("**false**" and **0**) to be passed as 'data' to ermrest api calls. Any data with these values are converted to "**null**" before passing it to ermrest.

[2017-06-19 19:36] RFSH opened #432 "Reference Create Default Test Cases"
We currently don't have any unit tests for default in create function. Since @nitishksahu found a bug in default, he can add some test cases for this feature.

The test case must at least cover the following scenarios:

- A column that is not in the given `data`, to test that is actually using default.
- An integer column with 0 as input, to test that is not using default.
- A boolean column with

[2017-06-20 16:49] #428 closed

[2017-06-21 00:03] #418 closed

[2017-06-21 00:03] #419 closed

[2017-06-22 01:10] RFSH commented on #432
Has been done as part of #431

[2017-06-22 01:10] #432 closed

[2017-06-23 17:51] hongsudt commented on #420
@karlcz do we have a solution for this already?

[2017-06-23 18:24] karlcz commented on #420
Not sure what you're asking...  hatrac supports the DELETE operation on data urls.

Right now, a once-deleted URL cannot be reused in hatrac.  The test suite should choose a new, unique namespace name for each test run and put all temporary objects under that, then at the end it could just delete that namespace which I believe will recursively delete everything under it.  E.g. use a path like `/er

[2017-06-23 18:38] hongsudt commented on #420
I thought you already have a script that we can use to clean up a
namespace..

On Fri, Jun 23, 2017 at 11:24 AM, Karl Czajkowski <notifications@github.com>
wrote:

[2017-06-23 18:46] karlcz commented on #420
The terrible script to cleanup hatrac behind the scenes was for a
different purpose: DBAs who wanted to wipe the slate and reuse the
same names on a sandbox server, e.g. when they revised their data
processing rules and wanted to rebuild the world.

It's not reasonable for a test suite to use a fixed prefix like that.
Can multiple people run the test suite?  The runs would collide with
each other.

[2017-06-23 23:00] karlcz commented on #304
I'm not sure that OOPy style of chaining method calls is actually helpful here.

I don't think we should be having lots of hard-coded calls like this in our apps, but instead more generic/meta-programming structures where we convert a list of column definitions into a list of projections.  This would idiomatically use functional mapping or loops to build the list, and seems kind of pointless to tr

[2017-06-27 18:47] #420 closed

[2017-06-27 18:47] #424 closed

[2017-06-27 18:48] jrchudy commented on #430
@nitish, if the code to fix this issue has been merged into master, please close it.

[2017-06-27 18:57] nitishksahu commented on #430
A fix has been merged to master in PR#436, closing the issue.

[2017-06-27 18:57] #430 closed

[2017-06-27 19:35] RFSH opened #439 "Better File Structure"
With addition of new features our source code is getting bigger and bigger. We currently have `reference.js` (4k lines of code) which uses `core.js` (3k) and `utilities.js` (1.5k). We don't have a good structure for our files.

We could break them into more files. Each one responsible for one part of the API. For instance putting all the `ReferenceColumn` logic into its own file. Since we are not

[2017-06-28 00:02] jrchudy opened #440 "Column check default values before setting them"
Currently `chaise` wrongly assumes that a default value can be of type function, but in reality, that function might just be a stringified version of that function call (`now()` for instance).

`ermrestJS` should properly check the columns type and then try to coerce the schema defined default value to that type. If that fails, set the default value to null and let PSQL manage setting that value.

[2017-06-29 01:00] hongsudt opened #442 "extend reference to provide a method to get a csv download link"
There should be a function CsvDownloadLink provided in ermrestjs that will generate a proper url for chaise to use.

[2017-06-29 01:54] jrchudy opened #443 "change update to only send information that was changed by user."
The update function in `ermrestJS` should only send the values that the user changed to the database for update rather than the full set. This sounds a lot like an issue we had before and functionality we had before.

The reasoning behind this is so we can more easily track what fields user change by looking at database update logs.

This goes along with [chaise issue #1173](https://github.com/inf

[2017-06-29 01:55] jrchudy commented on #440
The corresponding PR was merged into master. Closing this issue.

[2017-06-29 01:55] #440 closed

[2017-06-29 01:57] carlkesselman commented on #442
Should we be looking at other downloads here as well…for example BDBag?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Adm

[2017-06-29 01:58] carlkesselman commented on #442
We don’t have to implement, now, but we will want BDBag download, so perhaps a function that only does CVS by name will be too restrictive.
----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck S

[2017-06-29 03:17] karlcz commented on #443
To be totally explicit, what's important is to adjust the update
targets projection in the URL so you're only asking ERMrest to apply
updates on the desired columns.

Since you're using JSON input, it's OK to send extra columns of input,
so you could always just send all form data rather than build
different subsets for each request.  ERMrest will just ignore the
extra fields not described in the

[2017-06-29 18:36] carlkesselman commented on #442
Actually, one more thought.  I think we should be thinking about download as a service interface, not a UI function.  I should be able to download a CSV or BDBag from the python library as well…..

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Vite

[2017-07-07 19:36] hongsudt commented on #399
this is related to informatics-isi-edu/chaise#1098, informatics-isi-edu/chaise#685.

[2017-07-10 19:17] RFSH commented on #401
This was implemented in #438 PR. This functionality has not been implemented in chaise yet.

[2017-07-10 19:17] #401 closed

[2017-07-10 19:23] RFSH opened #447 "Parser extension to support facets/filters"
To make it easier for us to pass the filters and parse them, we decided to encode the filters in chaise, then ermrestjs decodes it and creates a uri that ermrest understand. Therefore filter will be a JSON object. To make it easier to find this filter part, we can introduce a new operator, i.e. `::filters::`.

## Structure

The overall structure of filters is as follows. Each facet term combines a

[2017-07-10 19:38] hongsudt commented on #304
We could breakdown the tasks into the following phases:
- [ ] column aggregates for integer column
- [ ] column aggregates for all column types
- [ ] table-level aggregate
- [ ] url-length handling

[2017-07-10 20:05] #442 closed

[2017-07-10 20:26] karlcz commented on #447
I don't really understand this:

    /Schema:Table/<key=value pairs>/<join(s)>/<filter(s)>/<search>/<sort>/<page>

I don't think these should be thought of as separate sections:

- key value pairs
- filters
- search

Rather, I think we need to implement a parser for filtering in general:

- key, operator, value filter terms
   - the `=` operator is just one case
- conjunction, e.g. the `/` and `&`

[2017-07-11 22:35] hongsudt commented on #402
The flow and API sketches are on https://github.com/informatics-isi-edu/chaise/wiki/Faceting. I am closing this issue.

[2017-07-11 22:35] #402 closed

[2017-07-11 22:48] hongsudt opened #448 "support visible-facet annotation"
This syntax should support:
- default display mode (e.g. checkbox vs text search)
- support for fks filtering based on entity v.s. scalar column

[2017-07-11 23:13] hongsudt opened #449 "create applyFilters function"
Given a list of filters, return a new filtered reference.

[2017-07-11 23:23] hongsudt opened #450 "facet APIs with default visible-facet list"
@hongsudt commented on [Tue Jul 11 2017](https://github.com/informatics-isi-edu/chaise/issues/1185)

If annotation is not specified, the default facet list should consists of
- all visible columns in the compact context
- all the in-bound fks visible in the detailed context

[2017-07-11 23:28] hongsudt commented on #389
This is duplicated with #450.

[2017-07-11 23:28] #389 closed

[2017-07-12 21:14] karlcz commented on #447
Sorry, I just had a chance to finish looking at this.  I think some parts need a bit more tweaking.

## Logical operators

You implicitly assume a conjunction of individual facet constraints. It might be better to make this explicit in the notation, so that if we want to support disjunction in the future, that uses a complementary syntax rather than requiring all syntax to be redefined.

    filte

[2017-07-12 21:58] robes opened #452 "jsonb column edit context issues"
I've noticed the following 2 problems with jsonb column types when editing:

- if annotated as 'generated', the display should indicate "Automatically generated" but does not (not sure if this is an ermrestjs or chaise bug)
- if annotated with a 'display' annotation and 'markdown_pattern', the value will be changed per the markdown pattern and therefore no longer is (likely to be) a proper jsonb v

[2017-07-12 22:00] robes commented on #452
An example can be seen here:

https://cirm-dev.isrd.isi.edu/chaise/recordedit/#2/Microscopy:Collection/ID=4@sort(ID)

[2017-07-12 22:30] RFSH commented on #452
- The first issue is related to chaise. In [textarea that is used for json](https://github.com/informatics-isi-edu/chaise/blob/master/recordedit/index.html.in#L228) the placeholder (`placeholder="{{::form.getDisabledInputValue(column, form.recordEditModel.rows[rowIndex][column.name]);}}"`) is missing.
- The second issue is related to ermrestjs. Basically we're calling the function that takes care

[2017-07-13 01:08] robes commented on #447
Comments on sections above:
- Logical operators: I can kind of see the point to making it explicit, but I'd like to see how this relates to the UX. I'm not sure we have any plans to have a full query builder with logical expressions. It doesn't hurt to use this syntax but not sure its necessary.
- Constraints: Overall good improvement over the initial draft by Aref. Only I thought that "search" co

[2017-07-13 01:43] karlcz commented on #447
I thought "search" would correspond to the search box.  It's a single
string you'd be able to reload back into the search box on app restart
from a permalink.  Having a variable list of these would imply a
variable list of search boxes and I don't see where we'd have such a
UX...?

The source as a chain of foreign keys terminated with a column
projection is meant to cover all possible "remote colu

[2017-07-13 02:34] robes commented on #447
Re: search. I see. I was thinking this 'search' was for the text search facet that Hongsuda wanted not the top level search boxes. We have two scenarios for search but maybe we can give the faceting form a distinct name.

Re: the rest, I can explain better in person tomorrow.

[2017-07-13 19:17] karlcz commented on #447
I updated the long comment above again...

[2017-07-14 01:30] hongsudt opened #454 "better parser for the free-text search"
We will to work on this if we expect users to specify a conjunction and disjunction of terms in the text box instead of providing a GUI to do it.

[2017-07-14 21:00] RFSH opened #455 "Don't show regex in the search box on recordset"
@hongsudt commented on [Tue May 16 2017](https://github.com/informatics-isi-edu/chaise/issues/1117)

when you do a search in recordset, and then if you drill down to a page and then go back to the recordset, the search you entered get “regex”-ified looking rather technical.

Suggested solution (from the chat room): so you would need to change the fragment syntax to represent some higher-level sear

[2017-07-17 16:36] RFSH commented on #447
Updated the issue description based on the comments and deleted the comments for readability.

[2017-07-17 17:30] robes commented on #447
@RFSH I feel like the pseudo-BNF and the last example are a little wrong. E.g., the nested array in the last part of the last example seems off.

[2017-07-17 17:34] robes commented on #447
Maybe the BNF should be closer to this:

[code]

And then the last example JSON object:

[code]

[2017-07-17 23:24] karlcz opened #457 "Regression in JSON value formatting in templates"
I have a table with a JSON column, say `Status`.

I have a mustache template generating a markdown presentation like  `... Status: {{{Status}}} ...`.

My actual column value is JSON such as `"processed"` and I expect to see something like: `Status: "processed"` on the rendered web page.

Instead, I am seeing something like `Status: <pre> "processed" </pre>` i.e. it seems like some HTML tags are sn

[2017-07-18 16:44] RFSH commented on #455
This is done as part of #456 PR.

[2017-07-18 16:44] #455 closed

[2017-07-19 22:18] hongsudt opened #458 "submit an unchanged record (edit mode) caused bad request error"
Here is the URL.
https://dev.rebuildingakidney.org/chaise/recordedit/#2/RNASeq:Sample/Accession_ID=RBKUSC20170719SAM2@sort(Accession_ID)

Here is the error
Error 400 Bad Request The request is malformed. URL parse error at token: LexToken(?,'?',1,77)

If I changed at least one field, the submission was successful.

[2017-07-19 22:23] karlcz commented on #458
When there are no changes in the form, the submit button should be
disabled since it makes no sense to submit no changes...

[2017-07-20 00:00] jrchudy commented on #458
As @karlcz is suggesting, that should be the more appropriate change. After modifying the code to not add the `;` after the key set when there is no projection set, you get a 400 error from `ermrest`

`400 Bad Request The request is malformed. Grouped attribute update requires at least one target attribute.`

[2017-07-20 00:01] jrchudy commented on #458
Or, do we want to allow the user to try to submit the data and have this error be displayed to the user in `recordedit`?

[2017-07-21 21:15] karlcz opened #461 "Add fallback heuristics for domain types"
When a column has a domain type like `markdown` there is also a base type like `text`.

When we don't have a presentation preference for the domain type, we should fall back to using any presentation preference for the base type.  When all else fails, we should continue to use a basic text presentation as we do now.

In upcoming changes to deployments, there will be several new domains with base t

[2017-07-24 20:55] jrchudy opened #463 "Reference.update doesn't check all values for changes properly"
When the column is of type `date`, `timestamp`, or `timestamptz`, the check to make sure the values have changed before adding the column name to the list of projections may not work properly.

When I saw this issue, I had a `timestamp` column with:
 - old value = `2016-01-18T13:00:00`
 - new value = `2016-01-18T13:00:00.000-08:00`

The `timestamptz` column had these values:
 - old value = `2016-0

[2017-07-24 20:55] #304 closed

[2017-07-24 20:57] #443 closed

[2017-07-24 22:27] jrchudy commented on #458
The temporary solution to this issue is to have `ermrestJS` return an error that is displayed as a warning message on the `recordedit` app. This doesn't submit the data and instead let's the user look over the data and make changes.

A user is not allowed to update data without any changes being made.

[2017-07-25 16:42] nitishksahu commented on #457
The changes for this issue has been merged with master, assigning this to @karlcz to verify.

[2017-07-25 22:11] jrchudy commented on #388
@RFSH, @robes, @karlcz:
This is the current proposed API for the group aggregate functions. The return object of the `getGroupAggregates()` request is currently a list of histogram and frequency responses (both are lists of each value/bucket and it's corresponding counts).

[2017-07-25 22:12] karlcz commented on #457
Hmm, that is weird.  The expansion `{{{_thumbnails}}}` and `{{{#_thumbnails}}}` should be using the raw column value which should be already decoded into a Javascript object (an array in this case).

Only the expansion `{{{thumbnails}}}` (without the underscore) should ever get converted into a presentation value as pretty-printed JSON.

[2017-07-25 22:47] karlcz commented on #457
@nitishksahu  I verified that the literal `<pre>` and `</pre>` no longer appear in my rendered markdown.  It seems like this other issue described above by @robes might deserve to be a separate bug filing since it relates to the raw column value (with underscore) rather than the formatted column value as in this original bug report...

[2017-07-26 17:44] hongsudt opened #465 "Collection annotion suggestions"
On the collection edit page, I find "Collection (member of)" a little bit confusing. It took me a while to realize that this is the collection id field. Should we rename this to "Collection ID"?

The same comment for "Scan ID"

After adding a few scans, it returns to a table with "Collection:Scan" header. It might be better if we split those to their own columns..

Apart from those UX, I think it

[2017-07-26 20:56] RFSH opened #467 "Related Rerefence Incorrect Link"
Go to [this page](https://dev.rebuildingakidney.org/chaise/record/#2/Common:Collection/Accession_ID=RBKUSC20170726COL1) and click on view more of the related entity. The url that will be generated then ends with `subset=for%20Collection%20%3D%20Collection%201?subset=for%20Collection%20%3D%20Collection%201` which it shouldn't be.

This is not causing any problems but it indicates that parser is not

[2017-07-26 21:30] nitishksahu opened #468 "Annotation on column having empty list returning values appended with pre tag"
I have a table with an annotation on a column for `thumbnails`.

[code]

Thumbnails will be either an empty list `[]` or a list containing thumbnail objects `[ {object},... ]`. It will never be returned as `NULL`.

When the list is empty `[]` the markdown returned is something like `<pre></pre>`.

You can see examples at the bottom of this record.

https://dev.facebase.org/data/record/#1/isa:datas

[2017-07-26 21:32] nitishksahu commented on #457
As the regression issue for the JSON column is resolved, am closing this issue.

A separate issue has been created #468 with @robes comment and will be worked on separately.

[2017-07-26 21:32] #457 closed

[2017-07-27 18:25] RFSH opened #470 "Test Pure and Binary Association for Composite ForeignKeys"

[2017-07-27 20:43] #458 closed

[2017-07-27 20:44] RFSH commented on #388
1. I don't think we should have different APIs for `disctincHistogram` and `histogram`. The implementation of `histogram` itself must be smart about it and when there's a join in url, it should use `cnt_d(keys)` (keys is list of shortest key columns appended by `,`).
2. I think `wordFrequency` should return paged results, not all the available results. [Example](https://dev.isrd.isi.edu/ermrest/ca

[2017-07-27 21:00] hongsudt commented on #452
@nitishksahu this one has you as a reviewer. If you want to ask @robes to review, please assign the appropriate assignee to the task.

[2017-07-27 21:05] nitishksahu commented on #452
@hongsudt this issue needed some code changes in chaise as well, the PR for this change is still open in chaise and the code has not been merged to master, so it is still in my queue.

[2017-07-28 06:18] robes commented on #465
This issue has been addressed by https://github.com/informatics-isi-edu/microscopy/issues/30

[2017-07-28 06:18] #465 closed

[2017-07-28 18:56] nitishksahu opened #471 "Default value bug for JSON column"
If we have a JSON column for a table and the default value for that particular column is anything other than null value and if we provide a blank string `"` for that particular column while creating a record then the value is converted to default column value defined for that column in the table definition, instead the blank string `"` must be stored as `null` irrespective of the default column va

[2017-07-28 18:57] karlcz opened #472 "Change over to consume new rights representation"
The latest ERMrest now includes a `"rights"` document in multiple levels of the model document. This describes the requesting client's permissions on the catalog so that clients do not need to interpret ACL content themselves.

Rights relevant to ermrestjs and Chaise:

1. Per-table rights
   - `"select"`: can query table
   - `"insert"`: can POST new rows to table
   - `"update"`: can mutate exist

[2017-07-31 23:21] RFSH commented on #467
This is done as part of #469

[2017-07-31 23:21] #467 closed

[2017-08-01 00:30] hongsudt commented on #449
This is no longer relevant since we want the UX to be more adaptive..

[2017-08-01 00:30] #449 closed

[2017-08-01 00:34] hongsudt opened #475 "permalink should include facet display mode"
- extend the json structure to include such information
- define API for chaise to pass the current display mode to ermrestjs

[2017-08-01 18:17] jrchudy commented on #388
Signal when there isn't a primary key.

[2017-08-01 21:55] nitishksahu commented on #471
We decided to treat the JSON columns the same as other columns. So going forward, if the JSON column is passed to JSON with no value, then the default value will be used for the JSON column.

[2017-08-01 21:55] #471 closed

[2017-08-02 00:15] jrchudy commented on #388
@RFSH, @hongsudt:
 I updated the API sketch above from what we discussed in scrum this morning.

[2017-08-02 18:45] #450 closed

[2017-08-02 22:44] RFSH commented on #388
@jrchudy It seems like we need another group aggregate api. There should be an api that returns list of values without the frequencies (just `"/alias1:=columnName"` without the `cnt_d`). The reason that we needs this other mode is that in some cases we don't care about count and asking for count is going to make the request more expensive.

[2017-08-02 23:19] RFSH opened #476 "Faceting Changes"
The first version for Faceting support (#474) has been merged. That implementation included some incorrect assumptions that we should address.

I assumed that `FacetColumn`s will wrap `ReferenceColumn`s. That means a FacetColumn can be a normal column, inbound related or outbound related (I assumed this is the requirement for the first iteration of faceting). But we want Faceting to support more t

[2017-08-03 18:33] hongsudt opened #477 "support old url syntax"
The url syntax can come from:
- permalink
- view all on record related table

This syntax should be converted to the new facet structure.

[2017-08-03 18:35] hongsudt commented on #475
This is no longer relevant as the display mode will be informed based on annotation..

[2017-08-03 18:35] #475 closed

[2017-08-03 19:59] RFSH commented on #447
There are two concerns that came up with this structure:

1. Just having a list of constraint names can cause ambiguity. We should specify the direction of each join.

2. We decided to change the current url structure that we are using for related entities to use faceting. But the proposed structure only supports simple foreign keys.

[2017-08-03 20:53] karlcz commented on #447
If we want to make the facet paths consistent with the fine-grained, dynamic ACL binding notation in ermrest, we need to make the following changes:

1. The source path is a list of path elements ending with the source column, i.e. drop a layer of nested lists from the current issue description.
2. The direction of each foreign key navigation in the path should be explicit.
3. The constrain name s

[2017-08-03 21:00] karlcz commented on #447
By the way, another bit of path syntax from ermrest ACL bindings would be to include table instance aliases. This is **not** necessary for the MVP but if we ever want to allow several facets to be defined to share the same intermediate table instances, we should reuse this syntax and use a logic where we build the join to share a common table instance if multiple facets assign the same alias.

- T

[2017-08-03 21:10] karlcz commented on #447
I made an attempt at updating the issue description based on my preceding comments.

[2017-08-03 22:03] RFSH commented on #447
@karlcz
Why not adding direction as a separate attribute  `{"direction": "inbound", "constraint": ["S1", "FK1"]}`?

[2017-08-03 22:13] karlcz commented on #447
Because I am trying to make this consistent with an already existing
implementation of path syntax in the ERMrest fine-grained ACLs system,
so that a DBA doesn't have to learn two different path notations.

All the elements I added in the edits today are existing features of
the ERMrest ACL system:

- flat list of join elements ending with a column name for projection
- direction as `"inbound"` or

[2017-08-04 01:39] hongsudt commented on #447
@RFSH @karlcz I updated the `ux mode` under mixin and `entity facet` under source.

[2017-08-07 18:56] RFSH opened #479 "Foreignkey Pseudo Column Displayname"
Current heuristic for displayname of foreignkey pseudo columns is as follows:

1. If `to_name` in [`foreign key` annotation](https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2016-foreign-key) is available, use it as the displayname.
2. Otherwise,
   2.1. If foreign key is simple, use columns' displayname.
      - If constituent column of foreign key is part of othe

[2017-08-07 19:10] RFSH commented on #476
Based on the discussion that I had with @hongsudt, we decided to add a `displayname` to the `FacetColumn`. This will eventually use annotation to get the displayname, but currently this is going to be the heuristic:

1. Use `from_name` and `to_name` of  last foreign key based on direction (`from_name` for inbound and `to_name` for outbound).
2. If it's not defined, use the table name.

[2017-08-07 21:08] RFSH commented on #476
We also should have a `comment` attribute which will be used for tooltip. It most probably should be the "comment" of last foreign key.

[2017-08-07 23:25] nitishksahu commented on #468
The changes for this issue has been merged with master.
- [Facebase URL](https://dev.facebase.org/data/recordset/#1/isa:file_compact)

Assigning this to @robes to verify

[2017-08-09 20:50] RFSH opened #482 "Reference For Attributegroup API"
We are going to introduce `aggregateGroup` APIs which will return a paginated, sortable and searchable result. We cannot reuse the same `Page` object because it's based on Reference. Since current implementation of Reference is based on ermrest entity api. We need a new type of Reference that is based on ermrest attributegroup api.

We might need to implement new Page and Tuple prototypes based on

[2017-08-10 22:10] jrchudy commented on #461
Another piece of this PR is to add a case in `ermrestJS` in `Column.formatvalue` to handle this.

[2017-08-11 20:43] jrchudy commented on #461
The changes for this issue have been merged into master. When a column has a domain defined and we don't know how to format data for that domain type, we check what it's base type is for formatting.

Reassigning to @karlcz to verify the changes are working as he expected for the synapse deployment.

[2017-08-15 18:23] nitishksahu commented on #452
The changes for this issue have been merged to master, assigning this to @robes to verify.

[2017-08-16 17:48] karlcz commented on #461
I think this is working now.

[2017-08-16 17:48] #461 closed

[2017-08-17 01:29] #452 closed

[2017-08-18 00:57] nitishksahu opened #486 "Video Support in ermrestJS"
We need to support video playback in chaise, for which we need functionality in ermrestJS supporting custom markdown tag for `video`

- We also have to decide the attributes that we are going to support (autoplay, controls, height, loop, muted, poster, preload, src, width)

- We will be supporting only mp4 format as it seems to be supported in [all major browsers](https://developer.mozilla.org/en-

[2017-08-18 01:07] nitishksahu commented on #486
@hongsudt and @karlcz, which attributes should be supported for the video tag??

[2017-08-21 21:18] hongsudt opened #487 "row-level ermrest ACL support"
@karlcz what are the steps do we need to do to migrate to the new ACL in ermrest?

[2017-08-21 21:28] hongsudt commented on #439
@RFSH @jrchudy If I am not mistaken, you guys have already done this correct? If so, should we close this issue?

[2017-08-21 22:27] hongsudt opened #488 "extension of pure and binary assocation definition"
Ermrest will be adding row_id, creation_timestamp, last_modified_timestamp, created_by, modified_by to every table.  We need to extend the pure and binary association definition to support this.

I would like to extend this definition further by allowing arbitrary scalar columns in this association table, so that they can be used to track deployment specific system information (which are usually n

[2017-08-21 22:52] karlcz commented on #487
If you are on latest ermrest master you already have the fine-grained
ACL features.  You can see evidence of them as various "rights"
documents embedded inside the main /ermrest/catalog/N/schema/ response
document.

To make the front-end adapt to fine-grained rights, it should start to
consult those "rights" documents on each part of the model. At the
table level:

- select: is client allowed to q

[2017-08-21 23:00] karlcz commented on #488
Using visible columns might work, but which context(s) need to be
checked for such a heuristic?

Columns can be hidden at the model level via the `enumerate` ACL on
each column.  I think that if you hide your system column this way,
ermrestjs would just think the table is simpler.  Don't try to hide
a column that has not-null constraints though!

If you need ermrestjs to be aware of the columns (i

[2017-08-22 00:06] robes commented on #488
Responding to @hongsudt 's initial question: What would you propose as the _default_ heuristic? If chaise+ermrestjs encounter a table with `system columns...` + `fk1` + `fk2`, would it at least have a default heuristic to consider that a pure, binary association table without any additional annotations (or ACLs) so that we reduce the data modeler burden?

Regarding ACLs vs Visible Columns annotati

[2017-08-22 00:10] robes commented on #488
Okay, so here's an alternative proposal to consider... how about a new annotation (to be defined) on the table to indicate explicitly that it should be treated like a pure binary association (in such cases the annotation would be invalid if there were anything other than exactly 2 FKs).

[2017-08-22 01:30] hongsudt commented on #488
I would like to discuss this at standup meeting tomorrow.

[2017-08-22 17:25] jrchudy commented on #439
We have not yet. We only created a mechanism to allow for easily merging all the code into one single module at build time. We have yet to reduce the content of some of the js files. For instance, `reference.js` still contains ~1500 lines worth of code specific to `ReferenceColumns` and it's sub types.

[2017-08-22 20:54] nitishksahu commented on #486
Some discussion that we had regarding the attributes list to be supported:
- **autoplay**: we won't be supporting the autoplay attribute.
- **controls**: By default, the controls will be displayed with the video to (play/pause) the video.
- **height/width**: height/width can be defined as an attribute list and will be supported.
- **src**: A mandatory attribute to locate the video resource.
- loop

[2017-08-23 19:32] hongsudt commented on #487
From the meeting today, we decided to:
- [ ] handle table right policy for canCreate, canUpdate, canDelete, canRead
  - null value should be treated as true.
- [ ] column level policy
  - insert false: column is "generated" during row insert
  - update false: column is "immutable" during row edits
  - select false: show `--hidden--` for the formatted value
- [ ] rename canCreate to canInsert to be

[2017-09-05 19:16] amitjha21 opened #490 "Multi-add: Exclude subset of entries already added in association."
The issue stems from [this](https://github.com/informatics-isi-edu/chaise/issues/1231) chaise issue. While adding multiple records in case of pure and binary association we should exclude entries that have been previously added.
The solution will require changes in selection for the related table items where we need to exclude entries that already exist in the association table.

[2017-09-05 19:17] amitjha21 commented on #490
One suggested approach is to create a left outer join of the reference table with association table and use a filter to select entries with `null` in the primary key column from association table.

![exclusion_1](https://user-images.githubusercontent.com/9977014/30079162-2a8b6c38-9234-11e7-95e0-19636fb6fcaf.jpg)

[2017-09-05 22:31] karlcz opened #491 "Improve domain_filter_pattern support"
Right now, the foreign key domain picker malfunctions if you include a `/` character in the result of the mustache template.  I explored a little bit on a test system, looking at the ermrest requests being logged in the browser dev console.

It seems like ermrestjs only includes the prefix of the filter preceding the first `/` character, silently dropping the '/' and everything after.

When I expe

[2017-09-05 22:38] karlcz commented on #406
I've come across another use case where this would be helpful: the mustache environment used for the foreign-key `domain_filter_pattern` expansion.  This would allow fields from one foreign key input in recordedit forms to influence what is available in the next foreign key input field.

[2017-09-05 22:42] karlcz commented on #490
That's right except the right-hand side of the example should read `/id1::null::` to use the actual ermrest operator name and to constrain the other fkey field of the association table.

[2017-09-05 22:52] karlcz commented on #490
Actually, let me be more explicit...

    /R:=S:R/left(id2)=(A:id2)/id1=X&id1::null::/$R

    /M/id=X/A:=(A:id1)/right(id2)=(R:id2)/A:id2::null::

- You need to limit your join to only considering associations to the same main record `X` that you actually care about for exclusion, not all associations to other records in the `M` table.
- You need to either reset the path context back to the domain

[2017-09-06 19:56] hongsudt commented on #487
take a look at the epic associated with this issue. Karl has provided information on the new right in the epic.

[2017-09-07 13:47] karlcz commented on #490
I looked into this more, and I don't think the query behavior we want is possible with the current ermrest API.

We can do the following queries:
1. All domain values (what we have now)
2. All domain values that match static pattern (what we have now with domain filter patterns)
3. All domain values that are already associated with parent (inner join with parent record filter)
4. All domain values

[2017-09-07 22:07] hongsudt opened #493 "Change Default Display of inline inbound foreignkey to a list"
What needs to be done:
1. You need to define a new context for the inbound references that are being shown inline, you should use the `compact/brief/inline` context for those. This includes:
    -  Defining the context in utilities.js
    -  Adding a new function (`compactBriefInline`) to the `Contextualize` prototype.
2. Change the default value for the reference.display.type to `markdown` i n ca

[2017-09-08 17:40] amitjha21 commented on #493
Create compactBriefInline context and use it in the inbound fk display. if this is not available then the `chaise` application should follow the standard hierarchy.

[2017-09-08 17:42] amitjha21 commented on #490
As per discussion:
For each page in modal pop-up we have to make two calls each to association and reference. Disable common values between them and allow users to check/uncheck unique values only.

[2017-09-09 00:28] karlcz opened #494 "URL rewrite applies extra encoding of catalog ID"
I tested out Chaise on an experimental system with a branch of ermrest that supports a new URL feature. In addition to the typical numeric catalog ID, e.g. `1`, it can have a qualifier that is an encoded catalog version, e.g. `1@version` where _version_ already has percent-encoded parts in it and the `@` must remain unencoded.

For a basic table, it worked already since Chaise and ermrestjs don't

[2017-09-13 20:15] #488 closed

[2017-09-13 22:17] #388 closed

[2017-09-13 22:19] #482 closed

[2017-09-13 22:19] #476 closed

[2017-09-13 23:17] jrchudy commented on #448
- [ ] Merge the facet lists that are defined by the annotation and the heuristics when there is no annotation.
- [ ] Add the open parameter to the permalink for facets that should be open by default

[2017-09-15 00:47] RFSH opened #497 "entityCounts and entityValues should honor column_order"
Currently we're sorting based on raw values of the column. We can change the implementation to honor column_order. This should be possible by adding those columns to the projection list.

[2017-09-20 18:07] RFSH opened #498 "Systems Columns Are Uppercase"
In #492, we "Added support to consider pure binary association tables with system columns to be considered the same". But the column names that we are using are all lowercase. We should change those to uppercase.

[2017-09-22 18:19] #448 closed

[2017-09-22 18:31] RFSH commented on #447
Created a wiki page based on the comments in this thread: https://github.com/informatics-isi-edu/ermrestjs/wiki/Facets-JSON-Structure

[2017-09-22 18:31] #447 closed

[2017-09-22 18:34] #498 closed

[2017-09-25 23:23] RFSH opened #501 "Testcases for Alternative Table Context"
Alternative table is not applying the hierarchal logic for context names. More specifically [this](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/core.js#L1052) line should change to use the ‍‍`_getRecursiveAnnotationValue` function. Test cases are also needed for this feature.

[2017-09-25 23:27] RFSH opened #502 "Related References For Alternative Table"
Currently we are getting the list of related references from the `visible-foreignkey` annotation defined on the table regardless of table being alternative. We should change this behavior, to use the main table as the source of this annotation or heuristic.

Let's assume `A` is an alternative table for `M`. Calling `A.related` should return the same list of references as `M.related` does.

[2017-09-26 23:12] RFSH opened #503 "Faceting Unit Tests"
The unit tests for faceting includes the following:
- [x] Parser: Can understand "facets" pseudo-operator and has the correct APIs.
	- [x] facets.decoded and encoded return correct values.
	- [x] Can change the facets and update the other APIs.
- [x] AttributeGroup Reference:
	- [x] Create APIs
	- [x] read, search, sort
	- [x] aggregate count API
- [x] AggregateGroup APIs:
  - [x] entityCounts

[2017-09-27 17:54] nitishksahu commented on #486
The changes have been merged to master, closing this.

[2017-09-27 17:54] #486 closed

[2017-09-27 17:56] nitishksahu commented on #486
The wiki has been updated to use video markdown, it can be found [here](https://github.com/informatics-isi-edu/ermrestjs/wiki/Template-and-Markdown-Guide#10-to-render-a-video)

[2017-09-28 22:21] RFSH opened #504 "Faceting Annotation Bugs"
- [x] When annotation is defined, changing the facet filters through the facet APIs, make the actual annotation definition in ermrestjs to change. This is most probably happening because of shallow copying an object.
- [x] When annotation has preselected values, you cannot clear those filters.

[2017-09-29 21:37] amitjha21 commented on #493
Assigning to @hongsudt for reviewing this change. Corresponding `chaise` changes are under code review and should be merged early next week.

[2017-09-29 22:06] RFSH opened #505 "Alternative Table in Faceting"
Support Alternative tables for the main table:
- In the heuristic for faceting list, we're using compact and detailed context. This might cause problem in case of alternative table. Since we might have different alternative tables for these two contexts.

[2017-09-29 22:06] hongsudt opened #506 "a library to convert a list of filters to facet url fragment"
We have a static site that provides links to the recordset pages with pre-defined filters. These URLs will no longer work once we deploy the new recordset with facet.

We also have a search box on some static pages that will call the recordset based on the specified keywords.

Maybe there should be a function that takes catalog number, table names, facet list (the same syntax that we use in the an

[2017-10-02 16:48] RFSH opened #507 "Refactor Search to use Faceting APIs"

[2017-10-02 17:16] RFSH commented on #504
[A fixed](https://github.com/informatics-isi-edu/ermrestjs/commit/808f5263a8f3af2675727b029f8f240ff60fced6) has pushed to master for this bug.

[2017-10-02 19:40] #504 closed

[2017-10-03 01:22] RFSH commented on #505
Supporting alternative table in facet list.

- [ ] In entity mode, we have to add the extra join in path for going to the correct table. We must use the `compact/select` context.

[2017-10-03 18:09] RFSH opened #508 "Error: TypeError newTable._altForeignKey is undefined"
@karlcz commented on [Mon Oct 02 2017](https://github.com/informatics-isi-edu/chaise/issues/1324)

I see this on this record page for example:

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfCza20170322A

it does not happen on every table.

[2017-10-03 18:09] RFSH opened #509 "Error: TypeError newTable._altForeignKey is undefined"
*Update:* This is happening because of a bug in contextualize function. This should be easily fixable.

*Original Description:*

@karlcz commented on [Mon Oct 02 2017](https://github.com/informatics-isi-edu/chaise/issues/1324)

I see this on this record page for example:

https://synapse-dev.isrd.isi.edu/chaise/record/#1/Zebrafish:Subject/ID=ZfCza20170322A

it does not happen on every table.

---

[2017-10-03 18:09] #508 closed

[2017-10-03 18:41] RFSH commented on #509
A [fix](https://github.com/informatics-isi-edu/ermrestjs/commit/96a9b8fb1370cbf67657fd9b8172faee82bdf69a) has been pushed to master for this.

[2017-10-03 18:48] RFSH opened #510 "Row Order Check Invalid Values"
Ignore invalid columns that are defined in `row_order` annotation. More specifically [this line of code](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L1759).

[2017-10-03 19:36] RFSH commented on #510
[A fix](https://github.com/informatics-isi-edu/ermrestjs/commit/91a14038fe5dcf6322b6c5e5e685ad00cbbbb6c7) has been pushed to master for this.

[2017-10-03 20:36] RFSH commented on #501
[I changed the function](https://github.com/informatics-isi-edu/ermrestjs/commit/8b6465038e9e1ee0d670578e44a986857cf9ad6c), I will not close this issue since we still might need test cases for this.

[2017-10-05 21:24] hongsudt opened #511 "incorrect # of records"
https://staging-gudmap3.gudmap.org/chaise/recordset/#2/Gene_Expression:Gene_Thumbnail_Display@sort(NCBI_GeneID)

Click show more on description.. You will see displaying 25 of 128479 Records. The number of records is too high..

[2017-10-05 21:26] hongsudt commented on #511
Actually, @ljpearlman just mentioned that there are 128479 in the system.. So this is not a bug.

[2017-10-05 21:28] #511 closed

[2017-10-06 01:04] RFSH commented on #505
This is done. A more detailed wiki for how faceting works with alternative tables can be found in [here](https://github.com/informatics-isi-edu/ermrestjs/wiki/Table-Alternatives)

[2017-10-06 01:04] #505 closed

[2017-10-06 20:04] chiragsanghvi commented on #487
Select for columns will be taken care by ermrest as mentioned in this issue https://github.com/informatics-isi-edu/ermrest/issues/167

[2017-10-06 22:06] RFSH commented on #506
I [created a function](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/parser.js#L38) that will take `catalogId`, `schemaName`, `tableName`, and `facets` as its parameters and will return a path that ermrestjs/chaise will understand.

[2017-10-06 22:07] #507 closed

[2017-10-06 22:08] RFSH commented on #510
I'm closing this issue since the table in question is working as expected and it's ignoring the invalid `row_order`

[2017-10-06 22:08] #510 closed

[2017-10-06 22:10] RFSH commented on #204
I am closing this issue since it's not providing much context and has been stale for a long time. #502 has been created which is addressing the same problem and has more context of what needs to be done.

[2017-10-06 22:10] #204 closed

[2017-10-09 18:19] RFSH commented on #477
We decided to drop the support for old urls.

[2017-10-09 18:19] #477 closed

[2017-10-09 18:50] RFSH opened #513 "Change Faceting Heuristics"
Currently in heuristics we're using a white list to just allow scalar facet for several data types. We should change that to be a black list, and don't allow `markdown`, `longtext`, `serial`, and `ermrest_rid ` type.

[2017-10-09 18:51] RFSH commented on #506
I am going to change the current function in rbk, to use this new API. Then we can use that as an example for other static websites.

[2017-10-09 20:54] #513 closed

[2017-10-09 21:28] svoinea opened #514 "The "height" and "width" attributes are not working for the Video markdown"
I have defined the following `markdown_pattern`:
[code]

No matter what values I provide for the `height` and `width` attributes, they are ignored.

The `html` generated is:
[code]

[2017-10-09 22:00] RFSH commented on #514
It seems like you need to have a space between the last `\n` and `}`. This space is missing from all the examples in the wiki and I am going to add that.

What I mean is that the following won't work:
[code]
But this will work:
[code]

Notice the space between `\` and `n:::` at the end of the markdown.

[2017-10-10 18:15] RFSH commented on #506
I created a [PR](https://github.com/informatics-isi-edu/rbk-www/pull/2) in rbk-www repository.

[2017-10-10 22:39] #493 closed

[2017-10-10 22:43] #468 closed

[2017-10-12 01:05] RFSH commented on #514
Assigning the issue to @svoinea to review.

[2017-10-12 19:02] RFSH opened #515 "ACL Support Limitations"
The following is list of limitations that current implementation of ACL support in ermrestjs has. We can discuss about their important and whether we should support them or not.

### Limitations:

1. ERMrestjs is not handling the combination of `enumerate:true`, and `select:false` for columns completely. If you want a column to be invisible to users, you should use `enumerate:false`. Currently it'

[2017-10-12 22:18] svoinea commented on #514
The space fixed the problem.

[2017-10-12 22:18] #514 closed

[2017-10-16 19:35] RFSH opened #516 "Support Array Column Type in recordset"
APIs that are dealing with representing data can easily support array data type (They're returning `toString` of the array which is the expected behavior). But the apis that are doing more with data (filter, create, update, etc.) need more logic to specifically handle array data types.

This issue came up while working on array data types in faceting related APIs. We're showing the data as we expe

[2017-10-18 00:41] RFSH opened #517 "Ignore null values in annotations"
`_getAnnotationValueByContext` is not guarding against null values, which is causing client (chaise) to break in case of having an invalid annotation value. This function should just guard against null values and treat them as empty annotation.

[2017-10-18 00:47] RFSH commented on #517
[A fix](https://github.com/informatics-isi-edu/ermrestjs/commit/c0af75b3a62377d6044a82eda0be488c934bf718) has been pushed to master for this.

[2017-10-18 00:47] #517 closed

[2017-10-18 01:12] amitjha21 commented on #490
Test query to get all association entries against given leaf entry:

https://dev.isrd.isi.edu/ermrest/catalog/1/attributegroup/L:=isa:experiment_type/R:=left(term)=(isa:dataset_experiment_type:experiment_type)/$R/experiment_type;L:=array(R:*)

https://dev.isrd.isi.edu/ermrest/catalog/35257/attributegroup/L:=multiadd:leaf/R:=left(id)=(association:ak2)/$L/id,Items;A:=array(R:*)  : _test data_

[2017-10-19 19:44] chiragsanghvi opened #519 "Disable system columns"
Return relevant values for getInputDisabled function depending on context.

For create return `{ message: "Automatically Generated" }`
Fr update return true;

[2017-10-19 20:50] #519 closed

[2017-10-19 23:07] chiragsanghvi opened #522 "Make attribute date available to Mustache"
Add date object to Mustache template variables. This object can be access as `$moment` in Mustache template.

It will contain following properties for date Thu Oct 19 2017 16:04:46 GMT-0700 (PDT)

* date: 19
* day: 4
* month: 10
* year: 2017
* dateString: Thu Oct 19 2017
* hours: 16
* minutes: 4
* seconds: 14
* milliseconds: 873
* timeString: 16:04:46 GMT-0700 (PDT)
* ISOString: 2017-10-19T23:04:4

[2017-10-20 01:57] hongsudt commented on #522
Can you add this to the markdown template document?

[2017-10-20 01:59] hongsudt opened #524 "markdown extension to support inline display"
of the following:
- glyph icons
- classes with different texts and colors

@karlcz what else?

Note: I want to use this feature to present status summary succinctly.

[2017-10-20 23:27] amitjha21 commented on #490
The suggested approach is to handle it through single call to get all rows without filter as mentioned above for efficiency and scalability. Then go through the resultset to pick out rows that are already added to the association. This would require changes in API at Ermrest level. This is parked for now.

[2017-10-23 21:11] RFSH opened #525 "Count in AttributeGroup Reference"
Since we're using `cnt_d` it will ignore `null` values. This is causing count function in `AttributeGroupReference` to not return the correct value.

[2017-10-25 18:10] #487 closed

[2017-10-25 18:10] #472 closed

[2017-10-25 18:10] #522 closed

[2017-10-26 23:41] RFSH opened #527 "Disable Sort for json/jsonb Columns"
Sorting json column in ermrest will throw an error and it should be disabled.

jsonb is sortable but since based on json value that we get from ermrset we cannot distinguish between SQL null and jsonb value of null; it can make the pagination logic faulty (or complicated, since we have to change it to a filter with but `::null::` and `null` values.).

Based on these, we are going to disable sort o

[2017-10-27 23:31] #527 closed

[2017-10-27 23:54] karlcz opened #528 "Don't override an explicit visible columns list"
I configured an explicit visible column list to only include some scalar columns.  The sidebar includes those columns but also appends an outbounnd foreign key that I intentionally omitted from the list.

https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Classifier%20Status/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEEAGhAGEAbMJJASwDNWcMACAZSJgiaJAH1GzNp26j2AaxwBPEAF0AvrQCSAEVW

[2017-10-27 23:56] karlcz commented on #528
sorry this was my mistake, having forgotten I had a filter in the URL before I changed annotations and reloaded the page to test out the features...

[2017-10-27 23:56] #528 closed

[2017-10-28 00:50] RFSH opened #529 "Faceting Alternative Bug"
### Summary
Current implementation is not working as expected for a case that `compact` and `compact/select` refer to different tables.

### Explanation
In faceting, we have extra logic for supporting alternative tables. In [this wiki](https://github.com/informatics-isi-edu/ermrestjs/wiki/Table-Alternatives#faceting) we tried to summarize these cases. There is one issue with the current logic and

[2017-10-31 18:12] jrchudy opened #530 "Update faceting heuristics"
Faceting needs to consider 3 more column types:
 - boolean - include as part of heuristic and visible facets
 - json - never include this column type
 - jsonb:
     - only include if this column is part of the visible facets annotation.
     - make sure that we are serializing it correctly.

[2017-11-01 00:06] RFSH commented on #530
[This commit](https://github.com/informatics-isi-edu/ermrestjs/commit/8dc15da7c3d49ef32efa124b37a1b1db09564d06) has fixed these issues.

[2017-11-01 00:06] #530 closed

[2017-11-01 17:41] hongsudt commented on #394
I heard some comments about the need to filter NOT NULL for some columns.

[2017-11-01 17:53] hongsudt commented on #525
There is no cheap way to address since count distinct ignore null values. So we decided to a simple work around which is if the total matches is smaller than what's currently shown, set the total matches to be the same as..

@RFSH should we close this issue?

[2017-11-01 17:58] hongsudt commented on #32
I am closing this issue since we don't seem to need to do this.

[2017-11-01 17:58] #32 closed

[2017-11-01 18:13] #525 closed

[2017-11-01 21:07] karlcz opened #531 "Unable to use a facet projecting a base table that has alternatives"
I have a facet definition whose source path projecting a key column for a table that has table-alternatives defined. This facet seems to get discarded from the visible column list.

If I append the inbound pseudo foreign key from the compact alternative table to the base table, then I can get it to work in both entity and scalar mode.

I think that projection of the base table should work too, and

[2017-11-06 21:09] RFSH commented on #490
I tried the method of adding extra column to the projection list. That method had performance issues and we decided to use the two request method. Which is on each read for getting the domain values, we should do another read to get the existing values. The only caveat is that this new request must be using the same paging as the domain values.

[2017-11-06 22:13] RFSH commented on #503
All the unit test for round one are complete. I will create a new issue to address the unused APIs that will be used for round two.

[2017-11-06 22:13] #503 closed

[2017-11-06 22:14] RFSH opened #533 "Faceting Unit Tests - Round 2"
There were several APIs and features that I didn't test because we were not using them in round one (or we couldn't test them). We should add test cases for these when we wanted to use them in client (chaise):

- [ ] AggregateGroup
  - [ ]  entityValues
    - [ ] Table doesn't have any simple key
    - [ ] With join in path.
    - [ ] Without join in path.
  - [ ] Histogram
- [ ] Base Type logic f

[2017-11-06 22:15] #509 closed

[2017-11-06 22:16] #506 closed

[2017-11-06 22:42] #366 closed

[2017-11-07 19:59] robes opened #535 "Move client id `cid` from query option to http header"
Putting the `cid` in query option causes http cache misses at least on every app that has a different client id. To avoid this we need the `cid` to be send as a http header field.

@hongsudt can we prioritize this?
@karlcz getting this (as an http header field) into the derivalogs probably involves changes to the recipes rather than to ermrest, right?

[2017-11-07 20:44] RFSH commented on #406
I updated the description (first comment of this issue) to include what we discussed in the meeting. Can you please take a look?
@karlcz @hongsudt @robes

[2017-11-07 21:07] karlcz opened #536 "Add client context header for logging"
See informatics-isi-edu/ermrest#177 for more discussion.

We want to replace our previous bag of query parameters for logging properties with a header containing a bag of attribute-value pairs.

1. Have some mechanism to collect the bag of parameters as an object
2. Encode the object in JSON w/o any pretty-printing (compact out all optional whitespace).
3. Encode the JSON string with a modified ve

[2017-11-07 21:10] karlcz commented on #536
The initial properties for the client context would be what we had before in the query URL:
- cid
- pid

We may over time want to add more app-specific context parameters, e.g. for Chaise recordset to distinguish different kinds of query it is using in one app. We should deal with those as future extensions rather than trying to do everything at once.

[2017-11-07 21:39] karlcz commented on #535
I didn't see this when I created other issues for this topic. See #536

[2017-11-07 21:39] #535 closed

[2017-11-07 21:42] karlcz commented on #536
The small change in ermrest, hatrac, and webauthn to include this header in its log output is already pushed to each of those respective repos.

So, once dev servers have updated, it should be possible to dev and test the client-side mechanism. You'll see the new header content logged into a field called `dcctx` in the existing JSON-formatted request log events we emit in `/var/log/messages` etc.

[2017-11-08 19:09] chiragsanghvi commented on #423
`last modified date` cannot be added as it is being deprecated and not supported https://developer.mozilla.org/en-US/docs/Web/API/File/lastModifiedDate.

[2017-11-08 22:23] RFSH opened #538 "Add Composite ForeignKeys To Faceting Heuristics"
In the heuristics for faceting, we're ignoring composite foreignkey or keys. At first the heuristic wasn't to always show entity picker for foreignkey pseudo columns and ignoring the composite made sense. But since we're always showing entity picker as long as the table has a simple key, we can still show an entity picker.

So we should change the heuristic for foreignkey pseudo columns to check f

[2017-11-08 23:53] hongsudt opened #539 "Distinguish between null vs false in the null guarding syntax e.g. {{~colname}}"
* @chiragsanghvi mentioned that {{~colname}} covers both null and false. Check this.
* If so, we need a way to distinguish between false and null..
* Investigate handlebar but we might want to disable features that we don't need for security concerns.

[2017-11-08 23:54] hongsudt commented on #146
Take a look at #299 for formatting requests.

[2017-11-09 01:15] RFSH opened #540 "Add Faceting Examples"
A new wiki page is needed with better examples for faceting.

[2017-11-09 18:24] karlcz commented on #539
I think we should broaden this if possible.  I think a DBA wants to check for `NULL` that is due to the structure of their ERM and handle that case differently from all other cases. It's not just `false` but also zero, empty string, and I'd argue even empty lists and empty objects.

Another frustration I have with the current templates is that the same guard syntax turns into an iterator. You can'

[2017-11-13 19:37] #538 closed

[2017-11-13 21:10] hongsudt opened #543 "un-contextualize facet columns?"
Currently, facet columns assume `compact` context. Do we need to contextualize this so this structure can be useful in other context?

[2017-11-13 21:11] hongsudt opened #544 "un-contextualize facet columns?"
Currently, facet columns assume `compact` context. Do we need to contextualize this so this structure can be useful in other context?

[2017-11-13 21:11] hongsudt commented on #544
duplicate

[2017-11-13 21:11] #544 closed

[2017-11-13 21:17] hongsudt opened #545 "facet list merging heuristics (url vs. annotation)"
Currently, if defaults are specified in annotation, they are included in the facet list (the results are combined e.g both defaults and url facets are applied).

We shouldn't combine them. The url facets should take precedence.

In other words, if you have facets in your url we should ignore the default values for filter facets specified in the annotation.

[2017-11-14 00:23] RFSH opened #546 "Fix ACL test cases"
[ermrest no longer allows `*` on mutation ACLs](https://github.com/informatics-isi-edu/ermrest/commit/07223a50cd1d695708997a168cf5ca6de428e72f).

We're using `*` in our test cases and that is resulting in ermrest error. We should fix those test cases.

[2017-11-14 00:32] RFSH opened #547 "Encoding Problems in EntityCounts"
I was applying encoding two times on the columns. One time while creating the attribute group objects and then again inside the attribute group logic.

This was causing the request for some facets to fail. More specifically the search and total count APIs are failing.

[2017-11-14 22:32] robes opened #550 "double encoded url in search query"
1. go to https://www.facebase.org/data/recordset/#1/isa:clinical_assay/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEASyTBABoQsAbKiKrMZgfTCVoCe3KGCJ8cRbgDMA1jgEgAugF9GVGIsZYAFig44k+AIwAWAAwBOAGwqVQA@sort(id)?subset=Dataset%3A%20Developing%203D%20Craniofacial%20Morphometry%20Data%20and%20Tools%20to%20Transform%20Dysmorphology
2. expand "Syndrome Subtype"
3. click "show more"
4. in the search f

[2017-11-14 23:50] #546 closed

[2017-11-14 23:51] #547 closed

[2017-11-15 00:15] RFSH commented on #550
#547 should have solved this. Described scenario works without throwing any errors in the dev server.

[2017-11-15 02:21] hongsudt opened #551 "Add RID in the display name/key heuristics"
We should incorporate RID into our heuristics in determining display name or shortest keys, etc.

@karlcz When multiple keys exist, should we prefer RID?

[2017-11-15 02:34] hongsudt commented on #550
@robes please review.

[2017-11-15 18:53] #423 closed

[2017-11-16 01:39] RFSH commented on #406
#552 has added `$fkeys` as described in the description to `column-display`, `key-display`, and `row-markdown-pattern` annotations.

The other part of this task is adding this variable to other usages of pattern expression syntax. These include:

1. `domain_filter_pattern`: Used for adding extra filter to the path that is being used for picking a foreign key value.

2. `url_pattern` : Used for ass

[2017-11-16 22:14] RFSH commented on #540
More examples have been added in [here](https://github.com/informatics-isi-edu/ermrestjs/wiki/Facet-Examples)

[2017-11-16 22:14] #540 closed

[2017-11-16 22:25] robes opened #554 "File upload error on checksum mismatch"
A user has reported failures on uploading largish files (~1GB) using the browser (chaise+ermrestjs).

First, the message from the browser hints at a checksum mismatch.

![browser - screen shot 2017-11-03 at 3 29 42 pm](https://user-images.githubusercontent.com/4202842/32919233-e201021e-cad9-11e7-98d7-f6509c2a86cf.png)

Network tab of developer tools shows a couple chunks in "cancelled" state.

![n

[2017-11-16 23:14] chiragsanghvi commented on #299
@hongsudt @karlcz Will this format work

The placeholders in the format string are marked by `%` and are followed by one or more of these elements, in this order:
- An optional `+` sign that forces to preceed the result with a plus or minus sign on numeric values. By default, only the - sign is used on negative numbers.
- An optional padding specifier that says what character to use for padding (i

[2017-11-17 00:11] chiragsanghvi commented on #554
@robes

I just tried uploading a file to hatrac which is of size 1.4GB and it worked. Could you mention the extension of the file and maybe the file itself.

[2017-11-17 02:10] RFSH commented on #299
Isn't this syntax supposed to be something that we want to add to the current pattern language that we have in mustache? Or are we completely moving away from mustache and using this syntax?

[2017-11-17 02:22] hongsudt commented on #554
@robes They have a hard time replicating this issue. Can you give steps and file examples, so @chiragsanghvi can proceed with bug fixes?

[2017-11-17 02:24] #189 closed

[2017-11-17 03:13] chiragsanghvi commented on #299
This syntax will be used on top of Mustache and is valid for one column value only. You won't be able to access other column values while  formatting.

if a column has pre_format annotation then instead of using the default format function of ermrestjs we format it according to above syntax allowing user to provide precision and other stuff.

Once formatted this value will be provided to the Musta

[2017-11-17 18:36] robes commented on #554
It is not a consistently reproducible error. I even had this user join me on a bluejeans call so that we could watch the process together with dev tools open. (Because I was unable to reproduce it.)

He had just encountered the error on a file before our call, and when I was on the call with him, the upload of the exact same file worked. So I do not believe this is file name, file format, etc. spe

[2017-11-17 20:01] #545 closed

[2017-11-17 22:57] hongsudt commented on #299
@chiragsanghvi What library are we using for this?

Also, there doesn't seem to be an example on how to enable thousand separating tokens (e.g. `,` in most countries or `.` in some countries), so we will see `1,000,000` instead of `1000000`.

Also, are you suggesting that we only have to specify the first part of the printf syntax?

[2017-11-17 22:59] karlcz commented on #299
This seems good to me.  Is there a printf in javascript now or is this a third-party library?

When I saw the part accessing JSON fields I thought, man that seems better than the crazy mustache syntax. :-)  But then I am sure we still have to struggle with the conditionals, looping, and null guards...

[2017-11-17 22:59] chiragsanghvi commented on #299
We are using a library called [sprintfjs](https://www.npmjs.com/package/sprintf-js).

All other formatting can be added as I have made changes to the library according to my requirement

[2017-11-17 23:00] karlcz commented on #299
Oh, does the padding option for JSON turn on pretty printing, i.e. multi-line format?

[2017-11-17 23:00] chiragsanghvi commented on #299
@karlcz This is a small 200 line third party library, but to customize to our needs I have made some changes to it.

[2017-11-17 23:01] chiragsanghvi commented on #299
@karlcz We might be able add pretty printing by introducing one more option.

[2017-11-20 20:04] hongsudt opened #557 "renaming `count` to `# Occurences` in the facet pop-up"

[2017-11-20 21:53] karlcz commented on #406
The current master code doesn't seem to handle column names with `.` in them.  I am experimenting with the template customizing the "ID" column display in this facet page:

https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Synaptic%20Pair%20Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEALRxIzADMBLJACxABoQBlATwjAAHIkywACAApgmGMdyJoovAPoBJALZgA5jjEBGZQwDWOXiAC6AXy7yoAOjEAZHBD

[2017-11-20 22:33] jrchudy opened #558 "Refactor parser to convert filters to facets"
Change ermrestjs parser to convert filter into a facet. In the process we should remove all the filter related APIs.

This requires making changes to the `_processSingleFilterString` and `_processMultiFilterString` functions in `parser.js`.

[2017-11-21 02:17] hongsudt commented on #299
@chiragsanghvi I am not sure you have answered my question about the thousand separator token.. If we don't already have this, we should implement it.. We will continue to use our existing default if there is no annotation.

[2017-11-21 02:22] hongsudt commented on #299
It seems like the thousand separator is accomplished by setting locale in C. Should we follow the same approach?

[code]

[2017-11-21 02:36] karlcz commented on #554
@robes Can you confirm one significant point with the user?  They SHOULD NOT attempt to upload a file that is potentially being modified simultaneously by any other processes on the client side.  This would look the same as any other form of corruption from the point of view of our end-to-end integrity checks.

[2017-11-21 02:39] karlcz commented on #554
In any case, I think it would be worth logging what the uploader is doing:

1. Log the file that was selected and whatever metadata we can obtain (e.g. size and last modified if available via the file api)
2. Log the md5 we compute prior to upload
3. Log the file metadata again after the upload (size and last modified)

A more expensive thing would be to catch the error and repeat the local MD5 an

[2017-11-21 02:45] karlcz commented on #554
BTW, the wrinkle is that if we are using a chunked upload job, we can send chunks out of order and cannot recompute a running checksum of the bytes sent as another confirmation.  To do that, we'd have to serialize the chunk processing which would erase the benefit of parallel chunk transfer on slow networks...

[2017-11-21 20:22] hongsudt commented on #399
We already have a mechanism to detect uniqueness for the record page. I am tagging this as a wishlist and close the issue. If there is a need for this functionality later, we can reopen it.

[2017-11-21 20:22] #399 closed

[2017-11-26 23:53] chiragsanghvi commented on #554
This is an issue with the browser or the server.  If you check the network log

![picture below](https://user-images.githubusercontent.com/4202842/32919246-ea36e624-cad9-11e7-8fa4-a0ff10e1567c.png)

There're 2 requests that got cancelled. This might be because the server didn't respond or the connection was aborted. HTTP doesn't allows us to identify cancelled or aborted requests easily.  They bot

[2017-11-27 17:19] RFSH commented on #557
A week ago I changed it to "Number of Occurrences". Should I change it to "# Occurrences"?

[2017-11-28 00:27] RFSH commented on #406
@karlcz Yes, the issue is what you described. Although this problem existed before and it's not specific just to `$fkeys`. We're just replacing `.` with `_` for the first level of objects (If you had a JSON object that one of the attributes had `.` in its name, you cannot access it).

[2017-11-28 20:01] jrchudy commented on #551
The decision was made to support RID as the preferred key when multiple keys exist.

RID is being indexed in ermrest and RID is implemented as type text in ermrest (and the DB) but is exposed as a column of type text.

[2017-11-29 22:04] #490 closed

[2017-11-30 02:14] hongsudt commented on #557
That's ok.. This looks good in rbk.

[2017-11-30 02:14] #557 closed

[2017-11-30 02:20] hongsudt commented on #394
The scalar facet supports null filtering, but not the entity facet..

[2017-11-30 18:29] #551 closed

[2017-12-01 22:17] hongsudt opened #562 "Handle RID default function"
In RBK, all the RID columns have the following value as default:
`_ermrest.urlb32_encode(nextval('_ermrest.rid_seq'::regclass))`

I think this is true for all deployments that use RID.

When we see `/_ermrest.*\(\.)*/`, maybe we can treat that as a function and not pass that to the default value.

[2017-12-01 22:43] jrchudy commented on #562
My thoughts were that if we know a column of domain type RID will always be generated, then we can ignore setting the "default value" for that column.

[2017-12-01 22:47] hongsudt opened #563 "Infinite Loop In _replaceDotWithUnderscore In Case of Assets"
@hongsudt commented on [Fri Dec 01 2017](https://github.com/informatics-isi-edu/chaise/issues/1397)

On this page, https://dev.rebuildingakidney.org/chaise/record/#2/RNASeq:Sample/RID=13-FMFG
- click add file
- add an arbitrary file.. This will throw a terminal error since I have a bad trigger.  In the past, this is a soft error that allows me to go back and makes change to my recordedit..

Anyway

[2017-12-04 22:04] jrchudy commented on #494
@karlcz I noticed that the encoding is working fine in the general case as well. I can't reproduce the other scenario you are talking about (if the fragment ID is to a table with a table-alternative annotation). I'm not sure what the annotated model you tested this against looked like.

Could you provide some more information about the model you tested this against (a link to the model if it exist

[2017-12-05 02:05] #563 closed

[2017-12-05 21:43] karlcz commented on #494
I think this is an example...

1. Go to https://synapse-dev.isrd.isi.edu/chaise/record/#1@2NZ-7DP6-DDG8/Zebrafish:Image%20Region/RID=ZW
2. Look at Source Image column's outbound link URL: `https://synapse-dev.isrd.isi.edu/chaise/record/#1%402NZ-7DP6-DDG8/Zebrafish:Image/RID=3MY`  this has `%40` instead of `@`

[2017-12-05 21:52] karlcz commented on #494
I guess that's not actually an example of table-alternatives but it is an example of the same class of double-encoding bug...

I actually don't think the table-alternatives part will be very common since this almost always involves a SQL view and these won't even be present for historical queries on the history-tracking branch of ermrest.

[2017-12-05 22:16] RFSH commented on #494
@karlcz
Does this mean that we should not apply any decode/encoding to the given catalog id? Should we use it as is without decoding it?

[2017-12-05 22:37] RFSH commented on #406
Support for `domain_filter_pattern` has been pushed to master. We should be able to use `$fkeys` in that annotation now.

[2017-12-07 19:58] #146 closed

[2017-12-07 20:07] RFSH commented on #299
@chiragsanghvi has implemented this feature in #564. He also wrote [this](https://github.com/informatics-isi-edu/ermrestjs/wiki/Pre-Format-Annotation) wiki page for it.

[2017-12-07 20:07] #299 closed

[2017-12-07 22:59] chiragsanghvi commented on #539
Add handlebars support to take care of null checks as mentioned above.

[2017-12-07 23:08] chiragsanghvi commented on #536
This task is divided into 3 phases:

- [x] Add support to http.js in ermrestjs to send headers as sent by user
- [ ] Change methods in ermrestjs that're exposed to user to start accepting header parameters.
- [ ] Make changes in Chaise to start sending logging headers to ermrestjs methods.

[2017-12-09 00:46] hongsudt commented on #562
Yes, that works.. RID will always be generated by the server.. So we can mark that as "auto-generated" and ignore default.

[2017-12-11 23:07] hongsudt opened #567 "annotation system columns with appropriate display names"
Many system columns show up with the raw column names. We should set all system columns to have the same display names and comments..

[2017-12-11 23:10] #567 closed

[2017-12-11 23:10] hongsudt commented on #567
Issue moved to [informatics-isi-edu/rbk-project #403](https://github.com/informatics-isi-edu/rbk-project/issues/403) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-12 02:47] hongsudt opened #568 "remove RID from row name hueristics"
I heard a few complaints after we added RID in our heuristics..

We should leave that out and let the key heristics (for display purpose) deals with it..

[2017-12-13 20:28] RFSH opened #569 "Reference in ForeignKeyPseudoColumn Does Not Have Any Context"
The reference that we are creating in `ForeignKeyPseudoColumn` are not contextualized. This can cause problems for the apis that are using this reference and are using its context. For instance the logic for sorting is using referred table's row_order, which is context based.

One way of solving this is just attaching the right `_context` to the reference. But the more appropriate way of doing thi

[2017-12-14 01:42] amitjha21 opened #571 "Error messages with table/schema level details"
We need to have table details for users to take corrective action when they see errors.
- [ ] Table name along with column details
- [ ] Handle invisible columns names

**Summary**
- We should change this to show the displayname of related reference.
- If we cannot find the displayname then should show the name that ermrest is returning
- use flag to make sure it is being passed from `delete` func

[2017-12-14 02:07] RFSH commented on #571
This is only related to the `IntegrityConflictError`, which we are throwing when user is deleting a table that has some foreign key to:

 Currently if we can parse the message, we are showing the table name that ermrest is returning. We should change this to show the displayname of related reference. We have access to the table and also the constraint name of the foreign key. If given these two we

[2017-12-14 02:10] RFSH commented on #568
We also decided to change the logic of rowname, to instead of falling back to using shortestkey, it should use displaykey.

[2017-12-14 02:22] RFSH opened #572 "Reference Previous and Next Functions Bug"
Go to the following link:
https://dev.rebuildingakidney.org/chaise/recordset/#2/RNASeq:Replicate@sort(RNASeq_Replicate_Sample_RID_fkey,RID)@after(88,29R)
Click on next.

Since we're sorting based on foreginkey, for next and previous we should look at the foreignkey data. In this case the value is null and we're not handling null in here.

[2017-12-14 18:01] RFSH commented on #571
In the case that we couldn't figure out the related reference's displayname we should append a message that says "If you have trouble removing dependencies please contact the site administrator." to the error message that we generate.

[2017-12-14 18:55] #550 closed

[2017-12-14 19:52] robes commented on #66
Since faceting has been implemented without need for this issue, we should close this unless some other use case requires that we revisit it.

[2017-12-14 19:52] #66 closed

[2017-12-14 19:54] robes commented on #65
Since faceting has been implemented without need for this issue, we should close this unless some other use case requires that we revisit it.

FWIW, this functionality has been implemented in the python deriva-py API, where the use case for ad hoc path building remains valid.

[2017-12-14 19:54] #65 closed

[2017-12-14 22:32] #572 closed

[2017-12-19 02:14] amitjha21 commented on #571
This has been merged. Assigning to @hongsudt  to verify and close it.

[2017-12-19 18:18] #562 closed

[2017-12-19 19:39] #568 closed

[2017-12-19 19:56] karlcz commented on #491
This issue may be obsolete...  we should discuss whether the domain filter feature should really get redefined somehow in terms of the faceting mechanism instead.  But, I'm not sure whether this is something that would be feasible to factor out as code reuse.

[2017-12-19 19:56] hongsudt opened #577 "append hatrac download link with uinit=1"
This will allow us to distinguish between automatic download (like thumbnails/images) vs user-initiated download.

We should add this to all the download links associated with asset annotation.

[2017-12-19 19:57] hongsudt opened #578 "fake a put request to log terminal error cases"
We will be using the same header mechanism to log the detail..

[2017-12-19 23:28] hongsudt commented on #353
@robes @karlcz Is there still a need for this given that we have faceting?

[2017-12-19 23:36] hongsudt commented on #578
@karlcz did you say we should use a put request? Do you have a specific ermrest path to use?
`/ermrest/error/terminal`?

[2017-12-20 00:18] RFSH commented on #516
The reason that we cannot facet array types is that the `col=value` is not equality check but rather whether the col array column has `value` in it. But the aggregate function that we are using is just returning the array values and not individual acceptable values.

For example having these two rows

| id | array_col        |
|----|------------------|
| 1  | [ "a", "b"]      |
| 2  | [ "a", "b",

[2017-12-20 01:40] karlcz commented on #406
OK, I've successfully exercised this on my dev server.  Not sure if that is all this was waiting for to close it?

[2017-12-20 20:40] #406 closed

[2017-12-21 22:25] #394 closed

[2018-01-03 23:42] RFSH opened #580 "Contextualize Row Name"
Rowname was originally only being used for title of the page (`tuple.displayname`), but now we are using it in foreignkey display logic too. We want to be able to use different annotations for these different usecases.

Instead of using `row_name` context for extracting the rowname, we should change it to:

1. Use `row_name/title` for the title of page (`tuple.displayname`).

2. Other use cases sh

[2018-01-03 23:42] RFSH opened #581 "Add markdown_pattern to Foreignkey Display"
To be used for value of foreignkey.

[2018-01-04 20:21] hongsudt opened #582 "recordedit doesn't use pre_format value for boolean"
It uses the raw true/false values as options.
https://dev.rebuildingakidney.org/chaise/recordedit/#2/Common:Collection/RID=Q-1FFE@sort(RID)

[2018-01-06 02:25] hongsudt opened #583 "No value should not show up in compact"
https://dev.rebuildingakidney.org/chaise/recordset/#2/Gene_Expression:Specimen_Thumbnail_Display@sort(ID)

The above link lead to a recordset that shows No Value. We only have this problem on Dev, so it is probably due to a recent commit.

We shouldn't ever show *No Value* in the compact context, only in the compact/select!

[2018-01-06 02:47] jrchudy commented on #583
This issue is being caused because of the changes made right before christmas break for showing nulls and filtering on only values that are not null.

What's happening:
The `uniqueId` for each tuple is being calculated to be `null`. The shortestKey is being defined as the `RID` column because the `tuple.uniqueId()` function thinks the table being used is `Specimen` and not `Specimen_Thumbnail_Disp

[2018-01-09 18:28] hongsudt commented on #577
@RFSH if you are done with this, please update the issue.

[2018-01-10 02:04] RFSH opened #587 "Merge Handlebar PR"
We should investigate whether it is safe to use handlebar with user data. Based on my knowledge, it is mainly used by developers and therefore they have control over variables that they pass to handlebars. We should take a look at the security concerns, and if it seems safe then we can merge it.

We can write testcases for it later.

[2018-01-10 18:55] #577 closed

[2018-01-10 18:56] #580 closed

[2018-01-11 18:22] RFSH commented on #583
There was a bug in `tuple.uniqueId` logic which was causing it to return null in case of alternative tables. I recently changed the ellipses directive to show just `No Value` if the `uniqueId` is null. The combination of these two result in the behavior that you are seeing. I fixed the `uniqueId` bug, the given url is now working as expected.

[2018-01-11 18:22] #583 closed

[2018-01-19 18:31] RFSH opened #588 "ValidateTemplate Not Taking Extra Variables Into Account"
We're attaching $moment variable in the renderMustacheTemplate to the variables, but not in the validator. The validator will return false if $moment has been used in the template

[2018-01-19 19:49] RFSH commented on #588
I [added the extra variables](https://github.com/informatics-isi-edu/ermrestjs/commit/e730cd2b06ca1c953a5e32eaf01422719ac43c81) to the function.

[2018-01-20 01:29] #588 closed

[2018-01-25 00:37] RFSH commented on #558
A function has been added to filter that will turn it into facet. But we might not be able to use this facet, therefore this issue should still remain open. That function is now only being used for log purposes only.

[2018-01-25 00:38] RFSH commented on #578
We're faking a `put` request to `/ermrest/terminal_error` for now.

[2018-01-25 00:38] #578 closed

[2018-01-25 00:38] #536 closed

[2018-01-25 00:43] jrchudy opened #590 "Change range parser"
After some discussion the range parser should be changed to use `::geq::` and `::leq::`. This way, the results shown in the UI is more consistent with what the user sees based on the histogram data.

This will become part of the changes to `ermrestJS` including with the other changes for histogram support (chaise [issue#1265](https://github.com/informatics-isi-edu/chaise/issues/1265)).

[2018-01-26 00:21] karlcz opened #592 "App error if facet source is a list w/ just a column"
The syntax for the facet `source` field is based on that used in ermrest policies. In ermrest, the source `"RID"` is a short-hand for the generalized source list `["RID"]` i.e. a projection with no joins. In the facet list, using the general form with an array causes an app error instead of working the same way as a bare column name.

[2018-01-26 00:47] RFSH commented on #592
I didn't know this was the behavior in ermrest policies. I assumed if it's an array, it will be a path. I need to update the Facet wiki and also the implementation to behave the same way.

[2018-01-29 19:09] karlcz opened #594 "Multi-picker ignores page-size annotation on domain table"
I have a table with binary associations.  When I click the "add" button to add associations, the multi-picker modal seems to be using a default page size 25 when the domain table being associated with the parent record has a custom page-size annotation setting it to 4 on the `*` context, which means it should also apply to the `compact/select` context relevant here.

Example record: https://synaps

[2018-01-29 23:46] jrchudy opened #595 "Facet Objects aren't being merged"
When you have a range facet with a facet object from the annotation and from the URI, the objects don't merge properly. This is causing facet filters to not show above the `recordset` table and within the facet itself.

[2018-01-30 19:08] #595 closed

[2018-02-06 02:00] amitjha21 commented on #594
This requires changes in `chaise`.

[2018-02-12 19:17] amitjha21 commented on #594
This has been merged into the `chaise` master. Assigning to @karlcz and @hongsudt  to verify and close it.

[2018-02-14 20:55] #590 closed

[2018-02-14 23:58] jrchudy commented on #587
This issue is associated with `ermrestJS` PR #566. This issue is also related to `chaise` [issue #1408](https://github.com/informatics-isi-edu/chaise/issues/1408).

[2018-02-15 00:06] jrchudy opened #600 "Histogram API returns inconsistent buckets"
The histogram API returns a different set of buckets when the server is run locally (on dev.isrd with `US/Pacific` timezone) and when it runs on travis (with server set as `UTC`).

It seems that there is a difference in how postgres does calculations for values based on UTC and values based elsewhere with daylights savings calculated in.

[2018-02-15 00:11] RFSH commented on #558
I implemented this in #598. We don't want to always change filter to facet. Only in case of faceting APIs this change has uses. Therefore it has been added to the `Reference.facetColumns`. If facet equivalent of filter was understandable by current implementation of faceting, we will change the filters to facet.

[2018-02-15 00:11] #558 closed

[2018-03-01 02:38] hongsudt opened #601 "Token is undefined"
I consistently get this error message on rbk staging.

https://staging.rebuildingakidney.org/chaise/recordset/#2/Legacy_RNASeq:File

@robes also came across this on facebase and thought that it is related to markdown to generate thumbnails, but most do not have the urls.

@jrchudy @RFSH  Can either one of you check whether this is critical?

[2018-03-01 02:43] hongsudt commented on #601
This should be logged on rbk-staging. But I don't see the log message in the console captured from facebase.

[2018-03-01 03:34] hongsudt commented on #601
The problem is that the filename and url have newline in it..  Chaise should report this error without breaking.

S-1GBP | E12_SHHCRE-22G_genes.fpkm_tracking.txt\r                                        +| /gudmap-files/21776/processed/E12_SHHCRE-22G_genes.fpkm_tracking.txt\r
 +

[2018-03-01 18:19] RFSH commented on #601
As you pointed out the problem is that markdown-it renderer that we are using is throwing error. The assumption was that this function would never throw an error since there's no invalid markdown string. This is actually a correct assumption with `markdown-it` or any other markdown interpreters. But here, `markdown-it-attrs` extension that we have added to `markdown-it` is throwing error.
For exam

[2018-03-01 20:23] hongsudt commented on #600
@jrchudy I thought we have solved this problem.. If so, can you update the issue and close it?

[2018-03-01 20:32] RFSH opened #602 "Sort Should Check Given Inputs"
Sort function in ermrestjs is not checking the sort object at all. It's not checking for the column names to be valid and sortable. It's the read function that is doing all these checks.
Sort should do these checks too.

We found this while we were refactoring modifier (sort, page) errors.

(This is not hight priority and it's just for improvement of the API)

[2018-03-01 20:48] hongsudt commented on #463
@jrchudy Is this still an issue?

[2018-03-01 20:54] RFSH commented on #601
Since it required a very simple change, I pushed [the change](https://github.com/informatics-isi-edu/ermrestjs/commit/71b676386895d8544e6dea11dac50e7e67e70af2) to master without creating a PR.

[2018-03-01 23:17] jrchudy commented on #600
No we didn't. The issue is no longer present in our test cases because I change the scope of the data so that all of the timestamp data falls within one 8 month period that doesn't change from PST to PDT (daylights savings).

[2018-03-01 23:29] hongsudt commented on #600
So this is the issue with day-light saving?

[2018-03-01 23:31] RFSH commented on #600
We found out that it's not that the server (postgres) or client (moment) are misbehaving, just that postgres will store the data the same way that is given (if the timezone offset is set to -7:00 it will store it with that offset regardless of client timezone). And its client's responsibility to attach the correct timezone to the data that is submitting to the server.

And we were seeing these inc

[2018-03-02 00:40] jrchudy commented on #463
This is still the case and should be addressed to prevent losing precision for timestamp values.

[2018-03-02 01:39] jrchudy opened #603 "Changes to support faceting in multi-picker in chaise"
@RFSH mentioned that the source reference object needs to be extended or refactored to properly handle the case when we have a modal popup with selections made in multiple facets that then spawns another modal popup with faceting.

[2018-03-05 18:31] robes opened #604 "Preformat support for times, dates, timestamps,..."
I.e., I'd like to be able to preformat a timestamp to display it like a date (e.g., YYYY-MM-DD only).

Why? In a compact view showing a fully timestamptz is a bit verbose and honestly not that necessary however, the time parts still seem useful to track internally if not also to display in the record page (detail view) where there is more room.

[2018-03-05 23:39] #571 closed

[2018-03-05 23:40] #594 closed

[2018-03-05 23:41] #601 closed

[2018-03-06 23:54] karlcz opened #606 "Problem with self-referential foreign key data entry"
I see a problem in Chaise but assume it is really in ermrestjs...

I have a table that has both `RID` and a legacy `ID` key column.  I have added a field `Source` which is a foreign key back to `RID` of the same table.  So, the table can store records where one record points to another record.

I put the foreign key name in my visible columns list for `*` context to cover `entry/edit` which is wha

[2018-03-07 00:18] RFSH opened #607 "Sorting Based on Invalid Column"
If you sort based on a column that doesn't exist in the table, the read function is throwing 404 error while it should throw `InvalidSortCriteria`.

[2018-03-07 01:16] jrchudy commented on #604
When a "preformat" annotation exists for columns of type `Date`, `Timestamp`, or `Timestamptz`, the moment library will be used to then format the current value based on the value provided by the "preformat" annotation. If this creates an invalid moment object (the format string was invalid), format the value as if no "preformat" was defined.

Test cases:
Test Date/Timestamp format working as expe

[2018-03-07 01:51] RFSH commented on #606
Do you have an example of this in your deployment that I can test it with?
I tested it on `Zebrafish:Image` by adding a break point and and manipulating the annotation, it seems fine. The grey box with the "not allowed" circle suggests that the input was flagged as generated (or immutable). Is it possible that you have used the column instead of the constraint name of foreign key?

[2018-03-08 20:44] RFSH opened #608 "Sort and Faceting Bug"
This is the issue:
[code]
This is happening because of the _referenceCopy function logic which is doing a shallow-copy. We should change this function to instead of shallow copying the reference, creates a new reference from scratch.

[2018-03-13 00:49] RFSH opened #609 "Update markdown-it dependencies"
One of the requested features is being able to add attributes to table markdown element. It seems like newer version of markdown-it-attrs has this feature. We should update the dependencies and make sure test cases are passing (Some of the test cases were failing).

[2018-03-14 00:25] RFSH opened #611 "csvDownloadLink Returns Invalid URL"
If you sort based on a pseudo-column, the sort criteria will be the name of that column which is not understandable by ermrest and therefore ermrest will throw an error for it.

[2018-03-14 00:51] RFSH commented on #611
For `csvDownloadLink` we're currently using the `entity` ermrest API, however for the read we're using `attributegroup`. The reason that we're using `attributegroup` for read is to be able to add foreignkey data, and also being able to sort based on foreignkey data, but with ermrest what is getting projected is the last table on the path. So I don't think we can simply sort based on columns of oth

[2018-03-14 19:15] #611 closed

[2018-03-14 20:38] RFSH opened #612 "csvDownloadLink Ignores Sort and Page"
Previously csvDownloadLink was returning the modifiers, but these modifiers are not parsable by ermrest. So I [removed them as a temporary solution](https://github.com/informatics-isi-edu/ermrestjs/issues/611).

Some of the columns provided in the sort criteria might not be actual database columns, or when you sort based on a column based on heuristics we actually should sort based on another colu

[2018-03-16 23:06] robes opened #614 "(inbound) pseudo-column support for filters in the path"
I would like to see the pseudo-column support filters in the path.

I.e., I would like to filter a nested table so that only some of the rows appear. However, this is _not_ an ACL situation, it is really a context situation. The same user can see the row in anther context.

This would be _very_ useful for the FaceBase deployment.

[2018-03-19 18:07] jrchudy commented on #604
Changes to the functionality that @RFSH and I discussed:
 - Removed the error case
   - whatever the format is, it will be displayed that way.
   - moment doesn't have an exposed function to verify format

[2018-03-19 18:08] jrchudy commented on #604
The corresponding PR was merged into master, reassigning this issue to @robes.

[2018-03-19 22:49] robes opened #615 "Incorrect count returned to client"
Due to use of `cnt` instead of `cnt_d` we are returning the incorrect number of results at least with respect to a corresponding entity query.

[2018-03-19 22:57] RFSH commented on #615
In the `ReferenceAggregateFn` functions we're switching between usage of `cnt(*)` and `cnt_d(SHORTEST_KEY)`. Using the later will always return the correct value but because of performance issues we want to avoid using it.

We're seeing this only when there are facets that have inbound foreignkey in their path. It makes sense because for getting the data we are adding extra joins which might resul

[2018-03-22 17:29] robes commented on #614
FYI. I'm going to explore a work-around that might be suitable enough so that this issue might be unnecessary.

[2018-03-23 00:21] robes opened #616 "Versioned hatrac URL not supported"
I'm told that our implementation of the asset annotation does not include support for versioned URLs returned from hatrac.

[2018-03-27 18:18] karlcz opened #617 "Allow pseudo columns in templating environments"
You don't need to follow the conversation below and this comment will summarize the list of tasks that we agreed on. You can refer to [this wiki page](https://github.com/informatics-isi-edu/ermrestjs/wiki/Pseudo-Column-in-Templating-Enviornments) that is explaining this change in depth.

- [x] Allow data-modelers to define a set of source keys for each table.
- [x] Allow `sourcekey` in `visible-co

[2018-03-27 21:24] hongsudt commented on #616
Can you clarify on what's not supported?

The URL stored in hatrac through chaise should be versioned and
downloadable. I don't think we are aware of any problems in RBK.

On Thu, Mar 22, 2018 at 5:21 PM, robes <notifications@github.com> wrote:

[2018-03-28 19:40] RFSH commented on #615
We decided to [always use the `cnt_d`](https://github.com/informatics-isi-edu/ermrestjs/commit/3806a692e1df818752aa08175d548ad5b46c8a7d) for getting the count since in most cases our urls will have facets in them. This should be fixed now.

[2018-03-29 21:40] RFSH opened #618 "Inconsistent behavior when column_order has multiple columns"
@karlcz commented on [Thu Mar 29 2018](https://github.com/informatics-isi-edu/chaise/issues/1475)

@BDemps commented on [Tue Mar 27 2018](https://github.com/informatics-isi-edu/synspy/issues/61)

When I click the arrow at the bottom of the page on say the "zebrafish subjects" page, or when I click "show details" on one of the searchable fields on the left hand side of the page, the system crashes,

[2018-03-30 22:20] RFSH opened #619 "Add tuples to delete parameters"
Currently it is relying on the reference uri and for that it has limitations.

Since sort and page are relying on `attributegroup` api and delete is using `entity`, we cannot pass the sort/page for deletion and instead are using `ermrestCompactUri`. This can be harmful because if the uri doesn't have any filters, all the values for that column will be deleted.

Therefore it should behave the same

[2018-04-03 22:25] #607 closed

[2018-04-04 00:09] karlcz commented on #617
@RFSH @hongsudt @robes

There is an open PR to add handlebars and support a field like `"template_engine": "handlebars"` as a sibling to our many template pattern fields to switch the engine from mustache to handlebars.  I propose that we introduce a similar field `"template_environment": {...}` with new syntax for the DBA to structure the environment explicitly.

We know we want a syntax that can

[2018-04-06 19:11] RFSH commented on #618
This has been fixed.

[2018-04-10 19:31] RFSH opened #622 "General ermrestjs usage document and helloWorld templates"
We need a general sample nodejs and angularjs applications on how to use ermrestjs.

[2018-04-12 01:01] karlcz opened #623 "Wrong tooltip on entity-mode pseudo columns"
When a pseudo column is in entity mode, the tooltip should come from the table's comment rather than the key column's comment.

I also suspect we should add support for a "comment" field in the pseudo column (sibling to "markdown_name") so that a DBA can customize the tooltip to better express the meaning of the whole source path.

[2018-04-12 23:03] RFSH commented on #623
Based on the discussion that we had the following should be the logic for both displayname and comment of pseudo columns (first rule applicable).

### Displayname
1. Use the defined `markdown_name`.
2. If aggregate is defined, use the following:
    - min: `Min {COL_NAME}`
    - max: `Max {COL_NAME}`
    - cnt/cnt_d: `# {COL_NAME}`
3. If there's no path (column from same table)
   - If `entity` mo

[2018-04-12 23:05] RFSH opened #624 "Visible Columns Changes Regarding Aggregate"
If pseudo column has inbound foreign key and aggregate is not defined on it, it should be ignored unless it's in entity mode and context is `detailed`.

[2018-04-13 01:21] karlcz opened #625 "Inconsistent visible columns processing"
We need to use a single, common visible column parsing routine that can handle all the syntactic variants and convert them (or reject if invalid) for the given application context.  A DBA should be able to set a single `*` context visible column list that functions correctly for all applications, if they don't want to bother customizing each context:

-  `"Column"`, `{"source": "Column"}`, and `{"

[2018-04-13 18:03] RFSH commented on #625
The only contexts that are treated differently are `entry` (`entry/edit`, `entry/create`), and `filter`.

The reason that I'm not allowing the pseudo-columns in `entry` context is because I wasn't sure to what extend we actually want to support this. Only pseudo-columns that have a source without any foreignkey or just one outbound foreignkey? Anything other than that should be ignored? Or do we a

[2018-04-13 18:31] karlcz commented on #625
I'm not suggesting any changes to the core functionality as far as
which pseudo-column types work in each app context. I'm only
requesting that we treat the different annotation variants as
equivalent where they have the same semantic meaning:

1. a local column
   - `"Column Name"`
   - `{"source": "Column Name"}`
   - `{"source": ["Column Name"]}`
2. a single outbound foreign key
   - `["Schema"

[2018-04-13 18:34] karlcz commented on #625
I forgot to mention, the filter app context should discard pseudo
columns that use aggregation, since ermrest does not allow you to
express filters over aggregate results.

I don't think it would be appropriate to just discard the aggregate
function while keeping the pseudo column. Aggregation is an important
part of the pseudo column semantics (unlike filter state which is just
more of an initial

[2018-04-17 18:09] hongsudt commented on #622
@RFSH what is this document for?

[2018-04-17 18:46] hongsudt commented on #617
@ljpearlman I would like your opinions on this as well..

[2018-04-17 18:59] hongsudt commented on #614
@robes which context are you referring to? Write or read? Can you be concrete on the usecase?

[2018-04-17 20:08] RFSH commented on #614
@hongsudt I think this is the same as [chaise#1355](https://github.com/informatics-isi-edu/chaise/issues/1355) issue.

[2018-04-17 22:06] jrchudy commented on #554
Not sure how I can reproduce this issue. I tried changing my network speed (switching that in the dev console) and intermittently turning off the connection and turning it back on.

In the first case, I was able to see the chunks take a long time to upload, but didn't experience any issues with multiple chunks being uploaded and being reorganized improperly (potential mismatch of md5).

Int he sec

[2018-04-17 22:36] hongsudt commented on #554
Do we have the logs that @karlcz suggested above? Does that log go to our server? If not, maybe we can use the same logging mechanism as the terminal case to log that on the server and observe the frequency that this problem is seen.

[2018-04-18 18:32] jrchudy commented on #616
This issue has been fixed. Re-assigning to @robes to verify it is working properly now.

[2018-04-19 17:30] jrchudy opened #628 "Navbar on top of error modal"
If the application throws a terminal error that is unrelated to fetching the session or displaying the navbar, the navbar should remain on top of the modal overlay. This will allow users to navigate away from broken links or sign in.

[2018-04-23 17:26] jrchudy commented on #554
Logging the other information for the file upload requests has been done. Not sure what else we can do but to wait for the user to notify us when it happens again.

[2018-04-25 18:11] RFSH commented on #623
This has been done as part of #626. Both displayname and comment have been changed based on the logic described on the previous comment.

[2018-04-25 18:11] #623 closed

[2018-04-25 18:11] #624 closed

[2018-04-25 18:14] RFSH commented on #625
I changed the logic of pseudo-columns so they are the same in all the contexts of visible-columns list. Since `filter` context is used to define an actual filter and not just list of columns, it remains as before and different from other contexts.

[2018-04-26 20:27] hongsudt commented on #78
@jrchudy @RFSH is this suggestion still relevant?

[2018-04-26 23:57] RFSH commented on #78
This is actually what we are doing. I think @robes did it after creating the issue.

https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/ng.js

[2018-05-02 18:17] RFSH commented on #31
Some of the steps are for the old `datapath` API. I'll make sure to include the ones that are still applicable.

[2018-05-02 18:26] RFSH opened #629 "Basic Array Support"
These are the minimum set of changes that we need in ermrestjs to make sure we're supporting arrays:

- [x] Ignore the facet definitions based that are based on array columns. You should add extra case to [this](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L384,L394) and [this](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L396,L421) f

[2018-05-09 20:48] jrchudy commented on #494
This has been fixed and merged into master. Changes were made in both `chaise` and `ermrestJS`. Reassigning to @karlcz for review.

[2018-05-10 21:45] karlcz opened #632 "Filter broken for json/jsonb column type"
When an ERMrest filter predicate is being formed for a json or jsonb column, the value literal must be a URL encoded JSON value.

For example, go to the [Image table](https://synapse-dev.isrd.isi.edu/chaise/recordset/#1/Zebrafish:Image)
and select the first item `"ready"` in the "Status" facet at the bottom of the facet list.  You'll get a 400 Bad Request terminal error.

The problem is that the E

[2018-05-11 01:06] RFSH opened #633 "entityCounts and Histogram Bug"
In both of these functions we're counting the shortestkey of facet table. Instead we should count the number of rows in the Main Table, if there's a join the path.
Although this is only true in the current use case that we have in chaise for faceting. The number that we are showing as "number of occurrences" is incorrect and misleading. For that use case, we should change it the way that I describ

[2018-05-16 02:31] ljpearlman commented on #617
I'm not sure I understand the two alternatives here, but I am very, very, very strongly in favor of having the DBA specify what data they need in advance instead of having everything fetched just in case. In general I find myself wanting to go less "wide" (not bring in every linked table) and more "deep" (traverse two layers of foreign key) than the current implementation allows.

[2018-05-17 16:24] RFSH opened #635 "Buggy Logic in Read And SetSamePaging"
## Summary

In `read` we have a logic of adding shortestkey to the sort modifiers. This bug is related to the case of not having any sort modifiers in the url, and having a `row_order` on the table. In that case we were using the sortObject that is defined on `row_order` without applying any extra logics. Which was inconsistence with other parts of the code (paging and sorting).

Also the `setSame

[2018-05-17 21:09] robes opened #636 "support filename_ext_filter"
Reference: https://github.com/informatics-isi-edu/ermrest/blob/master/user-doc/annotation.md#2017-asset

This is important for enforcing data standard rules. I.e., if I only want jpeg and png in a "thumbnail" table and want to safeguard against tiff (which don't render online) that an unknowing user might upload. We have many more examples beyond this simple one.

[2018-05-17 21:28] RFSH opened #637 "Support pre_format in Facet Values"
We should support `pre_format` in the facet values. Currently it's directly calling the `_formatValueByType` function, we might want to call the `formatvalue` of the column object instead. Although we should be cautious of the extra logic that is in that function (the logic to deal with `json` for example).

[2018-05-17 21:36] ljpearlman commented on #617
I'm not sure this is the right place to put all this, but here are some related use cases. I think the first two are covered by both alternatives listed above, but I'm not sure about the third.

1. We have many foreign keys that don't get used at all in recordset displays; pre-fetching all of them slows performance a lot (this is related to ermrest:193).

2. We have many cases where we want to lin

[2018-05-21 17:29] RFSH commented on #633
[A fix](https://github.com/informatics-isi-edu/ermrestjs/commit/6396729319c9ce1a96429190c867fb7d529ce621) for this has been merged with master.

[2018-05-21 23:02] RFSH opened #640 "Facet Filter Merge Bug"
[The logic](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/reference.js#L655,L678) for merging filters in url with the facet list is buggy. The assumption was that we're not going to have `and` filter on same source column (`{"and": [{"source": "col", "choices": ["1"]}, {"source": "col", "choices": ["1"]}]}`).
It will turn the `and` into `or`, if the facet source is not available

[2018-05-22 19:45] RFSH opened #642 "Combine Range Filters"
In parser, the `_filterToFacet` is turning filters into facet definition. Since the facet definition supports having conjunction of `min` and `max`, we should turn a filter that is expressing conjunction of `leq` and `geq` into the more compact facet definition. To summarize:

Filter:
`RCT::geq::2015-05-05&RCT::leq::2016-05-05`

Current output of `_filterToFacet function`:

[code]

Better output:

[2018-05-22 19:50] RFSH opened #643 "Allow Array Aggregate For Columns"
Currently we're only allowing `cnt`, `cnt_d`, `min`, and `max`. We should allow `array` too. It should return the values joined by ` ,` (`a, b, c`).

Default name: `{COLUMN_NAME}`
Default comment: `List of {COLUMN_NAME}`

[2018-05-22 22:04] RFSH commented on #635
This has been resolved. Going to the given url is not throwing error anymore.

[2018-05-22 22:05] RFSH commented on #635
@karlcz Can you please verify this? This is related the issue that you created in chaise and I moved it to here (The issue of clicking on add in the related entities would throw terminal error).

[2018-05-22 23:22] #633 closed

[2018-05-23 00:59] RFSH opened #645 "NoConnectionError Changes Error Object"
[When we're mapping error response to ermrestjs error object](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/utilities.js#L1260), we're not preserving the actual response data in case of `NoConnectionError`

[2018-05-23 01:04] RFSH opened #646 "Add Ability to have Min and Max Exclusive Facets"
Currently the `min` and `max` defined on the facet annotation will be mapped to `geq` and `leq`. Data modeler has no control over them. We should add the following attributes to the ranges inputs:

- `min_exclusive`
- `max_exclusive`

Then the default behavior will be as is. We should modify the displayname of the ranges inputs to reflect this.

[2018-05-23 19:31] jrchudy commented on #636
This is already supported in `ermrestJS`. Closing this issue. There is a corresponding issue in `chaise` [here](https://github.com/informatics-isi-edu/chaise/issues/1463).

[2018-05-23 19:31] #636 closed

[2018-05-23 19:39] RFSH commented on #643
This has been merged with master. I updated the annotation document regarding the usage of `array` aggregate

[2018-05-23 19:39] #643 closed

[2018-05-23 19:39] #640 closed

[2018-05-24 00:09] karlcz commented on #494
I confirmed that chaise-generated links now preserve the version-qualified catalog ID between pages and no longer corrupts it with unexpected escaping.

[2018-05-24 00:09] #494 closed

[2018-05-24 00:28] karlcz commented on #635
It's not crashing, but I see a funny behavior from the row_order logic.  I have annotations like:

[code]

But Chaise is choosing a sort like:

`@sort(RCT::desc::,RID::desc::,RID)`

This has a descending-mode RID sort that shouldn't be there and a duplicate RID which is also pointless.

The sort configured in Chaise  via annotation should follow the descending/ascending flags independently for eac

[2018-05-24 18:22] RFSH commented on #635
There was a bug in the logic of adding shortestkey which I fixed and added to master. I'm going to close this issue and create another one for reverting the `row_order` changes that I made.

[2018-05-24 18:22] #635 closed

[2018-05-24 18:29] RFSH opened #647 "row_order and column_order changes"
Recently I changed row_order to apply the column_order logic too. That means I am going through the list of `row_order` columns and if they have `column_order` defined, I am using those columns instead of the column specified in the `row_order`. We should revert that and use the `row_order` as is.

We also need to unify the syntax of `row_order` and `column_order`. Current syntax of `row_order` re

[2018-05-25 01:11] RFSH opened #648 "Define Allowed Attributes in Markdown (whitelist)"
Currently we're allowing any arbitrary attributes to be attached to the markdown elements. [This is a security issue which we should address](https://github.com/arve0/markdown-it-attrs#security).

[2018-05-25 02:00] hongsudt opened #649 "Upload the same file content to the same hatrac namespace generate multiple files on server"
I updated a file to "Protocol.Figure" and then delete then re-uploaded. I would expect to see only one file on hatrac, but it seemed like multiple files were created on hatrac most of them have 0 byte but with the same filename.

https://staging.gudmap.org/chaise/record/#2/Protocol:Figure/RID=W-R0BC

[2018-05-25 22:37] hongsudt commented on #649
@karlcz confirmed that it is the frontend that started an upload job that got aborted or never got cleaned up.. I could see this consistently  on rbk-staging. However, staging doesn't have the latest code.

[2018-05-31 01:42] karlcz commented on #617
@ljpearlman I actually think both of your scenarios above are mostly orthogonal to this topic and will need other enhancements to make them practical.

The new pseudo column aggregates feature allows you to include an array of scalars from the Gene table per Specimen in the recordset results. Shortly, I expect it will also support an array of Gene row-names, i.e. supporting `entity: true` pseudo c

[2018-05-31 21:05] #625 closed

[2018-05-31 21:07] #646 closed

[2018-05-31 22:25] #647 closed, assigned to RFSH

[2018-06-01 17:49] hongsudt commented on #608
@RFSH have this been fixed?

[2018-06-01 18:00] RFSH commented on #608
No, it still exists. The implications of it for chaise is that if you sort based on a column and then change the facet, the sort criteria will be removed.

[2018-06-01 18:55] RFSH opened #653 "Div Block in Markdown"
The same way we allow custom tags (iframe, dropdown, etc.) in the markdown, we should define a new block that will wrap the content in a `div` block. It should be in the `:::div [VALUE]{TAG} :::` format.

This came up because we are using `markdown-it-attrs` which allows addition of attributes to any elements. But there are some use cases that we want to apply some styles to just text. Adding this

[2018-06-01 19:17] RFSH opened #654 "Entity Aggregate"
We should review the aggregate functions in regard to entity mode. The implication of entity mode could mean that instead of just getting the value of the column, we should get the value for the whole row. Therefore `min` and `max` won't make sense and `cnt`, and `cnt_d` might return invalid values.

So should I just allow `array` aggregate for entity mode?

Entity mode would mean showing the rown

[2018-06-04 19:50] RFSH commented on #654
We decided to be a little forgiving on the aggregate definition. This is going to be the set of changes:

- Allow all the aggregate functions on entity mode (previously we were not allowing scalar).
- Only in `array` aggregate entity mode is going to be different from scalar mode. For other columns, the entity mode will be ignored.
- For `array` entity mode, we should display list of linkable row-

[2018-06-05 00:39] RFSH opened #655 "Refactor utilities.js"
It's getting hard to follow the code. We can create a folder called `util` with `constants.js`, `polyfills.js`, `functions.js`, etc. in it.

[2018-06-05 00:41] RFSH commented on #655
I added "Merge Handlebar PR" issue as a dependency for this since doing the refactoring before that task will just add more headaches.  Doing this refactoring shouldn't take that long but we can reduce the amount of effort required to do the other task.

[2018-06-05 22:35] #616 closed

[2018-06-06 18:38] #654 closed

[2018-06-06 19:53] RFSH commented on #653
We originally wanted this feature to be able to use it for row-names. I created a PR that will add `:::div :::` but as I explained on the PR I realized that we're using renderInline for row-names, therefore a custom "block" won't work. I should create another custom inline tag that can be used for what we actually want to use this tag for.

[2018-06-06 23:27] RFSH commented on #645
This is done in [this commit](https://github.com/informatics-isi-edu/ermrestjs/commit/cefaf2b3289e6b66682618ba47a4a176dca511ad).

[2018-06-06 23:27] #645 closed

[2018-06-06 23:36] #78 closed

[2018-06-07 00:34] jrchudy opened #658 "File upload: Filenames with whitespace are versioned when identical"
When a file already exists in hatrac with the same content, name, and size, we shouldn't upload that file again. If a filename includes a whitespace character, [this check fails](https://github.com/informatics-isi-edu/ermrestjs/blob/master/js/hatrac.js#L429) because `ermrestJS` changes the filename from something like `file name.jpg` to `file_name.jpg`.

The immediate thought is that we should onl

[2018-06-08 18:06] RFSH opened #659 "Custom Span Markdown Inline Block"
Originally I created the #653 because we wanted to be able to define a block to be used in row-name. We wanted to apply some styles to the row-name text. And when we're using this row-name for foreignkey value, we can attach the link to this styled value. I assumed that we can have a block in row-name. But then I realized that we're using inline markdown in row-name. Therefore all the custom block

[2018-06-08 18:07] #653 closed

[2018-06-08 18:09] #628 closed

[2018-06-08 18:09] RFSH commented on #628
Issue moved to [informatics-isi-edu/chaise #1555](https://github.com/informatics-isi-edu/chaise/issues/1555) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-08 22:32] jrchudy commented on #554
I was able to reproduce this issue with the following scenario:
Setup:
  - Have 2 files/namespaces that already exist in hatrac. This was done using the same namespace but 2 different files.
  - file 1 has name like `name_1.jpg`
  - file 2 has name like `name 2.jpg`

Steps (this was found when using the test suite. Notably the recordedit-add spec using the 2nd table, File):
  1. fill out the first

[2018-06-09 01:30] jrchudy opened #660 "reference.delete should be able to handle multi delete"
Reference.delete currently takes the uri that represents the reference and deletes all matching rows to that uri. Delete should instead take in a set of tuples, reconstruct the uri to reflect each of those rows to be deleted, and then send the request to ermrest.

[2018-06-11 14:41] karlcz commented on #554
The hatrac service does not rewrite spaces as underscores, so this
would have to be part of the uploader code in ermrestjs.

More importantly, hatrac deals in URLs not filenames, other than in
the content-disposition header, which can carry a client-side filename
hint.

All hatrac object names are URLs and URLs cannot have spaces in them.
So, no matter what, some rewrite should be expected here if

[2018-06-11 20:07] jrchudy commented on #660
Closing as duplicate of issue #619.

[2018-06-11 20:07] #660 closed

[2018-06-12 02:12] jrchudy commented on #554
Looks like it's neither `ermrestJS` nor `hatrac` that's changing the filename. This morning @hongsudt mentioned that there are different rules that apply to encoding in headers than encoding in URLs.

Regardless, I spent some time trying to reproduce the error I reported on Friday above, and cannot reproduce it.

[2018-06-13 21:55] dhanashritidke commented on #207
1. [google-closure-compiler-js](https://www.npmjs.com/package/google-closure-compiler-js): The package successfully removes the dependency on Java. But the java-script version of the closure compiler is slower than the corresponding java version. i.e. [google-closure-compiler](https://www.npmjs.com/package/google-closure-compiler)
2. **Note** for the package "google-closure-compiler-js": This is a

[2018-06-13 21:56] #207 closed

[2018-06-14 19:32] RFSH commented on #659
I realized we can simply add the span the same way we're adding subscript and superscript. This is the current syntax for these two tags:

- subscript: `~text~ another` which will be `<sub>text</sub> another` (`~test~{.class-name}` for adding attributes).
- superscript: `^text^ another` which will be `<sup>text</sup> another` (`~test~{.class-name}` for adding attributes).

Now we just need to defi

[2018-06-20 01:36] hongsudt opened #665 "default asset presentation should only render the filename not the entire path"
Currently, we only apply this rule for hatrac URL. I would like to apply the rule to any URL path, so that the asset can be presented succinctly..

For example: on the data commons demo site, the URL paths are quite long and not nice presented especially in the compact context. https://nih-commons.derivacloud.org/chaise/recordset/#1/public:KC7%20Search%20Demo

[2018-06-20 01:47] karlcz commented on #665
On Jun 19, Hongsuda modulated:

However, for off-site download URLs, I think it is bad practice to
completely hide the remote site info.  Often, you'll see something
like the following markdown:

    [foo (example.org)](https://example.org/path/foo)

[2018-06-20 01:47] hongsudt opened #666 "Change Default Heuristics for Int/serial Key Columns"
We want these changes to be made for heuristics fo int/serial key columns:
- [x] Use choice facet by default for int/serial key columns.
- [x] Turn off the value formatting (no thousand separator).

[2018-06-20 01:51] hongsudt commented on #665
We could leave the full URL in the detailed context..

On Tue, Jun 19, 2018 at 6:47 PM, Karl Czajkowski <notifications@github.com>
wrote:

[2018-06-20 19:00] RFSH opened #667 "getAggregates URL Length Limit Bug"
This function is being used for sending requests to get the aggregated result for a reference. It's taking care of url length limitation, but assumes that at least one of the aggregate functions can be added to the url. There are some cases that adding any of these aggregate functions will make the url lengthier than the limit. We should handle this case. Currently we're not checking for that and

[2018-06-20 22:44] hongsudt commented on #666
We should also turn off the default int formatting (no thousand separator).

[2018-06-21 00:45] hongsudt commented on #659
I like option 2 but @karlcz has a point that we use a lot of that with mustache.. Do we have a better character? If not, let's go with 2..

[2018-06-21 19:03] hongsudt commented on #524
@RFSH I moved this here since it is relevant to the div and inline issue..  If this is now a duplicate, please close it.

[2018-06-21 23:02] RFSH commented on #659
We decided to go with the more explicit `:span:` for opening and `:/span:` for closing tag.

[2018-06-22 21:10] RFSH commented on #665
The change is. In compact contexts if the filename column doesn't exist and it's not from hatract, we're returning whatever comes after the last `/`.

[2018-06-25 23:13] karlcz opened #669 "Change title-casing feature slightly"
I think the title-case function, when enabled, should only mangle the case of strings that are all lower-case, but preserve case when the model name is already using capitalization.  This would cover cases like `RID` and other acronyms as well as any funkier values.  It won't handle a situation where a modeler has retained capitalization that they didn't want to show to users.

I don't know if any

[2018-06-25 23:16] hongsudt commented on #669
Instead of this general rule, can we be more specific and only handle all
capitals or just the system columns?

On Mon, Jun 25, 2018 at 4:13 PM, Karl Czajkowski <notifications@github.com>
wrote:

[2018-06-25 23:30] karlcz commented on #669
I can't see any good reason for limiting it like that.  If you really think someone depends on title-casing of arbitrarily-cased inputs, I think that argues for having a config option to enable the two levels of strength.  If you also think that the default has to remain as it is today, then leave `true` doing what I proposed above as `"force"` and instead introduce a flag for the weaker form like

[2018-06-26 01:27] #629 closed, assigned to RFSH

[2018-06-26 01:28] RFSH commented on #659
This has been merged with master.
@hongsudt Can you please try having span in your row-name? I modified one of our row-name test cases and it works as expected. You can have empty spans too. You can use something like `:span:{{{col_val}}}:/span:{.class-name}`.

[2018-06-27 21:30] jrchudy commented on #649
The changes to fix this issue have been merged into master. Reassigning to @hongsudt  to verify it no longer happens and close this issue.

[2018-06-29 00:58] jrchudy commented on #609
We want to be able to support attributes on table tags. Add a test case to `01.print_utils.js` as part of this change.

[2018-07-03 23:48] jrchudy commented on #648
To solve this issue a whitelist of allowed attributes should be added to `markdown-it-attrs.js`. Use that list to validate each attribute before actually adding it to the list of attributes associated with that particular element to be rendered.

Below is the current list of attributes:
[Pending...]

[2018-07-05 19:03] #554 closed

[2018-07-05 23:38] #609 closed

[2018-07-06 23:37] RFSH opened #671 "Hide Filters From Facet"
There are some cases that we want to apply filters to the reference but hide them from the facet column corresponding to that filter. We can add an extra attribute in the facet JSON called `
hidden` which will signal ermrestjs that that facet definition should not be part of the visible facet list.

This came up when we added the batch unlink feature in chaise. The modal that we're showing users f

[2018-07-09 22:11] hongsudt opened #673 "Need to support access to viewer app link with proper version"
Currently, the URL to the viewer app is put together manually.. We want to avoid this so that version can be automatically inserted by ermrestjs..  I guess a different approach is to provide $chaise.versionedCatalog that markdown it can used in the template..  Maybe the later approach is more generic.

@karlcz what do you think?

Here is the current annotation that we use to direct users to the vi

[2018-07-09 22:17] karlcz commented on #673
Yes, I think you need to expose the versioned catalog ID as a mustache
environment field.

[2018-07-09 22:56] carlkesselman commented on #673
Actually don't we want more then that.  We should not be writing annotations with the catalog number hard wired or is the #2 a parameter?

Carl

Sent from my iPhone

On Jul 10, 2018, at 12:11 AM, Hongsuda <notifications@github.com<mailto:notifications@github.com>> wrote:

Currently, the URL to the viewer app is put together manually.. We want to avoid this so that version can be automatically inse

[2018-07-09 23:04] carlkesselman commented on #673
Ok. Good.  I only know beards not mustach

Car

Sent from my iPhone

On Jul 10, 2018, at 1:02 AM, Karl Czajkowski <notifications@github.com<mailto:notifications@github.com>> wrote:

That's the point about the mustache environment. The `2` (or `2@XYZ`
should be replaced with something that expands in the front-end,
e.g. `{{{$chaise.catalog}}}` or `{{{$chaise.versionedCatalog}}}`.

karl

—
You are r

[2018-07-16 18:23] RFSH opened #675 "Disable Name Style Inheritence For System Columns"
You could use [display annotation](https://github.com/informatics-isi-edu/ermrest/blob/master/docs/user-doc/annotation.md#2015-display) to define name style for the displayname of schema, table, and columns.

Most deployments are setting these on the schema level, and we don't want the system columns to inherit those. Although if `name_style` is defined on any of the system columns, it should be h

[2018-07-16 19:04] carlkesselman commented on #675
I probably don’t understand this fully, but it seems to me that system columns should display in caps without requiring annotations.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck S

[2018-07-16 20:32] karlcz commented on #675
The problem being described by Aref is that a catalog, schema, or
table-level display annotation is "inherited" by unadorned columns and
this changes system column presentation in a way you don't like. If it
weren't for those annotations, the columns would present correctly as
the default behavior in Chaise is to preserve the raw column name.

So, by suppressing this inheritence behavior for syste

[2018-07-16 20:34] carlkesselman commented on #675
Got it.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA  90292-6695
Phone:  +

[2018-07-17 01:44] RFSH opened #677 "Expose Why CanCreate and CanUpdate Return False"
Currently we're just returning false without giving any reason. This can be confusing on the client side.

[2018-07-18 23:59] RFSH commented on #524
This has been implemented with the addition of `:span:` tag. You can find some examples of it in [here](https://github.com/informatics-isi-edu/ermrestjs/wiki/Template-and-Markdown-Guide#12-span-attach-attributes-to-text)

[2018-07-23 22:52] hongsudt opened #678 "get citation feature"
We should provide a menu option for users to get citation associated with each record..

A good example can be found here:
https://academic.oup.com/database/article/doi/10.1093/database/bav010/2433142

Edit:
To support this feature, we first need to define a table level annotation that `ermrestJS` can understand. This will look something like the following (based on bibtex terms):
[code]

Example

[2018-07-23 22:56] carlkesselman commented on #678
Would we expect to download the citation, or save it in the cutbuffer or something like that.

Also, I think it would be a UI nightmare to be able to generate a citation for something that is not dereferanceable via the resolver, so this again goes toward consolidating configuration for resolver into the catalog.

Carl
Sent from my iPad

----------------------------------------------------------
D

[2018-07-26 16:41] RFSH commented on #675
This has been [merged with master](https://github.com/informatics-isi-edu/ermrestjs/pull/680)

[2018-07-26 16:41] #675 closed

[2018-07-28 01:04] #539 closed

[2018-07-28 01:04] #587 closed

[2018-07-28 01:04] #649 closed

[2018-07-30 19:19] RFSH opened #681 "Better Handling of Mixture of Filters"
Currently we're not restricting FacetColumn filters. We can have different types (range, choice, etc.) of filters in the same FacetColumn. This can lead to a complicated UX. We should check the type of filters that are in the url and add extra logic based on different scenario. The whole goal is to avoid mixture of different UX modes in the same `FacetColumn`.

0. When filter in the facet cannot b

[2018-08-02 01:12] RFSH opened #685 "Filtering in facet definition?"
@karlcz commented on [Wed Nov 01 2017](https://github.com/informatics-isi-edu/chaise/issues/1355)

The `source` path syntax we are using in facet definitions was copied from the ERMrest dynamic ACL binding notation.  There are use cases for faceting which would benefit from including the filtering feature of that notation.

This would allow a DBA to introduce an extra constraint that limits the va

[2018-08-02 01:13] #614 closed

[2018-08-14 15:53] RFSH commented on #632
This should be fixed now. I [made sure](https://github.com/informatics-isi-edu/ermrestjs/commit/af4d0a1ac3b65dfd4c446410efc70a3216dadd41) the filter that we're passing is JSON parsable.

[2018-08-14 23:02] #665 closed

[2018-08-14 23:02] #524 closed

[2018-08-14 23:03] #659 closed

[2018-08-15 23:35] jrchudy opened #688 "Create with not null column not in visible columns list with default value"
If you have a column that is marked as "not null" (required) and is not part of the visible columns list and there is a default value defined for that column, an error is thrown (`<column name> is missing error`).

This looks like a flaw in the logic for ermrestJS.

[2018-08-16 00:08] RFSH opened #689 "Change System Columns "Not Allowed" Message Back"
Change it back to "Automatically generated" because that's the more appropriate term. This is happening because users don't have "insert" access to those columns.

[2018-08-16 16:01] #666 closed

[2018-08-16 16:02] RFSH commented on #637
AggregateGroupReference and Faceting APIs are now using the same `formatvalue` function of column, therefore they should now support pre-format annotation.

[2018-08-16 16:02] #637 closed

[2018-08-16 21:56] RFSH opened #690 "Allow Custom Sort/Display In Scalar Facets"
We want data modelers to be able to have more control over what the facet column is showing. These are the new set of changes that we thing could be useful (These are only for **scalar** facets in **choices** UX mode):

- [x] **Custom sort**: Currently we're always sorting the values by descending value of frequency (and tie breaking with ascending value of the column). We want data-modelers to be

[2018-08-16 23:47] RFSH opened #691 "Bug Fixes in ERMrestJS"
- Make sure we're hiding the foreignkey from related table to the main, in `compact/breif/inline` too (we're doing it only for `compact/inline`).
- Add `numeric` column type to use facet range picker by default.
- Add `$fkeys` support to `page.content`

[2018-08-17 21:11] RFSH commented on #691
[This commit](https://github.com/informatics-isi-edu/ermrestjs/commit/29250a5f816ea876713a5f6e878d61f672ad9262) fixes all these three bugs and adds test cases for them.

@hongsudt can you please verify these?

[2018-08-18 00:29] jrchudy opened #692 "Expose chaise catalog values for annotations"
There are many cases where the linkage is done by annotations. In most of these cases, the annotation can be changed to use $fkeys.schema.table.values, so the version can be taken care of by ermrestjs. We want to expose some catalog specific variables to make the annotations templates more flexible.
 - [x] $catalog.snapshot (e.g. 2@1234)
 - [x] $catalog.version (e.g. 1234)
 - [x] $catalog.id (e.g.

[2018-08-22 22:32] hongsudt commented on #678
We will need to define a citation annoatation:
[code]
Example
[code]
Should render to:
Carl Kesselman, Experiment Protocol, GUDMAP consortium, https://doi.org/123.4/A-BCDE.

@carlkesselman @karlcz @robes @ljpearlman what do you think?

[2018-08-22 22:50] hongsudt commented on #678
Example of a bibtex
[code]

[2018-08-22 22:52] carlkesselman commented on #678
It would seem that some of this wouldn’t make sense if I am generating a citation to just some row in a table, would it?  Author, year (actually timestamp) and URL would make sense, others probably not so much so?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Scienc

[2018-08-22 22:54] hongsudt commented on #678
Other fields are optional. For GUDMAP, we put the PI as the author, and likely to leave the title blank..

[2018-08-22 23:35] carlkesselman commented on #678
This is orthogonal I think.  We need to be building this from the perspective that these are light-weight citations that should be super easy to create and used pretty much anywhere/everywhere.  We should not be building in more complex metadata rules like who is the author.  Author is creator of the record, creation time is in the record.  Name could be a name field if it exists, etc.

If we real

[2018-08-22 23:39] carlkesselman commented on #678
I was thinking super simple here… we package up the RID, wrap it in the URI prefix (gudmap.org/id/XXX-XXX<http://gudmap.org/id/XXX-XXX>) and you’ve got your citation.  If we wanted to have an alternative where we download a record with some other data, ok.  Lets think about how we are going to exchange these…. text messages, slack, email, slap them into a google doc, stick in your powerpoint deck…

[2018-08-24 00:17] hongsudt commented on #689
Why is "Not Allowed" appropriate for the columns that they can't insert?

[2018-08-24 00:27] hongsudt commented on #658
@jrchudy is this still an issue?

[2018-08-24 17:54] RFSH commented on #516
Yeah, sure. This issue is more like a feature request from ermrest. An API that actually returns the unique values that are in the array column.

[2018-08-24 17:58] RFSH commented on #677
@hongsudt Yes, we wanted a better error message. Currently in recordedit we're just checking for `canCreate` and if it returns `false` we're just throwing a forbidden error with the "You are not authorized to perform this action" message.
The simple solution is printing the reason in console, but the better solution would be ermrestjs returning the reason to client and client displaying that in th

[2018-08-24 18:01] RFSH commented on #689
This is what [we decided](https://github.com/informatics-isi-edu/chaise/issues/1609) to change it to. If user doesn't have "insert" access we're saying "Not Allowed" for the column.

Now the issue is that for system columns the "insert" access is missing too. So even for those columns we're saying "Not Allowed" which as we discussed "Automatically generated" would be more appropriate.

[2018-08-24 18:14] jrchudy commented on #658
Nope. We changed the "check" in `ermrestJS` to only verify the file's md5 and size.

[2018-08-24 18:14] #658 closed

[2018-08-24 18:49] hongsudt commented on #689
should we then handle the system-columns explicitly then?

________________________________
From: Aref Shafaei <notifications@github.com>
Sent: Friday, August 24, 2018 11:01 AM
To: informatics-isi-edu/ermrestjs
Cc: Hongsuda Tangmunarunkit; Comment
Subject: Re: [informatics-isi-edu/ermrestjs] Change System Columns "Not Allowed" Message Back (#689)

This is what we decided<https://github.com/informa

[2018-08-24 18:52] RFSH commented on #689
Yes, and it should be very simple.

[2018-08-24 18:52] hongsudt commented on #516
I am closing this issue..

[2018-08-24 18:52] #516 closed

[2018-08-24 19:14] hongsudt commented on #691
It is now working here:
https://dev.rebuildingakidney.org/chaise/record/#2/Cell_Line:Mouse_Strain/RID=Q-2CP0

[2018-08-24 19:14] #691 closed

[2018-08-24 20:55] hongsudt opened #695 "default tooltip for system columns"
If the comments for the system columns are not present, we should automatically apply the following tooltips to them:
* RID: Persistent, citable resource identifier
* RCB: Record creator
* RMB: Record last modifier
* RCT: Record creation timestamp
* RMT: Record last modified timestamp

[2018-08-25 00:04] #692 closed

[2018-08-27 17:27] RFSH commented on #688
I [recreated](https://dev.isrd.isi.edu/~ashafaei/chaise/recordedit/#49438/product:t_test) the exact describe situation, but I didn't get any errors. The `col_invisible` is not part of the visible columns, has `nullok: false` and `default: "value"`. You can see that after creating the entity, `value` is inserted for that column (because we're adding any invisible columns to the list of default valu

[2018-08-27 20:47] #689 closed

[2018-08-28 00:47] RFSH opened #696 "Improve Create function regarding list of defaults"
The create function accepts `data` parameter which is an array of data that user wants to create. We could refactor it and write it this way:

[code]

The current code has these issues that I tried to fix:
- If a column doesn't have any custom default value (default value of "null"), adding that column to the list of defaults would be redundant. We can add an extra check to avoid adding column tha

[2018-08-28 00:47] RFSH commented on #688
Since we're not able to reproduce this behavior anymore, I am going to close this issue. While taking a look at this one, we found that we could make some improvement to the logic that we have in `create` function for creating the list of defaults. I created [another issue](https://github.com/informatics-isi-edu/ermrestjs/issues/696) for this.

[2018-08-28 00:47] #688 closed

[2018-08-29 19:18] RFSH opened #698 "Inconsistent Behavior of visible-columns and visible-foreign-keys"
The source syntax is supported in `visible-columns` and `visible-foreign-key` annotations, but because of different interpretation of the syntax in different places that can be confusing.

We have three different branching logic to deal with source syntax.

1. (branch1) `visible-foreign-key`: This will be used to generated the `Reference.related` API. It accepts foreignkey constraint name and sour

[2018-08-29 22:06] RFSH opened #699 "Customize Array Aggregate Display"
Currently for pseudo-columns with `aggregate: "array"` we're returning a string of comma separated values. In entity mode, these values are links to the row with the row-name as the caption.

A new requirement is showing a bullet list of values instead of comma separated string. These are the potential solutions to this:

1. Adding a new attribute to the pseudo-columns that switched between comma

[2018-08-29 23:58] #690 closed

[2018-08-29 23:58] #497 closed

[2018-08-30 17:27] RFSH commented on #673
I am going to close this issue since #693 has added the three variables that can be used to get catalog information:
[code]

[2018-08-30 17:27] #673 closed

[2018-08-30 17:28] #632 closed

[2018-08-30 22:42] RFSH commented on #698
Based on the discussion that we had, we decided to:

1. Change the heuristics: Instead of validating the list for visible columns and visible foreignkeys, we should append the visible columns annotation definition and visible foreign key definition and then do the validation on this list only for faceting. This is fine for when the annotation for visible-columns exists, but if it doesn't exist it

[2018-08-30 22:44] RFSH commented on #699
We decided to go with the first approach. We are going to introduce a new attribute for now that switched between comma separated string, and a list. If deployments don't like the bullet list, they can later remove that using css.

We didn't go with the other options because we didn't want to over complicate things. Besides in #617, we want to give DBAs the ability to use pseudo-columns in mustach

[2018-08-30 23:00] carlkesselman commented on #699
what attribute name will you use?

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite 1001, Marina del Rey, CA

[2018-08-30 23:27] RFSH commented on #699
@carlkesselman I think I'm going to use `array_aggregate_display` which can be `list` or `csv` (by default it will be `csv`). I don't like the name, but I want it to be very explicit. Any other suggestions for it would be appreciated.

[2018-08-30 23:40] karlcz commented on #617
This was a long time ago, but I think the reasoning in the second sketch was to stick with the mustache-friendly environment hack, so each source gets stored into two separate environment fields `key` and `_key` just like the columns are currently mapped.

The other sketch assumes we will discard that old convention and use sub-fields to access raw vs display values.  I think we could also define

[2018-08-30 23:43] carlkesselman commented on #699
is it an aggregate (which to me implies sum, max, min?).  How about just array_display: list, bullets
----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of South

[2018-08-30 23:43] karlcz commented on #617
If we are going to go forward with handlbars and hopefully deprecate mustache, I lean towards also moving towards this sort of explicit control and deprecating our old environment construction rather than keeping it around as some perpetual backwards-compatibility mode...

[2018-08-30 23:56] karlcz commented on #699
Yes it maps directly to the ermrest array aggregate interface which
maps to the postgres array_agg aggregate function (with an implicit
row_to_json() thrown in for entity-mode sources)...

[2018-08-31 17:51] robes commented on #617
In principle, that sounds good to me. But what is the impact on deployments. If backward compat is dropped, will the effort (to update existing annotations) be so great that we will have some deployments lag behind. Etc. Perhaps one way to avoid that situation is to provide an upgrade script written in deriva-py that walks the model and updates all older annotations to the new format.

[2018-08-31 22:26] hongsudt opened #701 "hueristics for export"
If the export annotation doesn't exist, we should apply the following heuristics that generate a bag of files consisting of:
- [x] csv file for the main entity
- [x] csv file for all the related tables (whether in-line or not)
  - single hop : the fk to the main entity should be there already
  - multi-hops: add fk to the main entity as an extra column
- [x] fetch output for all the columns that h

[2018-09-04 19:47] jrchudy commented on #678
@hongsudt  support for this feature has been added to both `ermrestJS` and `chaise`. Documentation for the annotation can be found [here](https://github.com/informatics-isi-edu/ermrest/blob/master/docs/user-doc/annotation.md#2018-citation).

Reassigning this issue to you for verification.

[2018-09-05 01:40] jrchudy opened #703 "MD5 mismatch error"
Recently @hongsudt reported that a user of hers in Australia has continued to see the md5 mismatch error that we were seeing before, documented [here](https://github.com/informatics-isi-edu/ermrestjs/issues/554).

Information from @karlcz from slack channel:
- FYI the errors all seem to be on the final POST on the upload job and the logs seem to show a race condition where this request is happenin

[2018-09-05 17:49] RFSH opened #704 "Add array_d support and test it"
It should be added to the list of aggregate functions.

[2018-09-05 22:33] hongsudt commented on #699
@karlcz @robes are you ok with @carlkesselman's suggestion.. Using `list` for csv and 'bullet` for bullet list?

[2018-09-05 23:00] robes commented on #699
@hongsudt I think I prefer Aref's original suggestion: `csv` or `list`. My second choice would be `csv` or `bulleted`. But I don't have a strong opinion.

[2018-09-06 18:33] RFSH commented on #699
We decided to use `csv`, `ulist` (unordered list), and `olist` (ordered list) as the values for the `array_display`. I will update the annotation document when the PR is merged.

[2018-09-07 01:09] #704 closed

[2018-09-07 01:11] RFSH commented on #699
This is merged with master. I also updated [the annotation document](https://github.com/informatics-isi-edu/ermrest/blob/master/docs/user-doc/annotation.md#2016-visible-columns).

[2018-09-07 18:40] robes commented on #699
@hongsudt @RFSH weren't we also going to support a `raw` option for `array_display` so that we just render things without adding any formatting or separators. For example, to support a list of thumbnails?

Or do you want us to use it with one of these options and see how it looks first? I would try with `ulist` for example.

[2018-09-07 20:15] RFSH commented on #699
I can add that. But just to be clear, array aggregate is not going to apply the `markdown_pattern` that you have defined for the column. So unless your column is actually a `markdown` that has the thumbnail image defined in it, you won't be able to use array aggregate (You can not create an array aggregate pseudo-column of a `url` field and expect it to apply the `markdown_pattern` that turns the

[2018-09-07 20:39] robes commented on #699
Right. That's understood. The idea that we had in mind was to use the row_name annotation (on the _other_ entity) with markdown to generate an image and then aggregate that entity and display with a `raw` style so that in theory it will end up as a set of thumbnails.

[2018-09-07 21:00] hongsudt commented on #699
@robes please try it with the existing display first.. If that works, we can do the raw support to remove `,`

[2018-09-07 21:50] robes commented on #699
OK. We will do that.

[2018-09-12 02:01] hongsudt opened #708 "support required annotation"
We want a way to mark a column as required (e.g. same as not null), so that chaise can check for its mandatory entry. This should be a column level annotation (similar to immutable).

The reason for this is that in the legacy repository such as gudmap that starts with bad data (e.g. rows will null value), we need a way to improve on data quality of new records.

However, unless we fix the model, o

[2018-09-12 02:39] ljpearlman commented on #708
This looks good. The only thing is that I think this should apply only during record creation, not editing (since a person editing an old record might not know the correct value for the column).

[2018-09-12 16:06] hongsudt commented on #708
I disagree on this though. If we don't enforce the mandatory fields in the editing mode, then we allow the data to be in the state where those (supposedly) mandatory fields are missing again (e.g. users could go to edit mode and then remove species, etc.).

I think for the legacy data, if they want to edit them, they just have to deal with these missing values properly e.g. creating a unspecified

[2018-09-12 21:12] jrchudy commented on #703
@hongsudt the fix we discussed on Friday has been merged into master for `ermrestJS`.

[2018-09-12 21:12] #703 closed

[2018-09-13 20:56] jrchudy commented on #708
@hongsudt support for the required annotation has been merged into master. Documentation can be found [here](https://github.com/informatics-isi-edu/ermrest/blob/master/docs/user-doc/annotation.md#tag-2018-required).

Reassigning to you for verification.

[2018-09-14 00:27] hongsudt opened #711 "Support catalog annation for how to use resolver path in the shared link"
@karlcz can you please make a suggestion on the detail of the resolver config? Is this sufficient?

tag: `tag:isrd.isi.edu,2018:resolver`
[code]

[2018-09-14 00:31] carlkesselman commented on #678
Great thanks.  Overall this looks nice.

Of course, we want the RID resolver link, not the chaise link (I suspect you are waiting for the resolver?) We should think a bit about the text.  We have Share Citation, Share Link and Citation.  Seems a bit confusing to me.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industri

[2018-09-14 00:32] carlkesselman commented on #678
Is there a way to get a “copy link” action there somehow?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Su

[2018-09-14 00:51] hongsudt commented on #678
Isn't that the same as right click on link?

[2018-09-14 00:52] hongsudt commented on #678
The title will be just "Share" and there will be a bit improvement on the UX. Please check the UX again after the code is merged.

[2018-09-14 00:55] carlkesselman commented on #678
yea, I suppose so.

Google drive has this nice feature that they provide a button that copies the link to the clipboard.

[cid:3A2DA36B-BB55-483C-A9B3-A1F47438BA55]
----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, P

[2018-09-14 18:35] jrchudy commented on #678
The text and CSS changes have been merged as part of PR [#1643 in chaise](https://github.com/informatics-isi-edu/chaise/pull/1643).

[2018-09-14 20:57] carlkesselman opened #713 "Create Documentation for Relationships"
We need to have a section in the documents that talks about relationships.  Specifically it should address:

1) Using foreign key constraints to describe both inbound and outbound relationships
2) Pure binary association tables
3) Use of annotations to configure chaise in the above.

This should probably go before the annotations guide in the doc tree.

[2018-09-17 23:48] hongsudt commented on #678
I have verified that this works on rbk. SO I am closing this issue.

[2018-09-17 23:48] #678 closed

[2018-09-18 00:49] hongsudt opened #715 "Share: use resolver_implicit_catalog in generating a record shared link instead of chaise url"
chaise config name : `resolver_implicit_catalog`. The scope is only on record page:
* `undefined` or absent: use the chaise path (same as existing permalink)
* `false`: use `/id/{{{catalog_number}}}/{{{RID}}}`
* `<implicit catalog #>`: two scenarios
  - if catalog number in the chaise URL is the same as `<implicit catalog #>` then use `/id/{{{RID}}}`
  - else, use `/id/{{{catalog_number}}}/{{{RID}

[2018-09-18 00:51] hongsudt commented on #715
@carlkesselman if I also have a DOI, do you want to also listed DOI as one of the shared links?

[2018-09-27 17:02] RFSH commented on #701
In the following I will try to explain how export is working and how I am generating the default export template.

Based on current definition of the annotation, you need to pass `api`, `table` (in "schema:table" format), and an optional `path`. This is how export is using these:

1. If the given table is the same as the current table that reference is representing:

[code]

2. If the given table

[2018-09-27 17:47] carlkesselman commented on #701
Can we set up a meeting with ythe entire team to discuss.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Su

[2018-09-29 22:04] carlkesselman commented on #701
BTW, here is my spec. Note I have fetch and nonfetch versions,

templates': [{'format_name': 'BDBag (Holey)',
                'format_type': 'BAG',
                'name': 'default',
                'outputs': [
                    {'destination':
                         {'name': 'Collection', 'type': 'csv'},
                     'source': {'api': 'entity', 'table': 'Common:Collection'}

[2018-10-01 23:55] hongsudt commented on #715
@jrchudy I added this config to rbk-dev to reflect implicit default catalog, which is 2.

[2018-10-04 01:04] RFSH commented on #701
After reviewing the export annotation, we decided to make the following changes:

- Remove the `name` attribute since it's not used.
- Rename `format_name` to `displayname` and `format_type` to `type`.
- Remove the `table` attribute from the `outputs`, and make the `path` to be required. Then we're always going to create the path in the following format:

[code]

  So assuming you're writing expor

[2018-10-04 23:10] jrchudy commented on #715
The changes for this issue have been merged into master, reassigning to @hongsudt  to verify the feature is working as expected.

[2018-10-05 00:08] jrchudy commented on #677
The changes for this issue have been merged into master. reassigning to @hongsudt  for verification.

[2018-10-05 19:01] jrchudy commented on #715
@karlcz  pointed out that if the catalog defined in the config option, `resolverImplicitConfig`, is not the same as the current catalog number, we should use the current catalog number like `/id/{{{current_catalog_number}}}/{{{RID}}}`.

This is currently implemented incorrectly.

[2018-10-09 00:52] RFSH opened #722 "Revisit Create Defaults Logic Regarding Generated Columns"
Recently we changed the defaults list logic to add any column that will have a disabled input. This includes any column that has the `generated` annotation. So if a column has this annotation, we're going to completely ignore the value that is passed to the `create` function.

This is causing problems with the asset columns. If you define `md5`, `filename`, or other special columns for the asset;

[2018-10-10 17:45] RFSH commented on #722
We decided to go with the second option. The first solution would just make the documentation and also code harder to understand. The rule is simple now. If a value is provided to `create` function, it will be honored unless using that value would cause emrest error (when user doesn't have insert access) and it's not tied with UI anymore (the `inputDisabled` is supposed to be just a flag for UI to

[2018-10-10 17:45] #722 closed

[2018-10-11 00:03] RFSH opened #725 "PseudoColumn Reference Bug"
The `PseudoColumn.Reference` property is being created based on the passed main tuple. But instead of using the value of main table key, it's using the value of the foreignkey.

Assume that the following is the ERD of the database, we're navigating to the record page for `Main` with `id=1`, and this is our visible columns list:

![ERD](https://dev.isrd.isi.edu/~ashafaei/wiki-images/pseud_ref_issue

[2018-10-11 23:03] RFSH commented on #701
The changes explained in the previous comment are ready to be merged. I am going to merge them by the end of this day unless there's an objection.

I also [updated the ioboxd documentation and raised a PR](https://github.com/informatics-isi-edu/ioboxd/pull/6) for it.

@carlkesselman @mikedarcy
This is the list of what needs to be changed in the currently defined annotations:
- `name` attribute sho

[2018-10-12 17:49] RFSH commented on #701
The changes have been merged with master. I am going to close this issue. If we want further changes we should create a new issue, there are too many comments on this issue and it's hard to follow.

[2018-10-12 17:49] #701 closed

[2018-10-18 16:53] #725 closed

[2018-10-18 16:55] RFSH commented on #708
I am going to close this issue due to inactivity. If there's any issue with this feature we can create another issue.

[2018-10-18 16:55] #708 closed

[2018-10-31 22:03] RFSH opened #728 "Null in Faceting"
In faceting a `null` filter could mean any of the following:

- Scalar value being `null`. In terms of ermrest, this will be a simple `col::null::` query.
- No value exists in the given path (checking presence of a value in the path). The query for getting this could be complicated. We have to use outer join in the path. One way of doing this is using right outer join which I will explain in the l

[2018-11-07 18:59] hongsudt opened #729 "export"

[2018-11-07 18:59] hongsudt opened #730 "export support"
If the export annotation doesn't exist, we should apply the following heuristics that generate a bag of files consisting of:
Round 1:
- [x] add export button based on the export annotation

Round 2:
-  [x] csv file for the main entity
-  [x] csv file for all the related tables (whether in-line or not)
  -  single hop : the fk to the main entity should be there already
  - multi-hops: add fk to the

[2018-11-07 19:00] #729 closed

[2018-11-07 19:13] hongsudt opened #731 "export: add extra columns from outbound fks"
Change the main entity request to attributegroup and add extra meaningful column values for outbound foreignkeys. For example showing the RID of a foreignkey value might not be useful, and we might be able to replace it with other fields (the same type of heuristics that we have for row-name). See #701

[2018-11-08 00:00] RFSH opened #732 "Change Default Export Joins to Explicit Syntax"
While generating the default export template, we're using implicit join syntax for the related entities that are one hop away. We should use explicit syntax instead.

[2018-11-08 19:25] hongsudt opened #733 "add a chaise config parameter to enable default export feature"
By default, this should be on. The attribute name could be `disableDefaultExport` which chaise is going to send to ermrestjs.

[2018-11-08 19:53] hongsudt opened #734 "export: add constraint to only fetch assets that are not null"

[2018-11-13 23:44] #734 closed

[2018-11-13 23:44] #732 closed

[2018-11-13 23:44] #733 closed

[2018-11-14 22:25] hongsudt opened #737 "Extend pseudo-column to support presence checking"
This aggregate will be useful if we want to show whether the assay exist instead of counts, and can be used in combination of presence-checking facet..

@karlcz you mentioned that there is an in-expensive way to do this.. Can you put the detail here?

Otherwise, what we can do is use the count aggregate and if it is more than 0 then it is present.

[2018-11-15 00:20] karlcz commented on #737
Chaise is already splicing in recordset pseudo columns as a separate
query for one column of aggregated results for one page of records. It
adds a pseudo column projection to a base query representing the
records in the current page.

The trick here would be to formulate a query which only returns the
subset of those records for which the pseudo column value would be
true. Instead of adding a pseu

[2018-11-17 01:23] RFSH opened #738 "Handlebars gzip/base64 encoding support (to create proper chaise link to recordset)"
Currently data modelers can use filter syntax for generating link to different pages in chaise. But our supported filter syntax is very simple and we require more. An improvement would be writing facet in the mustache/handlebars environment but since we're encoding the facet object that is not possible right now.  We have to define a new helper function in mustache/handlebars that given an object

[2018-11-19 19:06] hongsudt commented on #711
@jrchudy We have already supported the default resolver, right? If so, then we should close this issue.

[2018-11-19 21:10] hongsudt opened #739 "default facet for unique not null integer should be choice (not range)"
So that the ID-type column can have a proper default display mode.

[2018-11-27 22:21] RFSH commented on #728
This has been merged with master.

[2018-11-27 22:21] #728 closed

[2018-11-27 22:22] RFSH commented on #738
A [new handlebar helper block](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/handlebars.md#encodefacet-helper) has been added.

[2018-11-27 22:22] #738 closed

[2018-11-29 18:36] RFSH opened #742 "Don't show null and not-null for scalar not-null columns"
We should not show null and not-null for scalar columns of the main table that are not-null.

Another improvement is also not providing these options for all outbound foirengkey facets that all the columns involved are not-null.

[2018-12-04 23:52] RFSH commented on #742
There are two special cases that ermest might return a null value for a `not-null` column:

1. When user right is `null` and therefore it's row-based.
2. When user is looking at a snapshot of old catalog and data might be missing.

Therefore we are going to be more strict in our check and we're going to check for not-null, right = true, and no catalog snapshot.

[2018-12-05 19:05] hongsudt opened #744 "General search feature improvement"
People sometimes get confused on the expectation of the general search feature (e.g. the search box on top of the result set). For example, on the gene page, they assume that the search should only search on the gene Name and Synonyms. People get confused when there are many false positives. Here are a few things that I think can help alleviate some of these confusion:
- [ ] Provide advanced searc

[2018-12-05 19:47] hongsudt opened #745 "support table display of a set of rows instead of an individual row"
In GUDMAP/RBK, we use heatmap and treeview to display a set of records associated with a related table through the table display annotation. Since the current annotation assumes a markdown presentation per row, to avoid having multiple of those presentations, we set the page size to 1. This is not good as the tabular display and the alternative display are not consistent.

The following are the cu

[2018-12-05 22:36] hongsudt opened #746 "support sorting and page size for array aggregate column"
There is a use case that want to have the content of aggregate array column sorted in a certain order. Ermrest doesn't support the sorting functionality but this can be done by chaise/ermrestjs.

The table display annotation already have `page_size` and `row_order` defined as parameters. We want to extend the context to support the pseudo-column composing of entities. We decided to go with the `ar

[2018-12-05 22:42] hongsudt commented on #606
@karlcz Can you respond to @RFSH question?

[2018-12-07 19:40] karlcz commented on #606
Sorry I forgot about this issue.

I have restored a test config on synapse-dev Image table.  There is an `edit` context visible column list and it has foreign key names for both `Image_Experimentalist_fkey` and `Image_Source Image_fkey`.  In edit mode on existing records, I see the entity-picker modal for the `Experimentalist` input field, but the grayed out problem on the `Source Image` input fie

[2018-12-07 19:56] karlcz commented on #353
@hongsudt  I think this old issue is relevant to more recent discussions I've heard about desires to customize the search-box behavior via annotations.

[2018-12-08 01:49] RFSH opened #748 "Support display in Source Definition"
**You can ignore the comment on this issue. I updated this description to be based on what we want to implement.**

We wan to be able to modify the display value of pseudo-column or related references. For that, we propose adding `display` support to the following:

- `visible-foreign-keys`: all the related entities. This will be an extra step for getting the markdown display of related entities (

[2018-12-08 01:52] RFSH commented on #746
We decided to not do this at the moment. Instead we are going to allow data-modelers to specify the page_size and row_order directly on the pseudo-column definition (#748).

[2018-12-08 01:52] #746 closed

[2018-12-12 01:07] RFSH commented on #748
We had a long discussion about this. These are a few take aways from the meeting:

1. We might want to add these display settings to other types of pseudo-columns too (scalar aggregate, scalar all-outbound, entity all-outbound) and therefore the `table-display` won't be applicable to them. Besides, having context inside the pseudo-column seems confusing. So we decided to instead have a `display` w

[2018-12-12 19:43] #739 closed

[2018-12-13 02:15] hongsudt commented on #617
[code]

[2018-12-13 02:31] RFSH opened #751 "Hide Facets in Annotation"
Currently I am adding on a feature so that you can go to a recordset page with preselected facets that won't be applied to the facet column. This is going to only affect the facet syntax in the url. I am adding a `hidden` attribute to the facet definition to accomplish this.

[code]
This will filter the page based on the given facet, but won't show that choice selected in the facet. It won't even

[2018-12-17 18:40] #742 closed

[2018-12-17 18:41] #745 closed

[2018-12-20 18:45] #671 closed

[2019-01-16 19:58] RFSH commented on #731
The following are more details about this task:

- We should do this for related entity requests too.
- We should do this for all the foreignkeys regardless of the type of foreignkey (composite vs. simple); as long as the referred table has one of the candidate columns (the same columns that we're using for row-name, i.e. title, name, term, label, accession_id, accession_number).
- We should not r

[2019-01-16 20:06] carlkesselman commented on #731
It would be good to coordinate this so that ingest of the exported file works.

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4

[2019-01-28 20:17] hongsudt commented on #711
@jrchudy So when I click "Share", do we print out the link that looks like /id/2/<RID>?  If so, then this issue is done and we should close it.

[2019-01-28 20:31] jrchudy commented on #711
There are 2 cases that can occur:
  1. When the `resolverImplicitConfig` property matches the catalog you are currently looking at, the link in the share dialog does **NOT** include the catalog number (`/id/<some-filter>`)
  2. When the above property does not match the current catalog, then the link will include the catalog number (`/id/2/<some-filter>`

[2019-01-28 20:31] #711 closed

[2019-01-30 22:57] RFSH commented on #581
Since we are going to [add display attribute to pseudo-columns](https://github.com/informatics-isi-edu/ermrestjs/issues/748), this is not necessary anymore.

[2019-01-30 22:57] #581 closed

[2019-02-05 03:16] RFSH opened #757 "Inconsistent Behavior of source and bare column for assets"
The source syntax is not applying the asset logic appropriately. Having just the bare column name will turn it into an asset column, but using the source syntax is not behaving the same.

This is happening because of a bug in the `_isEntityMode` helper function. It's not handling sources without path correctly. That is eventually causing [this if case](https://github.com/informatics-isi-edu/ermres

[2019-02-06 01:48] RFSH commented on #757
I realized that this is happening because of the specific `KeyPseudoColumn` that we have added before pseudo-columns (it's served as a self-link to the row). In this specific instance that I tested, the asset column was also part of a simple key, and therefore it was treated as a `KeyPseudoColumn` instead of the `AssetPseudoColumn`.

To briefly explain this, you can have the constraint name of a k

[2019-02-06 02:16] jrchudy opened #758 "history: share dialog should include live and versioned link"
When the user is looking at a versioned `record` page, the share dialog should include a share link for the current versioned catalog and one for the live catalog.

[2019-02-06 03:06] carlkesselman commented on #757
What is the definition of a self link in this context?

Carl

----------------------------------------------------------
Dr. Carl Kesselman
Dean’s Professor, Epstein Department of Industrial and Systems Engineering
Fellow, Information Sciences Institute
Viterbi School of Engineering

Professor, Preventive Medicine
Keck School of Medicine

University of Southern California
4676 Admiralty Way, Suite

[2019-02-06 19:59] RFSH commented on #757
@carlkesselman You can see some examples of it in [facebase](https://dev.facebase.org/~ashafaei/chaise/recordset/#1/isa:dataset@sort(accession::desc::)). The first two columns in this table are self-links.

The caption comes the following options (first applicable rule):
  1.  `markdown_pattern` defined on the [`key-display`](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-d

[2019-02-06 21:35] RFSH commented on #757
I pushed the changes for this feature. I also updated the examples in [pseudo column document](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/pseudo-columns.md#visible-column-list) to reflect these changes.

[2019-02-07 22:07] #757 closed

[2019-02-07 22:12] RFSH commented on #731
This has been merged with master. Assigning to @hongsudt for review, and suggest extra changes if needed.

[2019-02-21 19:50] RFSH commented on #695
The changes for this issue have been merged into master, assigning to @hongsudt for verification.

[2019-02-27 18:50] hongsudt commented on #695
@bugacov can you help review this issue?

[2019-02-27 23:08] bugacov commented on #695
@hongsudt ... This seems to be ok. Here a page in fb dev w/ no comments defined for the system columns and the default comments mach the ones in the issue

https://dev.facebase.org/chaise/record/#1/vocab:prefix/RID=1-4VVR

[2019-02-27 23:14] hongsudt commented on #695
Thanks. I am closing the issue

[2019-02-27 23:14] #695 closed

[2019-03-05 20:39] RFSH opened #764 "Inconsistent Presentation Heuristics For Key and Foreign Key"
The following are how we provide a presentation value for each of the column types:

- Foreign Key Pseudo-column:
  - For the caption: Use the row-name value if possible, otherwise return the presentation value of the constituent columns joined by ":".
  - For the link: If the caption doesn't have `"<a"` in the computed HTML value, add a link to the row.

- Key Pseudo-column (self-link):
  1. If a

[2019-03-11 22:16] RFSH commented on #764
Changes for this has been merged with master. As it is stated in the issue, we are now checking for `a` tag (using `/<a\b.+href=/` regular expression) in the key display. If we don't find any, we're going to add the self-link.

[2019-03-11 22:16] #764 closed

[2019-03-14 00:09] RFSH opened #768 "Add Custom Facets to Default Log"
It should be logged in the same level as facets. We should first look for `location.customFacets.displyname` and log it as `cfacet_str`. If that is not defined, we should log the ermest path in `cfacet_path`.

Regarding truncation, since custom facets are rarely used we should always have a way of knowing whether the action had the custom facet. So even if we ended up truncating the `cfacet_path`

[2019-03-14 20:57] hongsudt opened #769 "hack to replace # with? in the chaise url"
Currently the chaise pages do not get indexed by google. This is either due to the chaise url is not crawable or the page itself is not indexable.

 It seems like google truncate the URL after "#", which prevents it from getting to the chaise page. We want to do a simple hack that replace "#" with "?" so that we can test whether the URLs get crawled. It is ok to make this specific to only the reco

[2019-03-16 01:50] jrchudy commented on #758
Issue moved to [informatics-isi-edu/chaise #1745](https://github.com/informatics-isi-edu/chaise/issues/1745) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-16 01:50] #758 closed

[2019-03-21 20:04] RFSH opened #771 "Change Processing of Export Annotation"
Currently this is how we're processing the annotation:

 1. If the annotation is defined on table.

      1.1. There's no valid template (has type, displayname, and valid outputs) in the defined annotation: Don't show any export template to users.

      1.2. There's at least one valid template: Go through the list of valid templates and if they don't have `outputs`, use the default heuristics `ou

[2019-04-08 20:00] RFSH opened #775 "Display Asset meta data columns (filename, bytecount, etc.) in entry"
Currently we're not allowing these extra columns and the asset column to co-exist in entry context. If the asset is not part of visible-columns, we're going to show these columns and mark them as generated. Otherwise, these columns will be completely removed from the visible-columns. We did this to avoid adding extra logic in chaise, to keep their values in sync with each other.

We should improve

[2019-04-09 00:55] Divyata-Singh opened #776 "IE bug in _replaceDotWithUnderscore() function"
The _replaceDotWithUnderscore() function has a conditional check on the type of parameter on line 4433 in ermrest.js :  val.constructor.name !== "Object" . The JavaScript property Function.prototype.name is not supported in IE (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name#Browser_compatibility). This is preventing the treeview app from being loaded

[2019-04-09 01:14] RFSH commented on #776
Thanks for reporting this. I fixed and pushed it to master ([commit link](https://github.com/informatics-isi-edu/ermrestjs/commit/2a8d7822622ca39bcaef448906792140e10fbdca)). Please let me know if there are any other issues regarding IE support. I'm going to assign it to @Divyata-Singh  for verification.

[2019-04-09 20:24] Divyata-Singh commented on #776
The treeview app is loading properly on Internet Explorer now. I added a list of things incompatible with IE under ermrestjs/docs/dev-docs/javascript-incompatible-with-IE.md .

[2019-04-10 00:42] RFSH opened #778 "Modify Aggregate Pseudo-Column Comment (Tooltip) Default"
Currently we're creating the default tooltip for aggregate pseudo-columns by adding a prefix to the underlying column's displayname. These are the prefixes for each aggregate function:

- min: "Minimum"
- max: "Maximum"
- cnt: "Number of"
- cnt_d: "Number of distinct"
- array: "List of"
- array_d: "List of distinct"

So for example assume you're writing a pseudo-column for table `T1` that another

[2019-04-10 22:36] jrchudy opened #779 "Include add/subtract handlebar helper"
Add 2 new handlebar helper functions, add and subtract. This should be a math utility only and not "concatenate" strings.

[2019-04-10 23:22] #779 closed

[2019-04-12 22:02] jrchudy opened #781 "Add test for export case"
We had a bug reported today that when there is a `2019:export` annotation present for the current `schema:table`, `ermrestJS` will throw an error if you navigated to a context that wasn't defined in the annotation.

My text from chaise channel:

[Commit](https://github.com/informatics-isi-edu/ermrestjs/commit/d045778d3d17eba90649535471f72a48d6d410b7) that fixed the bug.

[2019-04-15 19:29] #776 closed

[2019-04-16 16:57] #781 closed

[2019-04-18 01:03] RFSH opened #785 "Remove Duplicate Columns From Default Export"
In the heuristics for creating the default export template, we're adding some extra outbound foreign keys. This logic is adding duplicated columns.

[2019-04-18 01:07] RFSH opened #786 "Reorder Default Export Columns"
The default export template is using the order that columns are defined in the database. This is confusing since most of the times the `RID` column is pushed to the end of the list, and also a lot of unnecessary columns will be included. We should

- [x] ~~Add RID to the beginning of the projection list~~ (We're already adding the shortestkey first. Unless the table doesn't have any foreignkeys wh

[2019-04-30 20:30] jrchudy commented on #775
I made changes in this [PR in chaise](https://github.com/informatics-isi-edu/chaise/pull/1766) to copy data from the metadata columns, if those values exist. I

[2019-05-01 18:32] RFSH commented on #748
The documentation on how this feature can be used can be found [here](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/pseudo-column-display.md). I am going to close this issue.

[2019-05-01 18:32] #748 closed

[2019-05-01 18:33] RFSH commented on #731
#785 and #786 has been created for further changes regarding this. I am going to close this issue.

[2019-05-01 18:33] #731 closed

[2019-05-01 18:36] #768 closed

[2019-05-01 18:38] RFSH commented on #769
The change to support this has been already merged with master. We also added `cqp` to log the requests that are using `?` instead of `#`. This attribute is attached only to the main request of the page (main entity read in recordset, record, and viewer. create/edit request in recordedit).

[2019-05-01 18:38] #769 closed

[2019-05-01 18:49] RFSH commented on #737
@hongsudt
I'm not sure if this is still needed or not. But with the addition of `markdown_pattern` to the pseudo-column definition, you can use `cnt` aggregate function and manipulate the display to do the presence checking.

[code]

 I'm not sure about performance. Maybe adding a built-in presence-checking aggregate function might be the better option.

[2019-05-03 21:57] RFSH commented on #196
Since we created this issue our parser has evolved a lot. It's still doing string matching instead of actual parsing, but it's more complicated and with the addition of faces it can handle complicated paths. I don't think changing it to an actual parser is feasible anymore. I am going to close this issue.

[2019-05-03 21:57] #196 closed

[2019-05-03 22:00] RFSH commented on #600
@jrchudy I think we can close this issue. This was just an issue in seeding the test data, not a bug in our platform.

[2019-05-06 19:21] #600 closed

[2019-05-07 17:00] RFSH commented on #439
I am going to close this issue. This can be done as part of any task that includes changing a lot of the code  and I don't think we need a separate issue for it.

[2019-05-07 17:00] #439 closed

[2019-05-07 17:24] #479 closed

[2019-05-08 21:17] RFSH opened #788 "default export: use the defined annotation for related tables"
In the logic of generating default export template, we are adding all the related entities and their assets using some heuristics. Instead of relying on heuristics, we might want to get the template from the defined template on that table.

[2019-05-09 22:15] RFSH commented on #788
The export annotation is an array of templates. And the default export template is a `bdbag` of main and related table outputs. So for the default export, each related table will be different `output`s. Therefore the main problem is how we should merge these. What if there are multiple templates defined for the related table? What if none of them are `bdbag`? or if there are more than one `bdbag`?

[2019-05-11 00:31] RFSH opened #789 "Page.content default is adding p tag"
Page.content default is adding p tag which is adding extra spacing between the bullets.

[2019-05-11 00:39] #737 closed

[2019-05-14 00:37] #789 closed

[2019-05-21 23:18] jrchudy opened #791 "RID markdown template"
@jrchudy commented on [Fri May 10 2019](https://github.com/informatics-isi-edu/chaise/issues/1780)

Add a new markdown template that will take an RID value and convert it into a proper resolvable link.

For example:
[code]
will produce:
[code]

Ideally it would be nice if we can find a better syntax to support this.

edit: After some discussion, we decided to change the syntax to be:
[code]

[2019-05-23 19:09] RFSH commented on #778
This has been done in [this commit](https://github.com/informatics-isi-edu/ermrestjs/commit/bfdd6cbb4a55adaa3e78c3302730858d6b2b70fd).

[2019-05-23 19:09] #778 closed

[2019-05-29 18:23] jrchudy opened #795 "Version snaptime inconsistent"
The snaptime at the following [link](https://www.rebuildingakidney.org/chaise/record/#2/Common:Collection/RID=16-E08W) is inconsistent when opening the dialog. It always shows the version warning that you may be looking at stale data.

[2019-05-29 18:41] jrchudy commented on #795
We were comparing the snaptime from 2 different APIs, `ermrest/catalog/<id>` and `ermrest/catalog/<id>/schema`, which would cause the warning dialog to appear in some cases after data was changed even after the user clicked the live link (or refreshed the page if already on the live page).

[2019-05-29 18:41] #795 closed

[2019-06-07 23:56] hongsudt opened #796 "default system column display"
I would like to apply some heuristics for changing the order of the system columns in different context. We need to have a way to turn this heuristics on and off.

For quick implementation, let's try this with chaise-config..

SystemColumnsDisplayCompact = true/false/[array of system columns]
SystemColumnsDisplayDetailed = true/false/[array of system columns]

If true: then apply the heurstics to

[2019-06-11 17:30] #791 closed

[2019-06-14 00:16] RFSH commented on #617
@hongsudt @karlcz

When we designed this we were mainly focused on the source syntax. Which means that we are now going to be able to access pseudo-column in templates that are directly defined in the source syntax (in `visible-columns` and `visible-foreign-keys` annotations).

Since some of the pseudo-column data might not be available on load, we needed a way to signal chaise/ermrestjs when we h

[2019-06-14 19:18] jrchudy commented on #775
@RFSH  does anything more need to be done for this issue?

[2019-06-14 21:40] RFSH commented on #775
We should ask @hongsudt if she still thinks this is needed. The issue title is still not what we're doing and we've just done what I've described as an alternative to improve the UX. We're still removing the metadata columns in entry contexts.

[2019-07-01 20:20] jrchudy commented on #796
For clarification, if an array of system columns is defined, the order doesn't matter. The system columns heuristics will always be applied based on the above description below `Display:`.

The system columns order at the end of the list will always be `RCB, RMB, RCT, RMT`.

[2019-07-02 17:06] RFSH commented on #617
We had a discussion about this. The following are summary of what we agreed on.

Citation:
- Should be implemented.
- _UX should be discussed_.

Column Display, Key Display:
- Should be implemented.

Table Display:

- We should be able to allow `wait_for` in this annotation.
- What the data-modelers will define in this list are sources that are defined for the current table and not the parent tabl

[2019-07-02 21:35] RFSH commented on #785
I fixed this when I created the issue but forgot to actually commit and push it to master. The referenced commit should have fixed it. I added a new test case to cover this scenario too.

Assigning to @hongsudt for verification.

[2019-07-03 01:55] jrchudy commented on #796
Changes for this have been merged into master. Assigning this to @hongsudt .

More info can be found in the [chaise config document](https://github.com/informatics-isi-edu/chaise/blob/master/docs/user-docs/chaise-config.md).

[2019-07-09 18:55] RFSH commented on #617
The first implementation of this feature has been added: [ermrestjs PR](https://github.com/informatics-isi-edu/ermrestjs/pull/797) / [chaise PR](https://github.com/informatics-isi-edu/chaise/pull/1796).

We should be able to use pseudo-columns in the `display` setting for pseudo-columns in `compact` context.

The next steps are:
  - [ ] Supporting `wait_for` in visible-column and visible-foreign-k

[2019-07-11 00:36] RFSH opened #800 "Change Asset Presentation"
Currently if the `filename_column` is not define in the asset annotation and the asset is not from hatrac, only in `compact` context, we're using the last part of url for the caption of the download button. We should change it this way:

- Don't check the context.
- Don't check for `filename_column` being defined or not. As long as its value is null (annotation is not defined or its value in datab

[2019-07-12 20:58] RFSH commented on #786
This has been merged with master. Assigning to @animesh-singh for verification.

With the recent change we modified the default export heuristics to use the `export` context in `visible-columns` annotation instead of the table columns. If the context is not defined, it will fallback to the `detailed` annotation.

Link to [the export document](https://github.com/informatics-isi-edu/ermrestjs/blob/m

[2019-07-13 00:05] RFSH commented on #800
The changes for this has been merged with master. Assigning to @hongsudt  for verification.

You can use this link for testing this: https://dev.gudmap.org/chaise/record/#2/Common:Publication/RID=17-EZ7M

[2019-07-15 21:46] RFSH opened #804 "Add Inline Tables to Default Export Template"
We should create different `csv` outputs for inline tables. The same way that we're doing this for related tables.

[2019-07-15 23:46] RFSH commented on #804
The changes for this are merged with master.

commit: https://github.com/informatics-isi-edu/ermrestjs/commit/0ff610a179a66e6b0a428693b3efa75f989f7793

[2019-07-16 21:47] animesh-singh commented on #786
Hi Aref, I have verified the changes in dev and its looks good.

[2019-07-16 21:48] animesh-singh commented on #804
Hi @RFSH , I have verified the changes in dev and its looks good.

[2019-07-17 00:04] #786 closed

[2019-07-17 00:04] #804 closed

[2019-07-24 01:37] RFSH commented on #617
When we were talking about this feature we didn't mention how this would be useful in faceting. We recently came up with a use case for this.

In [this table](https://dev.rebuildingakidney.org/chaise/recordset/#2/Common:Publication@sort(Year::desc::,Month::desc::,RID::desc::)) we currently are showing a facet for `Gene_Expression:Marker_Gene_Publication` table, but the RID is not very useful to th

[2019-07-25 17:12] #655 closed

[2019-07-25 17:12] #800 closed

[2019-07-25 17:12] #785 closed

[2019-07-27 01:55] jrchudy opened #806 "caption/link for iframe is being reversed"
@RFSH  Hongsuda pointed out that her annotation for the treeview iframe wasn't working properly today at this [link](https://staging.rebuildingakidney.org/chaise/record/#2/Gene_Expression:Specimen/RID=N-GHT2), it wasn't hiding the navbar. She has since changed the annotation, so I'll paste the original contents here:
[code]

Note: I added the new line characters to better read the annotation.

The

[2019-08-09 19:25] RFSH opened #807 "Support facets for array columns"
Currently we're not allowing facets for array columns. We did this because of the confusion that it might cause for users. We don't have a way to get the distinct members of arrays and then allow users to select those.

For now we should do the same thing that we did for jsonb. Which will allow to do exact match of all the array values. We have to do the extra encoding that we did for jsonbs for a

[2019-08-09 19:28] karlcz commented on #807
This is not possible in ermrest. There is no exact-match predicate for array-typed columns.

[2019-08-22 17:32] hongsudt opened #808 "Allow fk columns to not be displayed as links"
The row name of the fks should still work, but provide a way to suppress a link property.

We also discussed about changing the heuristics to turn off automatic fk links in the compact context, but this needs further discussion as it affects existing deployments.

[2019-09-04 19:11] hongsudt commented on #744
The first 2 bullets should be part of the UX mitigation plan to address the custom filter for GUDMAP gene sesarch.

[2019-09-13 17:43] jrchudy commented on #648
https://github.com/arve0/markdown-it-attrs/pull/84

[2019-09-23 18:55] RFSH commented on #808
The following are details based on the discussions that we had about this issue.

1. The option that we are going to add should be context based.

2. We might want to add a global attribute that changes this behavior, so you can define it on schema, table, and foreignkeys.

3. Internally the function that returns the display value for a row is used for these cases:
    - Foreignkey pseudo-column

[2019-09-24 16:48] RFSH commented on #744
### How should we define the list of search columns?
 For defining search columns, we can add define a new context called "search" under `visible-columns`.  DBAs should be able to define pseudo-columns here as well. We might want to define which types of pseudo-columns are allowed here. Does it have to be all-outbound paths?

### What should be the displayed as placeholder in search box?
We are go

[2019-09-24 19:32] RFSH opened #810 "Always use shortestkey for self_link (key pseudo-column)"
Currently you have to make sure the column that you're adding is not-null and unique, and also in entity mode. We should remove the check for entity mode.

[2019-09-24 19:37] RFSH commented on #810
We should also change the link that we're generating for self-links to use the shortestkey. This is to help the caching to make sure users are using the same address.

[2019-09-24 22:02] RFSH opened #811 "Evaluate warning messages in ermrestjs"
I added the warning messages a while ago to print the issues that ermrestjs might find in the annotations. We should take a look at the messages that we're printing and adjust them.

[2019-10-04 23:51] RFSH opened #813 "Add tooltip attribute to markdown"
Currently the tooltips that we're displaying in chaise are using the `uib-tooltip` which is anuglar-ui directive and therefore we cannot use them in the markdown-containers. So we should create another similar tooltip mechanism that solely relies on javascript. That way the data-modelers can define their own tooltips in markdown.

We can define a new `chaise-tooltip` attribute in markdown. And in

[2019-10-08 16:49] RFSH commented on #744
We had a discussion about this feature, the following are important point of it:

### Current main search syntax in facets

Currently the main search is stored as part of facets. If you go to a recordset page with `test` in the main search, the following is what ermrestjs will store in the url as a facet:

[code]

This has been done to make it easer for ermrestjs to parse the url. We're treating `

[2019-10-10 01:54] RFSH commented on #744
We have another discussion about this feature, the following are its results:

- We should not encode anything apart from the search term in the url. The search columns should only come from the annotation.
- We should revisit the syntax for encoding search and remove it from the facets. It should be its own pseudo-operator. We can use the `*::search::<search term>` syntax for it.
- The list of se

[2019-10-10 02:38] karlcz commented on #744
Actually, this isn't quite right.  I think the URL parameter should
just be something like:

  searchbox=encoded-user-text

there is no sense in having the "*" appear anywhere in there. That is
strictly related to the configuration of the searchbox function
which will appear in the annotations.

[2019-10-14 18:01] RFSH commented on #744
@karlcz
ermrsetjs will interpret `searchbox=encoded-user-text` as a filter and I didn't want to add a rule to treat `searchbox` name as the main search box.

That's why I tried to use a different syntax and I thought I should follow the same pattern that ermrest has for binary predicates. I did the same with facets as they are represented in `*::facets::<facet-hash>` format in the url.

So should

[2019-10-18 23:09] #796 closed

[2019-10-21 19:24] RFSH commented on #808
@hongsudt This has been merged with master. I updated the documents to reflect this changes.

- The display annotation changes are explained [here](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/annotation.md#tag-2015-display).
- Pseudo-column `show_foreign_key_links` is [documented](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/pseudo-col

[2019-10-21 19:56] RFSH opened #814 "Add a mechanism to suppress comment (tooltip) values"
There are some automatically generated `comment`s in the server that we don't want users to see.

We should allow the `comment` that is defined in source syntax to accept a new special value to just override that comment and don't add any tooltips. We could use `false` for this.

[2019-10-21 22:32] RFSH commented on #814
This has been done in [this commit](https://github.com/informatics-isi-edu/ermrestjs/commit/926c5e4012a74dbf4e859ff8985e1ffc62e09f13)

[2019-10-21 22:32] #814 closed

[2019-10-22 17:14] RFSH commented on #744
We had another discussion about this. The following is the final draft of what needs to be implemented:

- We should support `sourcekey` in the facet blob.  So the following should be supported:
[code]
  where `some-defined-source-key` is a valid source-definition.

- sourcekey `search-box` is reserved for defining the search columns. The following is how it should be defined:

[code]

- Main sear

[2019-10-22 17:16] RFSH opened #816 "Suppress tooltip of tables and columns"
After doing #814 we realized that we don't provide any mechanism to suppress tooltips of tables or columns that are not defined using the source-syntax. So we decided that we should add a new `comment` field to [display annotation](https://github.com/informatics-isi-edu/ermrestjs/blob/master/docs/user-docs/annotation.md#tag-2015-display) for consistency.

[2019-10-22 23:51] RFSH commented on #617
After discussing briefly about this, we think that we should start supporting pseudo-columns without any source definition. In this case we might want to check for `markdown_name` and `markdown_pattern`,  and invalidate the pseudo-column definition if these two are missing.

[2019-10-31 00:53] RFSH opened #817 "Mustache vs. handlebars doc"
We need new documentation to explain the difference between these two, to make it easier for data modelers to transform their old mustache template into handlebars.  The followings are what comes to my mind:

- Different if statement.
- Restriction in the adjacency of opening and closing tags (`[](){{{{test}}}}` vs `[](){ {{{test}}} }`).
- encode syntax

[2019-11-01 19:12] RFSH opened #818 "rename show_nulls and show_foreign_key_links"
After adding `show_foreign_key_links`, we realized there's no need to use plural language here and we should change it to `show_foreign_key_link`. Plural could cause confusion when you're defining this on a foreign key. The only reason that I used plural was to be consistent with `show_nulls`. But now this brings the other discussion as to why `show_nulls` should be plural?

So we should make both

[2019-11-01 21:27] #818 closed

[2019-11-05 22:43] jrchudy commented on #817
When debugging an annotation with Serban yesterday, we encountered a mustache that required some refactoring. I thought the following was proper syntax but wasn't working:
`{{#if $fkeys.Gene_Expression.Image_Consortium_fkey}}?waterMark={{#encode values.URL}}{{/encode}}{{/if}}`

The structure of `$fkeys` includes the following object hierarchy:
[code]

The above conditional was modified to the foll

[2019-11-06 23:25] svoinea opened #819 "Integer values get grouped by the comma separator"
The link is [record](https://dev.gudmap.org/chaise/record/#2/Gene_Expression:Image/RID=W-RA18).

The annotation is:
[code]
The `Pixels_Per_Meter` is of integer type and its value in the database is `770000`.

With the debugger, I can see in the `chaise/viewer/viewer.app.js` file `context.queryParams.meterScaleInPixels: "770,000"`.

[2019-11-07 01:33] svoinea commented on #819
The problem was fixed by using the raw value of the "Pixels_Per_Meter" (`_Pixels_Per_Meter`).

[2019-11-07 01:33] #819 closed

[2019-11-11 19:59] RFSH commented on #808
Upon reviewing this we decide to rename `show_foreign_key_links` to `show_foreign_key_link` .

[2019-11-22 01:09] #816 closed

[2019-11-25 19:21] RFSH commented on #744
We've merged the first iteration of these changes which include:

- Support `sourcekey` in the facet part of URLs.
- Add basic support of normal columns for the special `search-box` sourcekey.

While implementing this, I spend some time to figure out the ways that we can implement the foreign key paths in the search columns. These are the key points that came to my mind:

- If only one search colu

[2019-12-10 23:05] RFSH opened #823 "ermrestjs should not add key column to reference location on read"
Currently, there's a logic in ermrestjs that checks the sort columns to ensure that there's at least a key column in the list. This is just to ensure that users are always seeing consistent data (if you don't sort based on the columns of a unique key, pagination might not give you the correct result).

This should only be done while ermrestjs is communicating to ermrest and should not be visible t